/* * Base structure */
.dashboard-page .navbar-header .logo{padding-left: 3%;}
.dashboard-page .navbar-header .navbar-brand{font-size: 20px; font-weight: bold; color: #fff; line-height: 50px; margin-left: 20%; margin-top: -80px;}
.dashboard-page .sub-header{padding-bottom: 10px; border-bottom: 1px solid #eee;}
.dashboard-page .navbar-fixed-top{border: 0; height: 79px; line-height: 79px;}
.dashboard-page .sidebar{position: fixed; top: 60px; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px; overflow-x: hidden; overflow-y: auto; background-color: #f5f5f5;}
.dashboard-page .sidebar{background: url(../img/dashboard-sidebar.png) no-repeat;}
.dashboard-page .nav-sidebar{margin-top: 120px; padding-left: 15%;}
.dashboard-page .nav-sidebar > li{height: 79px;}
.dashboard-page .nav-sidebar > li > a{font-size: 14px; color: #333; font-weight: bold; background-color: rgba(255,255,255,0);}
.dashboard-page .nav-sidebar > li > a:hover,
.dashboard-page .nav-sidebar > li > a:focus{color: #ff6600; }
.dashboard-page .mainbody{width: 70%; margin-left: 14%; background-color: #fff; padding: 20px; margin-top: 123px;}
.dashboard-page .mainbody .mainbody-top{background-color: #eee; width: 1170px; margin: 0 auto; padding: 20px; margin-bottom: 20px; -webkit-box-shadow: 3px 3px 9px #999; -moz-box-shadow: 3px 3px 9px #999; -ms-box-shadow: 3px 3px 9px #999; -o-box-shadow: 3px 3px 9px #999; box-shadow: 3px 3px 9px #999;}
.dashboard-page .mainbody .mainbody-top h5{font-size: 14px; font-weight: bold; color: #1d1d1d; }
.dashboard-page .mainbody .mainbody-top .list-group span{font-size: 14px; color: #ff6600;}
.dashboard-page .mainbody .mainbody-top .list-group span i{display: inline-block; width: 1px; font-style: normal; margin-left: 10px; margin-right: 10px;}
.dashboard-page .mainbody .mainbody-main .editPage{padding-left: 0; padding-right: 0;}
.dashboard-page .mainbody .mainbody-main .container{padding-left: 0; padding-right: 0;}
.dashboard-page .mainbody .mainbody-main .create-plan .panel-body a{ background-color:#FA7B00; color: #fff; padding: 7px 7px; margin-left: 6px;}
.dashboard-page .mainbody .page-header{margin-top: 0;}
.dashboard-page .placeholders{margin-bottom: 30px; text-align: center;}
.dashboard-page .placeholders h4{margin-bottom: 0;}
.dashboard-page .placeholder{margin-bottom: 20px;}
.dashboard-page .placeholder img{display: inline-block; border-radius: 50%;}
