
/*重置开始*/
@charset "utf-8";
*{margin:0;padding:0;}
body{font: 'Microsoft Yahei',"微软雅黑","SimSun",Arial; color: #666;font-size: 12px;}
.h1, .h2, .h3, h1, h2, h3{color: #333;}
img{outline: none;border: 0;}
ul li{list-style:none;}
input,select,textarea{outline:none;border:none; background:none;}
textarea{resize:none;}
a{text-decoration:none; color:#656565;}
.clearfix:after{content: '\0020';display: block;height: 0;clear: both;visibility: hidden;}
.fl{float:left;}
.fr{float:right;}
/*重置结束*/

div.c-wrapper{ width: 100%; margin: auto;}
.detail-img{display: block;height: 100%;}
.banner{width:95%; max-width: 1440px; margin:0 auto;}
.owl-theme .owl-controls {text-align: center;position: relative; top: -60px; margin-top:0;}
.owl-theme .owl-controls .owl-page span {width:140px; height: 40px; background-color: #FFF; border-radius: 0; background: url(../img/banner/banner1.jpg); background-size: cover;}
.carousel-inner > .item { height: 500px; }
.carousel-inner > .item > img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); max-height: 800px;  width: 100%; }

/*游客端页面*/
/*网站首页*/
	/*首页共同部分*/
.indexpage .fixedBar{position: fixed; width:36px; top:0; bottom:0; right: 0; background-color:#00b8ee; z-index: 9999; color: #FFF; }
.indexpage .fixedBar ul{margin-top: 280px; text-align: center; }
.indexpage @media screen and (max-height: 800px){.fixedBar ul{margin-top: 180px;}}
.indexpage .fixedBar ul li i{width:36px; height: 36px; line-height: 36px; font-size: 20px;}
.indexpage .fixedBar ul li p{ margin-bottom: 6px;}
.indexpage .fixedBar ul li .kefu{background-image: url(../img/kefu.png); display: inline-block; width:24px; height: 24px;}
.indexpage .topWidth{width:90%; max-width: 1200px; margin:0 auto;}
.indexpage .topWidth .logo img{height: 80px;}
.indexpage .top{height:45px; line-height: 45px;}
.indexpage .topLeft .fa{font-size: 14px; display: inline-block; margin-right: 10px;}
.indexpage .topLeft span{color:#999; }
.indexpage .topLeft a{text-decoration: underline; color:#fa703e; font-weight: bold;}
.indexpage .topRight button{width:64px; height: 25px; line-height: 25px; background-color: #f3f3f3; border:none; vertical-align: middle; color:#999;}
.indexpage .topRight button.active{background-color: #fa703e; color:#FFF; }
.indexpage .topRight button:first-child{margin-right:-4px;}
.indexpage .topRight #version{display: inline-block; width: 40px; height: 45px; line-height: 45px; font-size: 13px; margin-left: 15px; text-align: center; position: relative; top:1px;}
.indexpage .topRight #user{padding: 0;width: 80px;border-radius: 0;background-color: #FFF; font-size: 13px; color:#333;}
.indexpage .sidebar{top: 96px !important;}		
.indexpage nav{width:100%; height: 96px; background-color: #00b8ee;}
.indexpage .navBar{margin-bottom: 10px; padding-top: 5px;}
.indexpage .navBar li{list-style: none; display: inline-block; width:92px; height: 34px; line-height: 34px; color:#FFF; font-size:18px;  text-align:center; }
.indexpage .navBar li.active{background-color: #006583;}
.indexpage .navBar li a{color: #fff; font-weight: bold;}
.indexpage footer{height: 366px; background-color: #4d4d4d; color: #FFF; padding-top: 20px}
.indexpage footer .hr{height: 0; border-top:1px dashed #FFF;margin:10px 0;}
.indexpage footer .info {width: 90%; max-width: 1200px; margin:0 auto;}
.indexpage footer .info .h3{height: 50px; line-height: 40px;}
.indexpage footer .info li{font-size: 16px; line-height: 38px; height: 30px;}
.indexpage footer .info .fa,footer .info .tel{line-height: 50px;}
.indexpage footer .info .fa{font-size: 38px; text-indent: 2px;}
.indexpage footer .info .tel{font-size: 16px;}
.indexpage footer .picList{width:520px;margin: 10px auto;}
.indexpage footer .picList li{display: inline-block; width: 106px; height: 39px; margin-right: 20px;}
.indexpage footer hr{width:90%; margin:20px auto 0;}
.indexpage footer .copyright{height: 20px; line-height: 20px; font-size: 14px; text-align: center;margin:20px 0 30px;}
.indexpage .fixedPos{position: fixed; top:220px;z-index: 9999; left:2.5%; }
.indexpage .fixedPos ul li {width:64px; height: 64px; background-color: #999; color: #FFF; margin-bottom: 1px; line-height: 64px; font-size: 20px; text-align: center;}
.indexpage .fixedPos ul li a{color:#FFF;}
.indexpage .fixedPos ul li#backTop{background:#999 url(../img/toTop.png) no-repeat center center;}
.indexpage .fixedPos ul li.kefu{background:#999 url(../img/kefu.png) no-repeat center center ;}
.indexpage .text-warning { color: #eea236; }
.indexpage .hovereffect .overlay{width:100%; height:100%; position:absolute; overflow:hidden; bottom:0; left:0; opacity:0;background-color:rgba(0,0,0,0.5);-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.indexpage .hovereffect img{display:block; -webkit-transition:all .4s linear; transition:all .4s linear; position: absolute; }
.indexpage .hovereffect .head{text-transform:uppercase; color:#fff; text-align:center;position:absolute; bottom:0; left:0; width: 100%; opacity:0; font-size:17px; background:rgba(0,0,0,0.5);
 		-webkit-transform:translatey(-100px); -ms-transform:translatey(-100px); transform:translatey(-100px); -webkit-transition:all .2s ease-in-out; transition:all .2s ease-in-out; padding:10px; margin-bottom: 0;}
.indexpage .hovereffect .info{text-decoration:none;display:inline-block; text-transform:uppercase; color:#fff; border:1px solid #fff; background-color:transparent; opacity:0; filter:alpha(opacity=0); -webkit-transition:all .2s ease-in-out;
 		transition:all .2s ease-in-out; margin:50px 0 0; padding:7px 14px;}
.indexpage .hovereffect .info:hover{box-shadow:0 0 5px #fff;}
.indexpage .hovereffect:hover img{-ms-transform:scale(1.2) ; -webkit-transform:scale(1.2); transform:scale(1.2);}
.indexpage .hovereffect:hover .overlay{opacity:1; filter:alpha(opacity=100);}
.indexpage .hovereffect:hover .head,.hovereffect:hover .info{opacity:1; filter:alpha(opacity=100); -ms-transform:translatey(0); -webkit-transform:translatey(0); transform:translatey(0);}
.indexpage .hovereffect:hover .info{-webkit-transition-delay:.2s; transition-delay:.2s;}
	/*end 首页共同部分*/
	/*首页主要内容homepage*/
.homepage{background-color: #eaeaea;}
.homepage .carousel-container { background-color: #fff; padding-left: 10%; padding-right: 10%;}
.homepage .well { height:200px; padding: 2px !important; }
.homepage .mid { height:400px; padding: 2px !important;}
.homepage .continent-tit{padding-bottom: 10px; border-bottom: 2px solid #fff;}
.homepage .continent-tit img { width:100%; }
.homepage .nav-buttons button{font-size: 16px; color: #fff; padding: 2px 15px;}
.homepage .nav-buttons .btn-default{background-color: #ccc; }
.homepage .nav-buttons .btn-warning{background-color: #FA713D;}
.homepage .regular-grid  div{ padding: 0; margin: 0; }
.homepage .hovereffect { width:100%; height:100%; float:left; overflow:hidden; position:relative; text-align:center; cursor:default;}
.homepage .hovereffect ul li:first-child{margin-bottom: 10px;}
.homepage .hovereffect li a { font-size: 14px; color: #fff; text-decoration: none; text-align: left;}
.homepage .hovereffect li p{text-align: left; font-size: 14px; color: #fff;}
.homepage .hovereffect li p span{font-size: 16px; color: #e54a1b;}

	/*首页主要内容homepage*/
/*end 网站首页*/

/*方案详情页plandetail*/
.plandetail-page .h1, .plandetail-page .h2, .plandetail-page .h3, .plandetail-page h1, .plandetail-page h2, .plandetail-page h3{margin-top: 0;}
.plandetail-page .widget { height: 370px; margin-top: 30px; }
.plandetail-page .calender { height: 370px; }
.plandetail-page #calendar{width: 100%;}
.plandetail-page .pickmeup { background: #f6fafe; width: 100%; height: 370px; font-size: 16px; }
.plandetail-page .pickmeup .pmu-instance { width: 100%; height: 100%; }
.plandetail-page .pickmeup .pmu-instance nav { height: 50px; line-height: 50px; }
.plandetail-page .pickmeup .pmu-instance nav .pmu-button { float: right; }
.plandetail-page .pickmeup .pmu-instance .pmu-years *, .pickmeup .pmu-instance .pmu-months * { width: 25%; }
.plandetail-page .pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * { line-height: 3em; width: 14.2%; }
.plandetail-page .pickmeup .pmu-instance { padding: 0; }
.plandetail-page .pickmeup .pmu-instance nav { background-color: #00b8ee; border-radius: 5px 5px 0 0; color: #FFF; }
.plandetail-page .pickmeup .pmu-instance nav .pmu-button { color: #fff; }
.plandetail-page .pickmeup .pmu-instance nav.pmu-day-of-week { background-color: #f6fafe; border-radius: 0; color: #000; }
.plandetail-page .pickmeup .pmu-instance .pmu-not-in-month { color: #ccc; }
.plandetail-page .pickmeup .pmu-instance .pmu-selected { background: #b8e9fa; color: #fff; border-radius: 50%; }
.plandetail-page .pickmeup .pmu-instance nav.pmu-day-of-week { padding: 0 20px; }
.plandetail-page .pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * { line-height: 40px; width: 40px; margin: 2px 10px; }
 	/*calender样式结束*/
.plandetail-page .carousel img { height: 370px; width: 100%; margin-top: 15px;}
.plandetail-page .owl-theme .owl-controls { position: relative; top: -40px; }
.plandetail-page .project{ margin-top: 50px;}
.plandetail-page .project h1 { font-size: 24px; font-weight: bold; color: #333;}
.plandetail-page .project .project-main { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding: 10px 0; }
.plandetail-page .project .project-main .imgBox, .project .project-main .planner { float: left; }
.plandetail-page .project .project-main .imgBox { height: 68px; width: 68px; border-radius: 32px; overflow: hidden; margin-right: 20px; }
.plandetail-page .project .project-main .imgBox img { width: 68px; height: 68px; }
.plandetail-page .project .planner h3 { margin-bottom: 24px; }
.plandetail-page .project .planner .vipIcon { display: inline-block; width: 20px; height: 20px; background-image: url(../img/vip.png); margin-left: 10px; }
.plandetail-page .project .planner i { font-size: 20px; text-indent: 10px; color: #fa703e; }
.plandetail-page .project .price { color: #fa703e; height: 24px; line-height: 24px; }
.plandetail-page .project .price span { font-size: 24px; }
.plandetail-page .project .btn-primary { border-color: #00b8ee; background-color: #00b8ee; color: #fff; border-radius: 20px; margin: 10px 0 0; }
.plandetail-page .project .project-main .col-md-2 p { height: 30px; line-height: 30px; }
.plandetail-page .recommendBox, .scheduleBox { border: 1px solid #00b8ee; }
.plandetail-page .recommendBox h2 { background-color: #00b8ee; font-size: 24px; color: #fff; line-height: 50px; text-indent: 10px; text-align: center; margin-top: 0; margin-bottom: 0;}
.plandetail-page .recommendBox ul{padding-top: 15px;}
.plandetail-page .recommendBox ul li { height: 82px; padding: 10px; border-bottom: 1px solid #F5F5F5; }
.plandetail-page .recommendBox ul li img {float: left; height: 60px; width: 60px; }
.plandetail-page .recommendBox ul li .btn-self { height: 16px; border-radius: 8px; font-size: 8px; padding: 0 6px; line-height: 10px; margin-bottom: 6px; }
.plandetail-page .recommendBox ul li .text { float: left; margin-left: 10px;  }
.plandetail-page .recommendBox ul li .text h6 { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-top: 0;}
.plandetail-page .recommendBox ul li .text p { font-size: 10px; color: #fa703e; }
.plandetail-page .recommendBox ul li .text strong { font-size: 14px; }
.plandetail-page .recommendBox p.moreBtn { text-align: center; height: 40px; line-height: 40px; }
	/*更多推荐结束*/
.plandetail-page .scheduleNav { height: 48px; color: #00b8ee; border-bottom: 2px solid #00b8ee; border-top: 1px solid #00b8ee; border-left: 1px solid #00b8ee; border-right: 1px solid #00b8ee; background-color: #fff; z-index: 10;}
.plandetail-page .scheduleNav h2 { font-size: 18px; color: #00b8ee; font-weight: bold; line-height: 46px; text-indent: 20px; margin-top: 0;}
.plandetail-page .scheduleNav .navList ul, .scheduleNav .navList li { display: inline-block; height: 46px; line-height: 46px; }
.plandetail-page .scheduleNav .navList li .btn-default { border-color: #00b8ee; }
.plandetail-page .scheduleNav .navList li button.active{background-color: #00b8ee; color: #FFF;}
.plandetail-page .scheduleNav .navList i { font-size: 30px; line-height: 46px; }
.plandetail-page .address { border-bottom: 1px solid #00b8ee; text-align: left; padding-left: 45px;}
.plandetail-page .address .starter{ position: relative; left: -44px;}
.plandetail-page .address .starter, .address .pass { font-size: 14px; font-weight: bold; color: #333; padding: 5px; }
.plandetail-page .address .starter i, .address .pass i { color: #00b8ee; }
.plandetail-page .address .starter span, .address .pass span{ color: #666;}
.plandetail-page .feature { padding: 10px 0; }
.plandetail-page .feature .tittle { border: 1px solid #00b8ee; float: right; padding: 4px 8px; font-size: 14px;font-weight: bold; color: #00b8ee; }
.plandetail-page .feature .text{ padding-top: 5px;}
.plandetail-page .scheduleDetails ul li h3 { height: 45px; line-height: 45px; border-top: 2px solid #00b8ee; border-bottom: 1px solid #00b8ee; text-align: center; margin-top: 0; margin-bottom: 0;}
.plandetail-page .scheduleDetails li .content { padding: 15px 55px; width: 100%; background-color: #fff;}
.plandetail-page .scheduleDetails .content li { width: 290px; height: 200px; float: left; overflow: hidden; }
.plandetail-page .scheduleDetails .content li:nth-child(3n){ width: 150px; }
.plandetail-page .scheduleDetails .content li:last-child .nextBtn{ display: none; }
.plandetail-page .scheduleDetails .content .picText img { height: 150px; width: 150px; }
.plandetail-page .scheduleDetails .content .picText, .scheduleDetails .content .nextBtn { float: left; }
.plandetail-page .scheduleDetails .content .nextBtn { margin: 0 40px; }
.plandetail-page .scheduleDetails .content .picText { width: 150px; }
.plandetail-page .scheduleDetails .content .nextBtn span { font-size: 60px; height: 150px; line-height: 150px; color: #00b8ee; }
.plandetail-page .scheduleDetails .footer, .comments .footer { height: 44px; background-color: #00b8ee; color: #fff; text-align: center; font-size: 16px; line-height: 46px; }
	/*行程概览结束*/
	/*上传图片功能自定义样式*/
.plandetail-page .featureAlone { border: 1px solid #00b8ee; margin: 10px 0; height: 150px;}
.plandetail-page #orderNotice li { line-height: 28px; height: 28px; }
.plandetail-page .comments { border: 1px solid #00b8ee; }
.plandetail-page .comments h4 { border-bottom: 2px solid #00b8ee; border-top: 1px solid #00b8ee; border-left: 1px solid #00b8ee; border-right: 1px solid #00b8ee; color: #00b8ee; line-height: 46px; margin-top: 0; margin-bottom: 0; padding: 0 20px;}
.plandetail-page .comments h4 a { font-size: 14px; color: #00b8ee; float: right; }
.plandetail-page .comments .commentList li { padding-bottom: 1px solid #00b8ee; padding-bottom: 10px; }
.plandetail-page .comments .commentList li .col-md-2 { text-align: center; }
.plandetail-page .comments .col-md-2 img { height: 60px; width: 60px; }
.plandetail-page .comments .col-md-10 .userId { font-size: 14px; height: 16px; line-height: 16px; margin-bottom: 16px; }
.plandetail-page .comments .col-md-10 .comment-pic li { display: inline-block; }
.plandetail-page .comments .col-md-10 .comment-pic img { width: 80px; height: 80px; }
.plandetail-page .comments .commentTime { float: right; margin-right: 20px; }
.plandetail-page .comments .reply { border: 1px solid #00b8ee; color: #00b8ee; border-radius: 6px; margin-right: 30px; margin-top: 20px; padding: 8px 16px; position: relative; }
.plandetail-page .comments .reply .triangle { width: 22px; height: 20px; background-image: url(../img/triangle.png); background-repeat: no-repeat; position: absolute; top: -18px; left: 30px; }
.plandetail-page .comments .reply span { color: #333; }
.plandetail-page .commentOn { min-height: 270px; border: 1px solid #00b8ee; margin: 10px 0 30px; padding: 0 20px; }
.plandetail-page .commentOn h6 { font-size: 14px; line-height: 50px; height: 50px; color: #00b8ee; }
.plandetail-page .commentOn textarea { border: 1px solid #00b8ee; width: 100%; height: 150px; font-size: 12px; }
.plandetail-page .commentOn .tip { color: #ccc; }
.plandetail-page .commentOn .uploadPic li { width: 80px; height: 80px; border: 1px solid #00b8ee; display: inline-block; }
.plandetail-page .commentOn .uploadPic li img { width: 80px; height: 80px; }
.plandetail-page .commentOn .uploadPic li i { font-size: 40px; color: #00b8ee; }
.plandetail-page .commentOn .commit { float: right; margin-right: 10px; margin-bottom: 10px;}
.plandetail-page .commentOn .commit button { background-color: #00b8ee; border: 1px solid #00b8ee; }
.plandetail-page .commentOn li:last-child { border: none; vertical-align: middle; text-align: center; }
.plandetail-page .commentOn li:last-child i { height: 80px; line-height: 80px; }
/*end 方案详情页plandetail*/

/*end 游客端页面*/


/*导游端预览类页面*/
.container{margin-bottom: 20px;}
.detailpage .h1, .detailpage .h2, .detailpage .h3, .detailpage h1, .detailpage h2, .detailpage h3{margin-top: 0;}
	/*经典方案预览*/
/*.detailpage{position: relative;max-width: 1200px;border: 1px solid #E0E0E0;margin-top: 46px;margin-bottom: 46px;padding: 20px 0;}*/
.detailpage .breadcrumb {background-color: #FFF; text-align: right; margin-bottom: 0;}
.detailpage .breadcrumb li a{font-size: 14px;color: #666;}
.detailpage .carousel{width: 100%;overflow: hidden;margin-top: 80px;}
.detailpage .carousel .carousel-control{width: 10%;}
.detailpage .detailpage-mainbody{padding: 25px 0px;}
.detailpage .detailpage-mainbody .row{margin-left: 0;margin-right: 0;}
.detailpage .detailpage-title h1{font-size: 18px;color: #333; font-weight: bold; margin-bottom: 20px;}
.detailpage .detailpage-title>span{display: inline-block;width: 68px;height: 20px;line-height: 18px;font-size: 12px;color: #666;text-align: center;border: 1px solid #9B9B9B;-webkit-border-radius: 10px;-moz-border-radius: 10px;-ms-border-radius: 10px;-o-border-radius: 10px;border-radius: 10px;}
.detailpage .price-detail{padding: 22px 0;}
.detailpage .price-detail p{font-size: 14px;color: #666;}
.detailpage .price-detail .price{font-size: 16px;color: #ff6600;}
.detailpage .price-detail .price span{color: #ff6600;}
.detailpage .price-detail .plan-description{border-left: 1px solid #ccc;padding-left: 30px;}
.detailpage .price-detail .plan-description h3{font-size: 14px;color: #666;}
.detailpage .price-detail .plan-description p{font-size: 12px;color: #999;}
.detailpage .detailpage-title .guidelist{padding: 5px 10px;border: 1px solid #ccc;-webkit-border-radius: 8px;-moz-border-radius: 8px;-ms-border-radius: 8px;-o-border-radius: 8px;border-radius: 8px;}
.detailpage .detailpage-title .guidelist .guidehead{float: right;}
.detailpage .detailpage-title .guidelist .guidehead img{width: 45px;height: 45px;border: 1px solid #ccc;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;border-radius: 50%;margin-right: 10px;}
.detailpage .detailpage-mainbody .trip, .detailpage .detailpage-mainbody .policy, .detailpage .detailpage-mainbody .service-description,
.detailpage .detailpage-mainbody .product-detail{margin-top: 25px;}
.detailpage .detailpage-mainbody .trip h2, .detailpage .detailpage-mainbody .policy h2,.detailpage .detailpage-mainbody .service-description h2, 
.detailpage .detailpage-mainbody .product-detail h2{font-size: 16px;color: #333;border-bottom: 1px solid #ccc;padding: 10px 0; margin-bottom: 10px;}
.detailpage .detailpage-mainbody .trip p{font-size: 14px;color: #666;}
.detailpage .detailpage-mainbody .policy .des,.detailpage .detailpage-mainbody .service-description .des{padding: 15px 0 30px 80px; white-space: pre;}
.detailpage .detailpage-mainbody .policy .des p{font-size: 14px;color: #666;}
.detailpage .buttons {text-align: center;}
.detailpage .buttons button{margin-left: 20px; background-color: #F1741F;color: #fff;}
.detailpage .buttons #delete{background-color: #898989;}
	/* end 经典方案预览*/
	/*特色方案预览*/
.detailpage .detailpage-mainbody .place-description h2{font-size: 16px;color: #333;}
.detailpage .detailpage-mainbody .place-description ul li{float: left;margin-bottom: 30px;}
.detailpage .detailpage-mainbody .place-description li img{float: left;width: 50%;height: auto;}
.detailpage .detailpage-mainbody .place-description li .placedes{float: left;width: 50%;padding: 10px 60px 0;}
.detailpage .detailpage-mainbody .place-description li .placedes h3{font-size: 16px;color: #333;}
.detailpage .detailpage-mainbody .place-description li .placedes p{font-size: 12px;color: #666;line-height: 24px; text-indent: 2em;}
	/*end 特色方案预览*/
	/*租车预览*/
.detailpage .cardetail-title .guide-headimg{text-align: center;}
.detailpage .cardetail-title .guide-headimg img{display: inline-block;width: 136px;height: 136px;border: 6px solid #fff;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;border-radius: 50%;margin-top: -66px;}
.detailpage .cardetail-title .guide-headimg span{font-size: 18px;font-weight: bold;color: #333;}
.detailpage .cardetail-title .guide-tit h1{font-size: 16px;color: #333; font-weight: bold; margin-bottom: 20px;}
.detailpage .cardetail-title .guide-tit>span{display: inline-block;width: 68px;height: 20px;line-height: 18px;font-size: 12px;color: #666;text-align: center;border: 1px solid #9B9B9B;-webkit-border-radius: 10px;-moz-border-radius: 10px;-ms-border-radius: 10px;-o-border-radius: 10px;border-radius: 10px;}
.detailpage .cardetail-title .guide-tit .price{font-size: 16px; color: #ff6600;}
.detailpage .detailpage-mainbody .pickup-detail p{padding: 15px 0 0 80px;}
	/* end 租车预览*/
	/*景点、美食、住宿、车辆详情、装备详情预览*/
.detailpage .detailpage-mainbody .attraction p{font-size: 16px;color: #333;}
.detailpage .detailpage-mainbody .attraction .price{font-size: 16px;color: #ff6600;}
.detailpage .detailpage-mainbody .service-description .des p{font-size: 14px;color: #666;text-indent: 2em;}
	/*end 景点、美食、住宿、车辆详情、装备详情预览*/
	/*包车、接机、活动预览*/
.detailpage .vihicle-list .vihicle-listbody{ padding: 0 10px;}
.detailpage .vihicle-list ul> li img{display: block; margin: 0 auto; max-width: 95%;}
.detailpage .vihicle-list h2{font-size: 16px; color: #333; border-bottom: 1px solid #ccc; padding: 10px 0; }
.detailpage .vihicle-list>p{text-align: center; font-size: 14px; color: #666; margin-top: 26px;}
.detailpage .detailpage-mainbody .price-box p{font-size: 14px;}
	/*end 包车、接机、活动预览*/
	/*攻略预览*/
.detailpage .tips-mainbody{padding: 25px 10px;}
.detailpage .tips-mainbody .tips-title h1{font-size: 20px;font-weight: bold; color: #000; text-align: center; padding-top: 20px;}
.detailpage .tips-mainbody .tips-description li{list-style: none;}
.detailpage .tips-mainbody .tips-description li h2{position: relative; font-size: 16px; color: #000; border-bottom: 1px solid #FF6700;padding: 10px 0 15px; white-space: pre;}
.detailpage .tips-mainbody .tips-description li span{position: absolute; bottom: 0; left: 0; width: 94px; height: 4px; background-color: #FF6700;}
.detailpage .tips-mainbody .tips-description li img{width: 1120px; height: auto;}
.detailpage .tips-mainbody .tips-description li .tipsdes p{padding: 20px 50px; text-indent: 2em; line-height: 24px; font-size: 14px; color: #666;}
	/*end 攻略预览*/
/*end 导游端预览页*/


/*导游端编辑类页面*/
.editPage.container{width:95%;}
.editPage>div{border:1px solid #e0e0e0; box-shadow: 0 0 3px #e0e0e0; margin-bottom:30px;padding:10px 20px;}
.editPage .breadcrumb {background-color: #FFF; text-align: right; margin-bottom: 0;}
.editPage>div>h4{font-size: 16px; color:#f60; height: 50px; line-height: 50px;}
.editPage .baseInfo form .col-sm-10.col-md-11 input,.editPage .baseInfo form .col-sm-10.col-md-11 textarea{width:70%; display: inline-block;}
.editPage .addImgBtn{display: inline-block; border:3px solid #f60; border-radius: 8px; height: 50px; width:50px; font-size: 40px; color:#f60; line-height: 43px; text-align: center; text-indent: 4px; position: relative; top: 12px;}
.editPage .uploadImg .uploadPic img{width:140px; height: 100px; margin-right: 10px;}
.editPage .uploadImg .row{margin-top: 120px;}
.editPage .uploadImg .col-sm-6 .singleImg{width: 200px; height: 100px; background-color: #ebebeb; border: 1px solid #959595;}
.editPage .labels li{ display: inline-block; width:140px; height: 28px; background: #00b8ee; line-height: 28px;  color:#FFF; text-align: center; font-size: 14px; margin:10px 5px 0;}
.editPage .labels li span{float: right; cursor: pointer;}
.editPage .labels li.addCityBtn{width: 28px; border:2px solid #f60; background-color: #FFF; color:#F60; border-radius: 5px; line-height: 24px }
.editPage .schedule .orangeBtn{background-color: #F60; width:20px; height: 20px; border-radius: 10px; float: right; line-height: 20px; text-align: center; font-size: 24px; color:#FFF; margin-top: 15px; margin-right: 20px; cursor: pointer;}
.editPage .schedule .addDetails li .blueBtn{float: right; width:20px; height: 20px; background-color: #00b8ee; color: #FFF; text-align: center; border-radius: 10px; line-height: 20px; cursor: pointer;}
.editPage .schedule .addDetails li .glyphicon{color: #00b8ee; float: right; margin-right: 10px; height: 20px; width: 20px; line-height: 20px; font-size: 14px; cursor: pointer;}
.editPage .schedule .list-group-item{text-align: center;}
.editPage .schedule .list-group-item.active{color:#f60; background-color: #FFF; border: 1px solid #f60;}
.editPage .schedule .dayBox{ border:2px solid #00b8ee; margin-bottom:20px; }
.editPage .schedule .dayBox>h3{height: 50px; line-height: 50px; border-bottom: 2px solid #00b8ee; text-align: center; }
.editPage .schedule .addCity{padding: 10px 20px; border-bottom: 1px solid #00b8ee;}
.editPage .schedule .addCity .cities li{ display: inline-block; width:140px; height: 28px; background: #00b8ee; line-height: 28px;  color:#FFF; text-align: center; font-size: 14px; margin:10px 5px 0;}
.editPage .schedule .addCity .cities li span{float: right; cursor: pointer;}
.editPage .schedule .addCity .cities li.addCityBtn{width: 28px; border:2px solid #f60; background-color: #FFF; color:#F60; border-radius: 5px; line-height: 24px }
.editPage .schedule .addDetails,.editPage .schedule .addDetails>h4,.editPage .schedule .addDetails>ul{border-bottom: 1px solid #00b8ee;}
.editPage .schedule .addDetails>h4{padding-left: 20px; height: 50px; line-height: 50px; }
.editPage .schedule .addDetails li {padding:10px 20px; height: 120px; border-bottom: 1px dashed #00b8ee;}
.editPage .schedule .addDetails li:last-child{border-bottom: 0;}
.editPage .schedule .addDetails li .detailImg{width:18%; height: 100px; margin-right: 2%; float: left;}
.editPage .schedule .addDetails li .detailImg img{width:100%; height: 100%; }
.editPage .schedule .addDetails li .detailText{width:70%; float: left;}
.editPage .schedule .addDetails li .detailText h5{font-size: 16px; margin-bottom: 20px;}
.editPage .schedule .addDetails li .detailText p{height: 30px; line-height: 30px;}
.editPage .schedule .addAirport li{padding: 10px 20px; height:60px;}
.editPage .schedule .addAirport li .planeIcon{float: left; width:40px; height: 44px; }
.editPage .schedule .addAirport li .planeIcon img{width:40px; height: 44px;}
.editPage .schedule .addAirport li .planeText{float: left; line-height: 22px; width:60%; margin-left: 10px;}
.editPage .schedule .introduction{padding:0 20px 20px;}
.editPage .schedule .introduction>h4{height: 50px; line-height: 50px;}
.editPage .schedule .introduction textarea{border:1px solid #CCC; width:100%;}
.editPage .notice textarea{width:100%; height: 100px;}
.editPage .optionBtn {text-align: right;}
.editPage .optionBtn button{width:110px; height: 38px; margin-left: 20px;}
/*快捷方案*/
.editPage .scheduleShort .col-md-11>div{float:left;}
.editPage .scheduleShort ul li{margin-bottom: 12px;}
.editPage .scheduleShort .singleImg{width:200px; height: 120px; background-color: #ebebeb; border: 1px solid #959595;}
.editPage .scheduleShort .decritionImg{width:60%; padding-left: 20px;}
.editPage .scheduleShort .decritionImg input,.editPage .scheduleShort .decritionImg textarea{width:90%; border:1px solid #CCC;}
.editPage .scheduleShort .decritionImg input{height: 32px; margin-bottom: 6px;}
.editPage .scheduleShort .decritionImg textarea{height: 80px; }
.editPage .scheduleShort form input{width:70%; display: inline-block;}
.editPage .scheduleShort form label{text-align: left;}
/*导游端编辑类页面结束*/

/*base controller*/
.label-base input{outline: none;border: none;background: none;margin: 0;padding: 0;}
.label-base{width:70%;}
.label-base li{ display: inline-block; width:100px; height: 28px; background: #00b8ee; line-height: 28px;  color:#FFF; text-align: center; font-size: 14px; margin:10px 5px 0; position: relative;}
.label-base li:after{content:'/'; position: absolute; right:-10px; color:#000;}
.label-base li:last-child:after{content:''; position: absolute; right:-10px; color:#000;}
.label-base li input{text-align: center; width:70%;}
.label-base li input::-webkit-input-placeholder{color:#ddd;}
.label-base li .glyphicon-remove-circle{float: right; font-size: 14px; color: #fff;}
.label-base li>.addItemBtn{width:100%; height: 100%; background-color: #FFF; border-radius: 0; border:1px dotted #00b8ee; color:#00b8ee; cursor: pointer; }
.imgBox{width:100%; height: 200px;display: inline-block; vertical-align: middle; position: relative;}
.imgBox .glyphicon-remove-circle{position: absolute; font-size: 16px; color:#00b8ee; cursor: pointer; top: -8px; right: -8px; }
.imgBox.addImg{border:1px dashed #ccc; font-size: 60px; text-align: center; color:#CCC; line-height: 200px;}
.imgBox img{width:100%; height: 100%; }
/*base controller end*/

