/*公共部分*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input { margin: 0; padding: 0 }
body { font-size: 12px; font-family: 'Microsoft Yahei', '微软雅黑' }
img { border: none }
li { list-style: none }
input, select, textarea { outline: none; border: none; background: none }
textarea { resize: none }
a { text-decoration: none; color: #656565 }
.clearfix:after { content: ""; display: block; clear: both }
.clearfix { zoom: 1 }
.fl { float: left }
.fr { float: right }
/*公共部分结束*/

/*header部分*/
.topWidth { width: 90%; max-width: 1200px; margin: 0 auto }
.top { height: 45px; line-height: 45px }
.btn-group.open .dropdown-toggle{-webkit-box-shadow:none; box-shadow:none; }
.topLeft .fa { font-size: 14px; display: inline-block; margin-right: 10px }
.topLeft span { color: #999 }
.topLeft a { text-decoration: underline; color: #fa703e; font-weight: bold }
.topLeft a.register { color: #666; text-decoration: none }
.topRight button { width: 64px; height: 25px; line-height: 25px; background-color: #f3f3f3; border: none; vertical-align: middle; color: #999 }
.topRight button.active { background-color: #fa703e; color: #FFF }
.topRight button:first-child { margin-right: -4px }
.topRight #version { display: inline-block; width: 40px; height: 45px; line-height: 45px; font-size: 13px; margin-left: 15px; text-align: center; position: relative; top: 1px }
.topRight #user { padding: 0; width: 80px; border-radius: 0; background-color: #FFF; font-size: 13px; color: #333 }
.topRight #user:focus{border:none; outline: none; box-shadow: none; -webkit-box-shadow:none;}
.logo img { height: 80px }

.navBarBox { width: 100%; height: 48px; background-color: #00b8ee; margin-top:25px; color:#fff; font-size: 14px;}
.navBarBox h2{float:left; height: 48px; line-height: 48px; margin-right: 50px; }
.navBarBox .btn-group{position: relative; top:-6px;}
.navBarBox .btn-group button{background-color: inherit; border: none; box-shadow: none; color:#FFF; height: 48px; line-height: 48px; margin-right: 20px;}

.navBarBox a{color:#fff; display: inline-block; height: 48px; line-height: 48px; }
.navBarBox .search{display: inline-block; width:276px; height: 34px; background-color: #FFF; margin:7px;}
.navBarBox .search span{height: 34px; width:34px; line-height: 34px; color:#ccc; font-size: 18px; text-align: center; cursor: pointer;}
.navBarBox .search input{height: 34px; width:242px; color:#333; position: relative; top: -2px;}
/*header部分结束*/

/*内容部分*/
.contentBox{width:1198px; border:1px solid #00b8ee; margin:20px auto; position: relative;}
.menuLeft{width:217px; height: 100%; border-right: 1px solid #00b8ee; padding: 30px 0 80px; position: absolute; bottom: 0; }
.menuLeft .avatar{margin:0 30px; width:156px; height: 156px;}
.menuLeft .avatar img{height: 156px; width:156px;}
.menuLeft h3{ text-indent: 30px; height: 60px; line-height: 60px;}
.menuLeft .menu li{height: 36px; line-height: 36px; padding-left: 52px; font-size: 16px; }
.menuLeft .menu li a{color:#333;}
.menuLeft .menu li span{display: inline-block; width:12px; height: 12px; background-color: #999; margin-right: 14px;}
.menuLeft .menu li.active{background-color: #fac73e; color:#fff;}
.menuLeft .menu li.active a{color:#FFF;}
.menuLeft .menu li.active span{background-color: #fff;}
.contentRight{min-height: 640px;}
/*内容部分结束*/

/*个人信息页*/
.personInfo{width: 978px; padding:60px 80px;}
.personInfo p{margin-bottom: 20px; text-indent: 40px;}
.personInfo img{width:80px; height:80px; }
.personInfo input[type="text"]{width:200px; height: 30px; border:1px solid #00b8ee; border:1px solid #CCC; border-radius: 0; box-shadow: none; -webkit-box-shadow:none; }
.personInfo input[type="text"]:focus{border:1px solid #00b8ee;}
.personInfo select{width:120px; height: 30px; margin-right: 3%; border: 1px solid #ccc; border-radius: 0; box-shadow: none; padding: 0 6px;}
.personInfo select:focus{border:1px solid #00b8ee; box-shadow: none; -webkit-box-shadow:none;}
/*个人信息页结束*/

/*全部订单页*/
.orderAll{width:978px; padding:25px 35px 50px;}
.orderAll .btn-orange {background-color: #fa703e; border-radius: 0;}
.orderAll .btn-yellow {background-color: #fac73e; border-radius: 0;}
.orderAll .navSecond{border-bottom: 2px solid #00b8ee; height: 36px; padding: 2px 0; }
.orderAll .navSecond li{float: left; height: 30px; line-height: 30px; width:99px; border-right: 1px solid #00b8ee; text-align: center; font-size: 16px;}
.orderAll .navSecond li:last-child{border-right: none;}
.orderAll .navSecond li.active a{color:#00b8ee;}
/*.orderAll .navSecond li a:hover{color:#fa703e;}*/

.orderAll .searchBy{height: 76px; line-height: 76px;}
.orderAll .searchBy input{border:1px solid #999; width:130px; height: 24px; margin-right: 15px; margin-left:10px; text-indent: 4px;}
.orderAll .searchBy .jedate{background-image: url(../img/calendar.png); background-position: top right; background-repeat: no-repeat;}
.orderAll .searchBy .btn{height: 24px; width:72px; border-radius: none; line-height: 24px; padding:0 20px; position: relative; top: -3px;}

.orderAll .orderBy{height: 36px; border:1px solid #999; line-height: 36px; }
.orderAll .orderBy select{width:80px; margin:0 20px;}
.orderAll .orderBy span{float:right; margin-right: 30px;}

.orderAll .orderList>li{border:1px solid #999; margin-top: 10px;}
.orderAll .orderList>li .title{border-bottom: 1px solid #999; height: 38px; line-height: 38px; padding-left: 10px;}
.orderAll .orderList>li input[type="checkbox"]{height: 14px; width:14px; margin:0 14px;}
.orderAll .orderList>li .title h5{display: inline-block; height: 32px; line-height: 32px; font-size: 16px;}
.orderAll .orderList>li .title h5 .contactMe{display: inline-block; width:32px; height: 32px; background-image: url(../../img/talking.png); float:right; margin-left: 10px;}
.orderAll .orderList>li .title .status{margin-right: 30px;}

.orderAll .productList>li{padding: 12px 20px 12px 0; background-color: #FFF;}
.orderAll .productList>li input[type="checkbox"]{float:left; margin:36px 14px;}
.orderAll .productList>li .productPic{ width:156px; height: 86px; float: left; padding-left: 10px;}
.orderAll .productList>li .productPic img{width:156px; height: 86px;}
.orderAll .productList>li .productText{width:560px; height: 86px; float: left; margin-left: 20px; }
.orderAll .productList>li .productText h4, .orderAll .productList>li .productText .description{ text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.orderAll .productList>li .productText h4{margin-bottom: 4px;}
.orderAll .productList>li .productText .description{margin-bottom: 12px;}
.orderAll .productList>li .payBtn{float:right; height: 80px; }
.orderAll .productList>li .payBtn p{color:#fa703e; height: 50px; line-height: 50px; font-size: 18px;}
/*.orderAll .productList>li .payBtn .btn-orange{background-color: #fa703e; border-radius: 0;}*/
/*全部订单页结束*/
