
<div id="cityChooser" class="modal fade" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">选择国家城市</h4>
			</div>
			<div class="modal-body">
					<div style='text-align:center;'><br><br>
						 <select class="selectpicker" data-style="btn-info" data-live-search="true" name ="country" id="country" ></select> </br></br>
						 <select class="selectpicker" data-style="btn-info" data-live-search="true" name ="state" id ="state"></select>  </br> </br>
					</div>
			</div>
			<div class="modal-footer">
				<button id="cityChooserOK" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>
<script language="javascript">
	$(function(){
	    populateCountries("country", "state");
    })
     // first parameter is id of country drop-down and second parameter is id of state drop-down
</script>