<div id="guideChooser" class="modal fade" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">选择</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="col-md-6 form-group" id="guidelist">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="guideChooserOK" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>