<div class="row continent-box">
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <div class="well mid">
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[0].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[0].PlanID}">
            <div class="overlay">
              <ul class="head">
                <li>
                  ${ $data.Plans[0].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[0].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
            </a>
          </div><!-- end hovereffect -->
        </div>
      </div>
    </div>
  </div><!-- end col-md-2 -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          {{if Plans[1]}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[1].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[1].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[1].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[1].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
            </a>
          </div><!-- end hovereffect -->
          {{else}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[0].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[0].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[0].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[0].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div> <!-- end hovereffect -->
          </a>  
          {{/if}}  
        </div><!-- end well -->
      </div>
      <div class="col-md-4">
        <div class="well">
          {{if Plans[2]}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[2].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[2].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[2].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[2].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div><!-- end hovereffect -->
          </a>
          {{else}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[0].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[0].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[0].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[0].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div> <!-- end hovereffect -->
          </a>  
          {{/if}}  
        </div><!-- end well -->
      </div>
      <div class="col-md-4">
        <div class="well">
          {{if Plans[3]}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[3].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[3].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[3].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[3].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div><!-- end hovereffect -->
          </a>
          {{else}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[0].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[0].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[0].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[0].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div> <!-- end hovereffect -->
          </a>  
          {{/if}}  
        </div><!-- end well -->
      </div>
      <div class="col-md-4">
        <div class="well">
          {{if Plans[4]}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[4].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[4].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[4].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[4].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div> <!-- end hovereffect -->
          </a>
          {{else}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[0].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[0].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[0].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[0].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div> <!-- end hovereffect -->
          </a>  
          {{/if}}    
        </div> <!-- end well -->
      </div>
    </div> <!-- end row -->
  </div><!-- end col-md-6 -->
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          {{if Plans[5]}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[5].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[5].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[5].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[5].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div> <!-- end hovereffect -->
          </a>
          {{else}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[0].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[0].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[0].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[0].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div> <!-- end hovereffect -->
          </a>  
          {{/if}}                      
        </div> <!-- end well -->
        <div class="well">
          {{if Plans[6]}}
          <div class="hovereffect">
              <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[6].PicURL}" alt="">
              <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[6].PlanID}">
              <div class="overlay">
                <ul class="head ">
                  <li>
                    ${ $data.Plans[6].PlanName}
                  </li>
                  <li>
                    <p><span>${ $data.Plans[6].PlanPriceBase}</span>元/人</p>
                  </li>
                </ul>
              </div>
          </div> <!-- end hovereffect -->
          </a>  
          {{else}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[0].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[0].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[0].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[0].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div> <!-- end hovereffect --> 
          </a> 
          {{/if}}
        </div><!-- end well -->
      </div><!-- end col-md-12 -->
    </div> <!-- end row -->
  </div><!-- end col-md-2 -->
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          {{if Plans[7]}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[7].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[7].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[7].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[7].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div>
          </a>
          {{else}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[0].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[0].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[0].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[0].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div> <!-- end hovereffect --> 
          </a> 
          {{/if}} 
        </div> <!-- end well -->
        <div class="well">
          {{if Plans[8]}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[8].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[8].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[8].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[8].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div>
          </a>
          {{else}}
          <div class="hovereffect">
            <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.Plans[0].PicURL}" alt="">
            <a class="pull-left" href="#/plandetail?PlanID=${ $data.Plans[0].PlanID}">
            <div class="overlay">
              <ul class="head ">
                <li>
                  ${ $data.Plans[0].PlanName}
                </li>
                <li>
                  <p><span>${ $data.Plans[0].PlanPriceBase}</span>元/人</p>
                </li>
              </ul>
            </div>
          </div> <!-- end hovereffect -->  
          </a>
          {{/if}}      
        </div><!-- end well -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div><!-- end col-md-2 -->
</div> <!-- end row -->



















