
<div class="container editPage">
	<!-- 方案基本信息 -->
	<div class="baseInfo">
		<ul class="breadcrumb">
		  <li><a href="#">产品管理</a> <span class="divider"></span></li>
		  <li><a href="#">服务</a> <span class="divider"></span></li>
		  <li class="active">接送机编辑</li>
		</ul>

		<h4>基本信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">服务名称</label>
		    <div class="col-sm-10 col-md-11">
		        <input type="text" class="form-control" value="${$data.DetailMain[0].serviceName}"  data-value="/DetailMain[0]/serviceName" placeholder="不能超过24个字符">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">服务类型</label>
		    <div class="col-sm-10 col-md-11">
		    	<select name="" id="ServiceTypeChoice" class="form-control" >
		    		<option value="">接机</option>
		    		<option value="">送机</option>
		    	</select>
		        <input type="hidden" class="form-control" id="ServiceTypeName" value="${$data.DetailMain[0].serviceTypeName}"  data-value="/DetailMain[0]/serviceTypeName">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">商品价格</label>
		    <div class="col-sm-10 col-md-11">
		    	<input type="text" class="form-control" value="${$data.DetailMain[0].primaryPrice}"  data-value="/DetailMain/${0}/primaryPrice" > 元/天
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">包含里程</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.DetailMain[0].incMileage}"  data-value="/DetailMain/${0}/incMileage" > 公里
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">额外里程</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.DetailMain[0].exMileagePrice}"  data-value="/DetailMain/${0}/exMileagePrice" > 元/公里
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">免费时间</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.DetailMain[0].serviceTime}"  data-value="/DetailMain/${0}/serviceTime" > 小时
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">超额时间</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.DetailMain[0].serviceOutTimePrice}"  data-value="/DetailMain/${0}/serviceOutTimePrice"> 元/小时
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">服务方式</label>
		    <div class="col-sm-10 col-md-11" id="serviceType">
			    <div id="pickupService">
			    	<label class="radio-inline">
					  <input type="radio" name="serviceType" id="" value="举牌等候" > 举牌等候
					</label>
					<label class="radio-inline"> 
					  <input type="radio" name="serviceType" id="" value="即停即走" checked> 即停即走
					</label>
			    </div>
			    <div id="dropoffService" style="display: none;">
			    	<label class="radio-inline">
					  <input type="radio" name="serviceType2" id="" value="无忧模式" > 无忧模式
					</label>
					<label class="radio-inline">
					  <input type="radio" name="serviceType2" id="" value="即停即走" checked> 即停即走
					</label>
			    </div>		        
		    </div>
			<input type="hidden" class="form-control" id="ServiceMethodName"  value="${$data.DetailMain[0].serviceMethod}"  data-value="/DetailMain/${0}/serviceMethod">

		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">服务描述</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/DetailMain/${0}/description" class="form-control" rows="5" placeholder="请输入不少于300字描述" >${$data.DetailMain[0].description}</textarea>
		    </div>
		  </div>
		</form>
	</div>
	<!-- 方案基本信息结束 -->

	<!-- 机场信息 -->
	<div class="baseInfo airportInfo">
		<h4>机场信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">机场代码</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.Airports.AirportCode}" data-value="/Airports/AirportCode" placeholder="请输入">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">机场名称</label>
		    <div class="col-sm-10 col-md-11">
		        <input type="text" class="form-control" value="${$data.Airports.NameCh}" data-value="/Airports/NameCh" placeholder="请输入">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">英文名称</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.Airports.NameEn}" data-value="/Airports/NameEn" placeholder="请输入">
		    </div> 
		  </div>
		</form>			
		<div class="row textRight">
			<div class="col-sm-10 col-md-8">
			<!-- <button class="btn btn-warning">关联车辆</button> -->
			<button class="btn btn-warning" data-op="change" data-pointer="/Airports" data-action="createAirport">选择</button>
			</div>
		</div>
	</div>
	<!-- 机场信息结束 -->

	<!-- 相册上传 -->
	<div >
		<h4>相册信息</h4>
		<div class="row">
			<div class="col-md-1 ">相册上传:</div>
			<div class="col-md-11 row" >
				{{each $data.DetailMain[0].PicURL}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.DetailMain[0].picURLs[$index]}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/${0}/picURLs/${$index}"></a>
					</div>
				</div>
				{{/each}}
				<div class="col-md-3" data-op="toggle" data-pointer="/DetailMain/${0}/picURLs" data-limit="8">
					<div class="imgBox addImg" data-op="change" data-pointer="/DetailMain/${0}/picURLs/-" data-action="image">+</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 ">封面照片:</div>
			<div class="col-md-11 row" >
				{{if $data.DetailMain[0].CoverPicURL}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.DetailMain[0].CoverPicURL}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/${0}/covers" ></a>
					</div>
				</div>
				{{else}}
				<div class="col-md-3">
					<div class="imgBox addImg"  data-op="change" data-pointer="/DetailMain/${0}/covers" data-action="image" >+</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
	<!-- 相册上传结束 -->

	<!-- 须知信息 -->
	<div class="notice">
		<h4>须知信息</h4>
		<form class="form-horizontal">
		{{each(i,p) Policy}}
			{{if p.PolicyType==1}}
				<div class="form-group">
				    <label for="name" class="col-sm-2 col-md-1 control-label">退订政策：</label>
				    <div class="col-sm-10 col-md-11">
				      <textarea name="" id="Policy" data-value="/Policy/${i}/Description" class="form-control">${p.Description}</textarea>
				    </div>
				</div>
	        {{/if}}
	        {{if p.PolicyType==2}}
				<div class="form-group">
				    <label for="name" class="col-sm-2 col-md-1 control-label">费用包含：</label>
				    <div class="col-sm-10 col-md-11">
				      <textarea name="" id="Policy" data-value="/Policy/${i}/CustomRatio" class="form-control">${p.CustomRatio}</textarea>
				    </div>
				</div>
	        {{/if}}
	        {{if p.PolicyType==3}}
				<div class="form-group">
				    <label for="name" class="col-sm-2 col-md-1 control-label">费用不包含：</label>
				    <div class="col-sm-10 col-md-11">
				      <textarea name="" id="Policy" data-value="/Policy/${i}/CustomRatio" class="form-control">${p.CustomRatio}</textarea>
				    </div>
				</div>
	        {{/if}}
	        {{if p.PolicyType==4}}
				<div class="form-group">
				    <label for="name" class="col-sm-2 col-md-1 control-label">注意事项：</label>
				    <div class="col-sm-10 col-md-11">
				      <textarea name="" id="Policy" data-value="/Policy/${i}/Caution" class="form-control">${p.Caution}</textarea>
				    </div>
				</div>
	        {{/if}}
		{{/each}}
		</form>		
		<div class="optionBtn">
			<button id="save" class="btn btn-warning">保存</button>
			<button id="publish" class="btn btn-warning">发布 </button>
		</div>
	</div>
	<!-- 须知信息结束 -->
</div>

<script>
	$(function(){
		$('#ServiceTypeChoice').on('change',function(){
			var ServiceTypeName = $(this).find('option:selected').text();
			$('#ServiceTypeName').val(ServiceTypeName).trigger('keyup');
			if (ServiceTypeName == '接机') {
				$('#pickupService').show();
				$('#dropoffService').hide();
				var ServiceMethodName = $('#pickupService').find('input:checked').val();
				$('#ServiceMethodName').val(ServiceMethodName).trigger('keyup');
			}else if(ServiceTypeName == '送机'){
				$('#pickupService').hide();
				$('#dropoffService').show();
				var ServiceMethodName = $('#dropoffService').find('input:checked').val();
				$('#ServiceMethodName').val(ServiceMethodName).trigger('keyup');
			}
		});

		$('#serviceType').on('click','input',function(){
			var ServiceMethodName = $(this).val();
			$('#ServiceMethodName').val(ServiceMethodName).trigger('keyup');
		});
	});
</script>

