	
<div class="container editPage">
	<!-- 基本信息 -->
	<div class="baseInfo">
		<ul class="breadcrumb">
		  <li><a href="#">产品管理</a> <span class="divider"></span></li>
		  <li><a href="#">服务</a> <span class="divider"></span></li>
		  <li class="active">其他编辑</li>
		</ul>

		<h4>基本信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">服务名称</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.DetailMain.serviceName}"  data-value="/DetailMain/serviceName" placeholder="不能超过24个字符">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">服务类型</label>
		    <div class="col-sm-10 col-md-11" id="ServiceTypeChoice">
		        <label class="radio-inline">
				  {{if $data.DetailMain.serviceTypeName=='签证'}}<input type="radio" name="serviceType" id="" value="106" checked>  <span>签证</span>{{else}}<input type="radio" name="serviceType" id="" value="106">  <span>签证</span>{{/if}}
				</label>
				<label class="radio-inline">
				  {{if $data.DetailMain.serviceTypeName=='机票'}}<input type="radio" name="serviceType" id="" value="119" checked>  <span>机票</span>{{else}}<input type="radio" name="serviceType" id="" value="119">  <span>机票</span>{{/if}}
				</label>
				<label class="radio-inline">
				  {{if $data.DetailMain.serviceTypeName=='保险'}}<input type="radio" name="serviceType" id="" value="101" checked>  <span>保险</span>{{else}}<input type="radio" name="serviceType" id="" value="101">  <span>保险</span>{{/if}}
				</label>
				<label class="radio-inline">
				  {{if $data.DetailMain.serviceTypeName=='民宿'}}<input type="radio" name="serviceType" id="" value="7" checked>  <span>民宿</span>{{else}}<input type="radio" name="serviceType" id="" value="7">  <span>民宿</span>{{/if}}
				</label>
				<label class="radio-inline">
				  {{if $data.DetailMain.serviceTypeName=='其他'}}<input type="radio" name="serviceType" id="" value="118" checked> <span>其他</span>{{else}}<input type="radio" name="serviceType" id="" value="118"> <span>其他</span>{{/if}}
				</label>
		    </div>
		    <input type="hidden" class="form-control" id="ServiceTypeId"  value="${$data.DetailMain.serviceTypeID}"  data-value="/DetailMain/serviceTypeID">
		    <input type="hidden" class="form-control" id="ServiceTypeName"  value="${$data.DetailMain.serviceTypeName}"  data-value="/DetailMain/serviceTypeName">
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">编辑价格</label>
		    <div class="col-sm-10 col-md-11" id="PriceTypeChoice">
		        <div class="form-group">
				    <label for="" class="col-md-9 control-label" style="text-align: left;">{{if DetailMain.priceType == '1'}}<input type="radio" name="priceType" value="1" checked style="width:20px;">{{else}}<input type="radio" name="priceType" value="1" style="width:20px;">{{/if}}<span>自定义价格</span> 
				    	<input type="text" id="primaryPrice" class="form-control" value="${$data.DetailMain.primaryPrice}"  data-value="/DetailMain/primaryPrice" > 元
				    </label>
				</div>
				<div class="form-group">
				    <label for="" class="col-md-9 control-label" style="text-align: left;">{{if DetailMain.priceType == '2'}}<input type="radio" name="priceType" value="2" style="width:20px;" checked>{{else}}<input type="radio" name="priceType" value="2" style="width:20px;">{{/if}}<span>游客咨询报价</span></label>	
				</div>
		    </div>
		    <input type="hidden" class="form-control" id="PriceType"  value="${$data.DetailMain.priceType}"  data-value="/DetailMain/priceType">
		  </div>
		</form>
	</div>
	<!-- 方案基本信息结束 -->

	<!-- 民宿信息 -->
	<div class="carInfo" id="minsuInfo" style="display: none;">
		<h4>住宿信息</h4>
		<div class="row">
			<div class="col-md-6">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">可入住数</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.houseInfo.person}" data-value="/DetailMain/houseInfo/person" placeholder="请输入" > 人
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">床位数</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.houseInfo.bed}" data-value="/DetailMain/houseInfo/bed" placeholder="请输入"> 张
				    </div>
				  </div>
				  <!-- <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">星级</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.houseInfo.person}" data-value="/houseInfo/person" placeholder="请输入"> 小时
				    </div>
				  </div> -->
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">所在地址</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.houseInfo.address}" data-value="/DetailMain/houseInfo/address"  placeholder="请输入">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label>
				    <div class="col-sm-8 col-md-9">
				    	<div class="input-group">
						  <!-- <span class="input-group-addon" id="phone">+86</span> -->
						  <input class="input-group-addon" id="phone" type="text" value="${$data.DetailMain.houseInfo.zoneCode}" data-value="/DetailMain/houseInfo/zoneCode" style="width: 40px; float: left; height: 34px; padding: 0; }">
						  <input type="text" class="form-control" aria-describedby="phone" value="${$data.DetailMain.houseInfo.tel}" data-value="/DetailMain/houseInfo/tel" >
						</div>
				    </div>
				  </div>
				  <!-- <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">屏蔽日期</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.houseInfo.person}" data-value="/houseInfo/person"  placeholder="请输入">
				    </div>
				  </div> -->
				</form>
			</div>
			<div class="col-md-6">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">房间数</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.houseInfo.room}" data-value="/DetailMain/houseInfo/room" placeholder="请输入"> 间
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">卫生间</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.houseInfo.toilet}" data-value="/DetailMain/houseInfo/toilet" placeholder="请输入"> 个
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">所在城市</label>
				    <div class="col-sm-8 col-md-9">
					    <div class="col-sm-5" style="padding-left: 0"><input type="text" class="form-control" value="${$data.DetailMain.houseInfo.countryNameCn}" data-value="/DetailMain/houseInfo/countryNameCn" style="width: 100%;"></div>
					    <div class="col-sm-5" style="padding-left: 0"><input type="text" class="form-control" value="${$data.DetailMain.houseInfo.cityNameCn}" data-value="/DetailMain/houseInfo/cityNameCn" style="width: 100%;"></div>
					    <div class="col-sm-2"><button type="button" class="btn btn-default btn-sm" data-op="change"  data-pointer="/DetailMain/houseInfo" data-action="createCity">选择城市</button></div>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.houseInfo.zipCode}" data-value="/DetailMain/houseInfo/zipCode" placeholder="请输入">
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
	<!-- 民宿信息结束 -->

	<!-- 相册上传 -->
	<div class="photoInfo">
		<h4>相册信息</h4>
		<div class="row">
			<div class="col-md-1 ">相册上传:</div>
			<div class="col-md-11 row" >
				{{each $data.DetailMain.picURLs}}
				<div class="col-md-3">
					<div class="imgBox">
						<img name="autoPrefix" src="${$data.DetailMain.picURLs[$index]}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/picURLs/${$index}"></a>
					</div>
				</div>
				{{/each}}
				<div class="col-md-3" data-op="toggle" data-pointer="/DetailMain/picURLs" data-limit="8">
					<div class="imgBox addImg" data-op="change" data-pointer="/DetailMain/picURLs/-" data-action="image">+</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 ">封面照片:</div>
			<div class="col-md-11 row" >
				{{if $data.DetailMain.coverURL}}
				<div class="col-md-3">
					<div class="imgBox">
						<img name="autoPrefix" src="${$data.DetailMain.coverURL}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/coverURL" ></a>
					</div>
				</div>
				{{else}}
				<div class="col-md-3">
					<div class="imgBox addImg"  data-op="change" data-pointer="/DetailMain/coverURL" data-action="image" >+</div>
				</div>
				{{/if}}
			</div>
		</div>
	<!-- 相册上传结束 -->
	</div>

	<!-- 服务描述 -->
	<div class="scheduleShort clearfix">
		<h4>服务描述</h4>
		<div class="row">
			<div class="col-md-offset-1 col-md-6">
				<ul class="functionBtn">
					<!-- <li data-op="remove" data-pointer="/Travelogue/TravelogueDetail/${$index}"><span class="glyphicon glyphicon-remove"></span>删除</li> -->
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=-1 data-action="insertDay"><span class="glyphicon glyphicon-bookmark"></span>插入段落</li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=-1 data-action="insertPicture"><span class="glyphicon glyphicon-picture"></span>插入图片</li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=-1 data-action="insertContent"><span class="glyphicon glyphicon-list-alt"></span>插入描述</li>
				</ul>
			</div>
		</div>
		{{each $data.DetailMain.TravelogueDetail}}
		{{if label}}
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-offset-1 col-md-6">
						<div class="row">
							<label   class="col-md-2 control-label">段落标题</label>
							<div class="col-md-10">
								<input type="text" class="form-control"  value="${label}"  data-value="/DetailMain/TravelogueDetail/${$index}/label" placeholder="标题">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-6">
						<ul class="functionBtn">
							<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertDay"><span class="glyphicon glyphicon-bookmark"></span>插入段落</li>
							<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertPicture"><span class="glyphicon glyphicon-picture"></span>插入图片</li>
							<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertContent"><span class="glyphicon glyphicon-list-alt"></span>插入描述</li>
							<li data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}"><span class="glyphicon glyphicon-remove"></span>删除</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{{/if}}

		{{if label==null}}{{if content==null}}{{if articleID}}
		<div class="row">
			<div class="col-md-offset-2 col-md-3">
				<div class="row">
					{{if picURL}}
					<div class="col-md-12">
						<div class="imgBox">
							<img name="autoPrefix"  src="${picURL}">
							<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL"></a>
						</div>
					</div>
					{{/if}}
					<div class="col-md-12" data-op="toggle" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL" data-limit="1">
						<div class="imgBox addImg" data-op="change" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL" data-action="image">+</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-6">
				<ul class="functionBtn">
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertDay"><span class="glyphicon glyphicon-bookmark"></span>插入段落</li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertPicture"><span class="glyphicon glyphicon-picture"></span>插入图片</li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertContent"><span class="glyphicon glyphicon-list-alt"></span>插入描述</li>
					<li data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}"><span class="glyphicon glyphicon-remove"></span>删除</li>
				</ul>
			</div>
		</div>
		{{/if}}{{/if}}{{/if}}
		{{if PE}}
		<div class="row">
			<div class="col-md-offset-2 col-md-3">
				<div class="row">
					{{if picURL}}
					<div class="col-md-12">
						<div class="imgBox">
							<img name="autoPrefix"  src="${picURL}">
							<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL"></a>
						</div>
					</div>
					{{/if}}
					<div class="col-md-12" data-op="toggle" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL" data-limit="1">
						<div class="imgBox addImg" data-op="change" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL" data-action="image">+</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-6">
				<ul class="functionBtn">
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertDay"><span class="glyphicon glyphicon-bookmark"></span>插入段落</li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertPicture"><span class="glyphicon glyphicon-picture"></span>插入图片</li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertContent"><span class="glyphicon glyphicon-list-alt"></span>插入描述</li>
					<li data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}"><span class="glyphicon glyphicon-remove"></span>删除</li>
				</ul>
			</div>
		</div>
		{{/if}}

		{{if content }}
		<div class="row">
			<div class="col-md-offset-1 col-md-6">
				<div class="introduction">
					<textarea name="" rows="6" data-value="/DetailMain/TravelogueDetail/${$index}/content" style="background-color: #fcf8e3;" placeholder="请输入描述">${ content}</textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-6">
				<ul class="functionBtn">
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertDay"><span class="glyphicon glyphicon-bookmark"></span>插入段落</li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertPicture"><span class="glyphicon glyphicon-picture"></span>插入图片</li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertContent"><span class="glyphicon glyphicon-list-alt"></span>插入描述</li>
					<li data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}"><span class="glyphicon glyphicon-remove"></span>删除</li>
				</ul>
			</div>
		</div>
		{{/if}}
		{{/each}}
		<!-- <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="btn-group" style="width: 100%;">
                    <a class="btn btn-warning" style="width:33%" href="javascript:void(0)" data-op="change" data-pointer="/Travelogue/TravelogueDetail/-" data-action="createDay">添加段落</a>
                    <a class="btn btn-warning" style="width:33%" href="javascript:void(0)" data-op="change" data-pointer="/Travelogue/TravelogueDetail/-" data-action="createPicture">添加图片</a>
                    <a class="btn btn-warning" style="width:33%" href="javascript:void(0)" data-op="change" data-pointer="/Travelogue/TravelogueDetail/-" data-action="createContent">添加描述</a>
                </div>
            </div>
        </div> -->
	</div>
	<!-- 服务描述结束 -->

	<!-- 须知信息 -->
	<div class="notice">
		<h4>须知信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">退订政策：</label>
		    <div class="col-sm-10 col-md-11">
		      <button type="button" class="btn btn btn-warning" data-toggle="modal" data-target="#policydiv" style="margin-bottom: 8px; background-color: #FF6600; padding: 5px;">请选择退订政策</button>
			    <div id="policyView">
			    {{if $data.DetailMain.policy[0].type == '4'}}
					<h3>${$data.DetailMain.policy[0].policyName}</h3>
					<p>${$data.DetailMain.policy[0].description}</p>
			    {{else}}
			    	<h3>${$data.DetailMain.policy[0].policyName}</h3>
					<p>1、服务开始前${$data.DetailMain.policy[0].day1}天(含)以上退订，退还服务费用的99%；</p>
					<p>2、服务开始前${$data.DetailMain.policy[0].day2}天(含)以上退订，退还服务费用的50%；</p>
					<p>3、服务开始前${$data.DetailMain.policy[0].day3}天(含)以上退订，退还服务费用的20%；</p>
					<p>4、服务开始前${$data.DetailMain.policy[0].day4}天以内退订，不退还服务费用；</p>
					<p>5、导游未及时接单或拒绝订单，全额退还服务费用</p>
				{{/if}}				
			    </div>
		    </div>
			<!-- 退订政策弹出框 -->
			<div id="policydiv" class="modal fade">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">
		          	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		          </button>
		          <h4 class="modal-title clearfix">退订政策</h4>
		        </div>
		        <div class="modal-body">
		        	<ul>
			        	<li class="row policybox">
				        	<!-- <div class="title clearfix"></div> -->
							<div class="main">
								<div class="col-md-2">
									<input type="radio" class="col-md-2" id="returnOption1" name="optionsRadios" value="1">
								</div>
								<div id="policycontent1" class="col-md-10">
									<h3>严格的退订政策</h3>
									<p>1、服务开始前14天(含)以上退订，退还服务费用的99%；</p>
									<p>2、服务开始前7天(含)至14天退订，退还服务费用的50%；</p>
									<p>3、服务开始前3天(含)至7天退订，退还服务费用的20%；</p>
									<p>4、服务开始前3天以内退订，不退还服务费用；</p>
									<p>5、导游未及时接单或拒绝订单，全额退还服务费用</p>
								</div>
							</div>
				        </li>
				        <li class="row policybox">
				        	<!-- <div class="title clearfix"></div> -->
							<div class="main">
								<div class="col-md-2">
									<input type="radio" class="col-md-2" id="returnOption2" name="optionsRadios" value="2">
								</div>
								<div id="policycontent2" class="col-md-10">
									<h3>中等的退订政策</h3>
									<p>1、服务开始前14天(含)以上退订，退还服务费用的99%；</p>
									<p>2、服务开始前7天(含)至14天退订，退还服务费用的50%；</p>
									<p>3、服务开始前3天(含)至7天退订，退还服务费用的20%；</p>
									<p>4、服务开始前3天以内退订，不退还服务费用；</p>
									<p>5、导游未及时接单或拒绝订单，全额退还服务费用</p>
								</div>
							</div>
				        </li>
				        <li class="row policybox">
				        	<!-- <div class="title clearfix "></div> -->
							<div class="main">
								<div class="col-md-2">
									<input type="radio" class="col-md-2" id="returnOption3" name="optionsRadios" value="3">
								</div>
								<div id="policycontent3" class="col-md-10">
									<h3>宽松的退订政策</h3>
									<p>1、服务开始前14天(含)以上退订，退还服务费用的99%；</p>
									<p>2、服务开始前7天(含)至14天退订，退还服务费用的50%；</p>
									<p>3、服务开始前3天(含)至7天退订，退还服务费用的20%；</p>
									<p>4、服务开始前3天以内退订，不退还服务费用；</p>
									<p>5、导游未及时接单或拒绝订单，全额退还服务费用</p>
								</div>
							</div>
				        </li>
						<li class="row policybox">
							<!-- <div class="title clearfix "></div> -->
							<div class="main">
								<div class="col-md-2">
									<input type="radio" class="col-md-2" id="returnOption4" name="optionsRadios" value="4">
								</div>
								<div id="policycontent5" class="col-md-10">
									<h3>不可退订</h3>
									<p>任何时候退订，不退还服务费用</p>
								</div>
							</div>
						</li>
				        <li class="row policybox">
				        	<!-- <div class="title clearfix"></div> -->
							<div class="main">
								<div class="col-md-2">
									<input type="radio" class="col-md-2" id="option5" name="optionsRadios" value="5">
								</div>
								<div id="policycontent4" class="col-md-10">
									<h3>自定义的退订政策</h3>
									<p>1、服务开始前<input type="text" value="${$data.DetailMain.policy[0].day1}" data-value="/DetailMain/policy/${0}/day1">天(含)以上退订，退还服务费用的99%；</p>
									<p>2、服务开始前<input type="text" value="${$data.DetailMain.policy[0].day2}" data-value="/DetailMain/policy/${0}/day2">天(含)以上退订，退还服务费用的50%；</p>
									<p>3、服务开始前<input type="text" value="${$data.DetailMain.policy[0].day3}" data-value="/DetailMain/policy/${0}/day3">天(含)以上退订，退还服务费用的20%；</p>
									<p>4、服务开始前<input type="text" value="${$data.DetailMain.policy[0].day4}" data-value="/DetailMain/policy/${0}/day4">天以内退订，不退还服务费用；</p>
									<p>5、导游未及时接单或拒绝订单，全额退还服务费用</p>
								</div>
							</div>
				        </li>
					</ul>
		        </div> <!-- end modal-body -->
		        <div class="modal-footer">
		          <button type="button" id="policyconfirm" class="btn btn-primary" data-dismiss="modal">确定</button>
		        </div>
		      </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- 退订政策弹出框 -->
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">费用包含：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/DetailMain/policy/1/customRatio" class="form-control">${$data.DetailMain.policy[1].customRatio}</textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">费用不包含：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/DetailMain/policy/2/customRatio" class="form-control">${$data.DetailMain.policy[2].customRatio}</textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">预订须知：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/DetailMain/policy/3/caution" class="form-control">${$data.DetailMain.policy[3].caution}</textarea>
		    </div>
		  </div>
		</form>
		<div class="optionBtn">
			<button id="saveOther" class="btn btn-warning">保存</button>
			<button id="publish" class="btn btn-warning">发布 </button>
		</div>
	</div>
	<input type="hidden" id="type" data-value="/DetailMain/Policy/0/type"/>
 
	<!-- 须知信息结束 -->
</div>


<script>
	$(function(){
		

	});
</script>





