
<div class="container editPage">
	<!-- 方案基本信息 -->
	<div class="baseInfo">
		<ul class="breadcrumb">
		  <li><a href="#">产品管理</a> <span class="divider"></span></li>
		  <li class="active">景点编辑</li>
		</ul>

		<h4>基本信息</h4>
		<form class="form-horizontal">
			<div class="form-group">
			    <label for="name" class="col-sm-2 col-md-1 control-label">商品名称</label>
			    <div class="col-sm-10 col-md-11">
			      <input type="text" class="form-control"  value="${$data.SpotDetail.NameCh}" data-value="/SpotDetail/NameCh" placeholder="不能超过24个字符">
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 col-md-1 control-label">英文名称</label>
			    <div class="col-sm-10 col-md-11">
			      <input type="text" class="form-control" value="${$data.SpotDetail.NameEn}" data-value="/SpotDetail/NameEn" placeholder="请输入">
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 col-md-1 control-label">建议游玩</label>
			    <div class="col-sm-10 col-md-11">
			      <input type="text" class="form-control" value="${$data.SpotDetail.TravelTime}" data-value="/SpotDetail/TravelTime" placeholder="请输入"> 小时
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 col-md-1 control-label">所在地址</label>
			    <div class="col-sm-10 col-md-11">
			      <input type="text" class="form-control" value="${$data.SpotDetail.Address}" data-value="/SpotDetail/Address" placeholder="请输入">
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 col-md-1 control-label">所在城市</label>
			    <div class="col-sm-10 col-md-11">
			      <input type="text" class="form-control" value="${$data.SpotDetail.CountryName}" data-value="/SpotDetail/CountryName" placeholder="请输入">
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 col-md-1 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编</label>
			    <div class="col-sm-10 col-md-11">
			      <input type="text" class="form-control" value="${$data.SpotDetail.ZipCode}" data-value="/SpotDetail/ZipCode" placeholder="请输入">
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 col-md-1 control-label">区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
			    <div class="col-sm-10 col-md-11">
			      <input type="text" class="form-control" value="${$data.SpotDetail.ZoneCode}" data-value="/SpotDetail/ZoneCode" placeholder="请输入">
			    </div>
			</div>
			<div class="form-group">
		      	<label for="" class="col-sm-2 col-md-1 control-label">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label>
		      	<div class="col-sm-10 col-md-11">
		      		<div class="input-group">
		  		  		<span class="input-group-addon" id="phone">+86</span>
		  		  		<input type="text" class="form-control" aria-describedby="phone" value="${$data.SpotDetail.Tel}" data-value="/SpotDetail/Tel">
		  			</div>
		      	</div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 col-md-1 control-label">景点分类</label>
			    <div class="col-sm-10 col-md-11">
			        <ul class="label-base">
			        	{{each $data.SpotDetail.SpotLabels}}
						<li><input type="text" value="${$data.SpotDetail.SpotLabels[$index].ClassifyLabel}" data-value="/SpotDetail/SpotLabels/${$index}/ClassifyLabel" placeholder="点击输入"><a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/SpotDetail/SpotLabels/${$index}/ClassifyLabel"></a></li>
						{{/each}}
						<li><div class="addItemBtn" data-op="change" data-pointer="/SpotDetail/SpotLabels/${$index}-" data-action="createLabel"> + </div></li>
					</ul>
			    </div>
			</div>	
		  <!-- <div class="form-group">
		    <label for="adultPrice" class="col-sm-2 col-md-1 control-label">成人价格</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" id="adultPrice" value="${$data.SpotDetail.AdultPrice}" data-value="/SpotDetail/AdultPrice" placeholder="请输入数字"> 元/人
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="childPrice" class="col-sm-2 col-md-1 control-label">儿童价格</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" id="childPrice" value="$($data.SpotDetail.KidPrice)" data-value="/SpotDetail/KidPrice" placeholder="请输入数字"> 元/人
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="studentPrice" class="col-sm-2 col-md-1 control-label">学生价格</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" id="studentPrice" value="${$data.SpotDetail.StudentPrice}" data-value="/SpotDetail/StudentPrice" placeholder="请输入数字"> 元/人
		    </div>
		  </div> -->
		</form>
	</div>
	<!-- 方案基本信息结束 -->

	<!-- 相册上传 -->
	<div class="photoInfo">
		<h4>相册信息</h4>		
		<div class="row">
			<div class="col-md-1 ">相册上传：</div>
			<div class="col-md-11 row" >
				{{each $data.SpotDetail.SpotPics}}
				{{if $data.SpotDetail.SpotPics[$index].PicURL}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.SpotDetail.SpotPics[$index].PicURL}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/SpotDetail/SpotPics/${$index}/PicURL"></a>
					</div>
				</div>
				{{/if}}
				{{/each}}
				<div class="col-md-3" data-op="toggle" data-pointer="/SpotDetail/SpotPics/${0}/PicURL" data-limit="8">
					<div class="imgBox addImg" data-op="change" data-pointer="/SpotDetail/SpotPics/-/PicURL" data-action="image">+</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 ">封面照片：</div>
			<div class="col-md-11 row" >
				{{if $data.SpotDetail.PicURL}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.SpotDetail.PicURL}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/SpotDetail/PicURL" ></a>
					</div>
				</div>
				{{else}}
				<div class="col-md-3">
					<div class="imgBox addImg"  data-op="change" data-pointer="/SpotDetail/PicURL" data-action="image" >+</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
	<!-- 相册上传结束 -->

	<!-- 须知信息 -->
	<div class="notice spotDescription">
		<h4>景点描述</h4>
		<textarea name="" id="" data-value="/SpotDetail/Description" placeholder="可输入1200字">${$data.SpotDetail.Description}</textarea>
		<div class="optionBtn">
			<button id="save" class="btn btn-warning">保存</button>
			<button id="publish" class="btn btn-warning">发布 </button>
		</div>
	</div>
	<!-- 须知信息结束 -->
</div>

