
<div class="container editPage">
	<!-- 方案基本信息 -->
	<div class="baseInfo">
		<ul class="breadcrumb">
		  <li><a href="#">产品管理</a> <span class="divider"></span></li>
		  <li><a href="#">服务</a> <span class="divider"></span></li>
		  <li class="active">包车编辑</li>
		</ul>

		<h4>基本信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">服务名称</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.DetailMain.serviceName}" data-value="/DetailMain/serviceName" placeholder="不能超过24个字符">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">编辑价格</label>
			  <div class="col-sm-10 col-md-11">
				  <input type="text" class="form-control" value="${$data.DetailMain.primaryPrice}"
									data-value="/DetailMain/primaryPrice"> 元/天
			  </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">包含里程</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.DetailMain.incMileage}" data-value="/DetailMain/incMileage"> 公里
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">额外里程</label>
		    <div class="col-sm-10 col-md-11">
				<input type="text" class="form-control" value="${$data.DetailMain.exMileagePrice}" data-value="/DetailMain/exMileagePrice"> 元/公里
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">包含时间</label>
		    <div class="col-sm-10 col-md-11">
				<input type="text" class="form-control" value="${$data.DetailMain.freeForDelay}" data-value="/DetailMain/freeForDelay"> 小时
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">额外时间</label>
		    <div class="col-sm-10 col-md-11">
				<input type="text" class="form-control" value="${$data.DetailMain.waitOutTimePrice}" data-value="/DetailMain/waitOutTimePrice"> 元/小时
		    </div>
		  </div>
		</form>
	</div>
	<!-- 方案基本信息结束 -->

	<!-- 车辆信息 -->
	<div class="carInfo">
		<h4>车辆信息</h4>
		<div class="row">
			<div class="col-md-6">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">车辆品牌</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.facilities[0].brand}" data-value="/DetailMain/facilities/${0}/brand" disabled id="carBrand">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">舒适乘坐</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.facilities[0].person}" data-value="/DetailMain/facilities/${0}/person" disabled id="carPerson"> 人
				    </div> 
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">车辆级别</label>
				    <div class="col-sm-8 col-md-9" id="carClazz">
				        <label class="radio-inline">
				        {{if DetailMain.facilities[0].clazz == '1'}}
						  <input type="radio" name="clazzType" id="clazzRadio1" value="经济" checked disabled> 经济
				        {{else}}
				          <input type="radio" name="clazzType" id="clazzRadio1" value="经济" disabled> 经济
				        {{/if}}
						</label>
						<label class="radio-inline">
						{{if DetailMain.facilities[0].clazz == '2'}}
						  <input type="radio" name="clazzType" id="clazzRadio2" value="舒适" checked disabled> 舒适
						{{else}}
						  <input type="radio" name="clazzType" id="clazzRadio2" value="舒适" disabled> 舒适
						{{/if}}
						</label>
						<label class="radio-inline">
						{{if DetailMain.facilities[0].clazz == '3'}}
						  <input type="radio" name="clazzType" id="clazzRadio3" value="豪华" checked disabled> 豪华
						{{else}}
						  <input type="radio" name="clazzType" id="clazzRadio3" value="豪华" disabled> 豪华
						{{/if}}
						</label>
				    </div>
				  </div>
				</form>
			</div>
			<div class="col-md-6">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">车辆型号</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.facilities[0].model}" data-value="/DetailMain/facilities/${0}/model" disabled id="carModel">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">行李空间</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.facilities[0].luggage}" data-value="/DetailMain/facilities/${0}/luggage" disabled id="carLuggage">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">成员保险</label>
				    <div class="col-sm-8 col-md-9" id="carInsurance">
				        <label class="radio-inline">
				        {{if DetailMain.facilities[0].insurance == '1'}}
						  <input type="radio" name="insuranceType" id="insuranceRadio1" value="有" checked disabled> 有
				        {{else}}
				          <input type="radio" name="insuranceType" id="insuranceRadio1" value="有" disabled> 有
				        {{/if}}
						</label>
						<label class="radio-inline">
						{{if DetailMain.facilities[0].insurance == '0'}}
						  <input type="radio" name="insuranceType" id="insuranceRadio2" value="无" checked disabled> 无
						{{else}}
				          <input type="radio" name="insuranceType" id="insuranceRadio2" value="无" disabled> 无
				        {{/if}}
						</label>
				    </div>
				    <input type="hidden" class="form-control" id="facilityID" value="${$data.DetailMain.facilities[0].facilityId}"  data-value="/DetailMain/facilities/${0}/facilityId">
				  </div>
				</form>
			</div>
		</div>
		<div class="row textRight">
			<button class="btn btn-warning"  data-toggle="modal" data-target="#carList">关联车辆</button>
		</div>
	</div>
	<!-- 车辆信息结束 -->


	<!-- 相册上传 -->
	<div class="photoInfo">
		<h4>相册信息</h4>
		<div class="row">
			<div class="col-md-1 ">相册上传:</div>
			<div class="col-md-11 row" >
				{{each(i,itemtem) $data.DetailMain.picURLs}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${itemtem}" name="autoPrefix">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/picURLs/${i}"></a>
					</div>
				</div>
				{{/each}}
				<div class="col-md-3" data-op="toggle" data-pointer="/DetailMain/picURLs" data-limit="8">
					<div class="imgBox addImg" data-op="change" data-pointer="/DetailMain/picURLs/-" data-action="image">+</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 ">封面照片:</div>
			<div class="col-md-11 row" >
				{{if DetailMain.coverURL}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.DetailMain.coverURL}" name="autoPrefix">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/coverURL" ></a>
					</div>
				</div>
				{{else}}
				<div class="col-md-3">
					<div class="imgBox addImg"  data-op="change" data-pointer="/DetailMain/coverURL" data-action="image" >+</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
	<!-- 相册上传结束 -->

	<!-- 服务描述 -->
	<div class="scheduleShort clearfix">
		<h4>服务描述</h4>
		<div class="row">
			<div class="col-md-offset-1 col-md-6">
				<ul class="functionBtn">
					<!-- <li data-op="remove" data-pointer="/Travelogue/TravelogueDetail/${$index}"><span class="glyphicon glyphicon-remove"></span>删除</li> -->
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=-1 data-action="insertDay"><span class="glyphicon glyphicon-bookmark">&nbsp;</span>添加标题</li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=-1 data-action="insertPicture"><span class="glyphicon glyphicon-picture">&nbsp;</span>添加图片</li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=-1 data-action="insertContent"><span class="glyphicon glyphicon-list-alt">&nbsp;</span>添加描述</li>
				</ul>
			</div>
		</div>
		{{each $data.DetailMain.TravelogueDetail}}
		{{if label}}
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-offset-1 col-md-6">
						<div class="row">
							<label   class="col-md-2 control-label text-right">段落标题</label>
							<div class="col-md-10">
								<input type="text" class="form-control"  value="${label}"  data-value="/DetailMain/TravelogueDetail/${$index}/label" placeholder="标题">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-6">
						<ul class="functionBtn">
							<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertDay"  title="添加标题"><span class="glyphicon glyphicon-bookmark"></span><!-- 插入段落 --></li>
							<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertPicture"  title="添加图片"><span class="glyphicon glyphicon-picture"></span><!-- 插入图片 --></li>
							<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertContent"  title="添加描述"><span class="glyphicon glyphicon-list-alt"></span><!-- 插入描述 --></li>
							<li data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}"><span class="glyphicon glyphicon-remove">&nbsp;</span>删除</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{{/if}}

		{{if label==null}}{{if content==null}}{{if articleID}}
		<div class="row">
			<div class="col-md-offset-2 col-md-3">
				<div class="row">
					{{if picURL}}
					<div class="col-md-12">
						<div class="imgBox">
							<img name="autoPrefix"  src="${picURL}">
							<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL"></a>
						</div>
					</div>
					{{/if}}
					<div class="col-md-12" data-op="toggle" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL" data-limit="1">
						<div class="imgBox addImg" data-op="change" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL" data-action="image">+</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-6">
				<ul class="functionBtn">
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertDay"  title="添加标题"><span class="glyphicon glyphicon-bookmark"></span><!-- 插入段落 --></li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertPicture"  title="添加图片"><span class="glyphicon glyphicon-picture"></span><!-- 插入图片 --></li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertContent"  title="添加描述"><span class="glyphicon glyphicon-list-alt"></span><!-- 插入描述 --></li>
					<li data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}"><span class="glyphicon glyphicon-remove">&nbsp;</span>删除</li>
				</ul>
			</div>
		</div>
		{{/if}}{{/if}}{{/if}}
		{{if PE}}
		<div class="row">
			<div class="col-md-offset-2 col-md-3">
				<div class="row">
					{{if picURL}}
					<div class="col-md-12">
						<div class="imgBox">
							<img name="autoPrefix"  src="${picURL}">
							<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL"></a>
						</div>
					</div>
					{{/if}}
					<div class="col-md-12" data-op="toggle" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL" data-limit="1">
						<div class="imgBox addImg" data-op="change" data-pointer="/DetailMain/TravelogueDetail/${$index}/picURL" data-action="image">+</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-6">
				<ul class="functionBtn">
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertDay"  title="添加标题"><span class="glyphicon glyphicon-bookmark"></span><!-- 插入段落 --></li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertPicture"  title="添加图片"><span class="glyphicon glyphicon-picture"></span><!-- 插入图片 --></li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertContent"  title="添加描述"><span class="glyphicon glyphicon-list-alt"></span><!-- 插入描述 --></li>
					<li data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}"><span class="glyphicon glyphicon-remove">&nbsp;</span>删除</li>
				</ul>
			</div>
		</div>
		{{/if}}

		{{if content }}
		<div class="row">
			<div class="col-md-offset-1 col-md-6">
				<div class="introduction">
					<textarea name="" rows="6" data-value="/DetailMain/TravelogueDetail/${$index}/content" placeholder="请输入描述">${ content}</textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-6">
				<ul class="functionBtn">
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertDay"  title="添加标题"><span class="glyphicon glyphicon-bookmark"></span><!-- 插入段落 --></li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertPicture"  title="添加图片"><span class="glyphicon glyphicon-picture"></span><!-- 插入图片 --></li>
					<li data-op="change" data-pointer="/DetailMain/TravelogueDetail/-" data-index=${$index} data-action="insertContent"  title="添加描述"><span class="glyphicon glyphicon-list-alt"></span><!-- 插入描述 --></li>
					<li data-op="remove" data-pointer="/DetailMain/TravelogueDetail/${$index}"><span class="glyphicon glyphicon-remove">&nbsp;</span>删除</li>
				</ul>
			</div>
		</div>
		{{/if}}
		{{/each}}
		<!-- <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="btn-group" style="width: 100%;">
                    <a class="btn btn-warning" style="width:33%" href="javascript:void(0)" data-op="change" data-pointer="/Travelogue/TravelogueDetail/-" data-action="createDay">添加段落</a>
                    <a class="btn btn-warning" style="width:33%" href="javascript:void(0)" data-op="change" data-pointer="/Travelogue/TravelogueDetail/-" data-action="createPicture">添加图片</a>
                    <a class="btn btn-warning" style="width:33%" href="javascript:void(0)" data-op="change" data-pointer="/Travelogue/TravelogueDetail/-" data-action="createContent">添加描述</a>
                </div>
            </div>
        </div> -->
	</div>
	<!-- 服务描述结束 -->

	<!-- 须知信息 -->
	<div class="notice">
		<h4>须知信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">退订政策：</label>
		    <div class="col-sm-10 col-md-11">
				<div class="col-sm-10 col-md-11">
					<textarea name="" data-value="/DetailMain/policy/1/customRatio" class="form-control">${$data.DetailMain.policy[1].customRatio}</textarea>
				</div>
		    </div>
			<!-- 退订政策弹出框 -->
			<div id="policydiv" class="modal fade">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">
		          	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		          </button>
		          <h4 class="modal-title clearfix">退订政策</h4>
		        </div>
		        <div class="modal-body">
		        	<ul>
			        	<li class="row policybox">
				        	<!-- <div class="title clearfix"></div> -->
							<div class="main">
								<div class="col-md-2">
									<input type="radio" class="col-md-2" id="returnOption1" name="optionsRadios" value="1">
								</div>
								<div id="policycontent1" class="col-md-10">
									<h3>严格的退订政策</h3>
									<p>1、服务开始前14天(含)以上退订，退还服务费用的99%；</p>
									<p>2、服务开始前7天(含)至14天退订，退还服务费用的50%；</p>
									<p>3、服务开始前3天(含)至7天退订，退还服务费用的20%；</p>
									<p>4、在此之后退订，不退还服务费用；</p>
									<p>5、导游未及时接单或拒绝订单，全额退还服务费用</p>
								</div>
							</div>
				        </li>
				        <li class="row policybox">
				        	<!-- <div class="title clearfix"></div> -->
							<div class="main">
								<div class="col-md-2">
									<input type="radio" class="col-md-2" id="returnOption2" name="optionsRadios" value="2">
								</div>
								<div id="policycontent2" class="col-md-10">
									<h3>中等的退订政策</h3>
									<p>1、服务开始前7天(含)以上退订，退还服务费用的99%；</p>
									<p>2、服务开始前4天(含)至7天退订，退还服务费用的50%；</p>
									<p>3、服务开始前2天(含)至4天退订，退还服务费用的20%；</p>
									<p>4、在此之后退订，不退还服务费用；</p>
									<p>5、导游未及时接单或拒绝订单，全额退还服务费用</p>
								</div>
							</div>
				        </li>
				        <li class="row policybox">
				        	<!-- <div class="title clearfix "></div> -->
							<div class="main">
								<div class="col-md-2">
									<input type="radio" class="col-md-2" id="returnOption3" name="optionsRadios" value="3">
								</div>
								<div id="policycontent3" class="col-md-10">
									<h3>宽松的退订政策</h3>
									<p>1、服务开始前3天(含)以上退订，退还服务费用的99%；</p>
									<p>2、服务开始前2天(含)至3天退订，退还服务费用的50%；</p>
									<p>3、服务开始前1天(含)至2天退订，退还服务费用的20%；</p>
									<p>4、在此之后退订，不退还服务费用；</p>
									<p>5、导游未及时接单或拒绝订单，全额退还服务费用</p>
								</div>
							</div>
				        </li>
						<li class="row policybox">
							<!-- <div class="title clearfix "></div> -->
							<div class="main">
								<div class="col-md-2">
									<input type="radio" class="col-md-2" id="returnOption4" name="optionsRadios" value="4">
								</div>
								<div id="policycontent5" class="col-md-10">
									<h3>不可退订</h3>
									<p>任何时候退订，不退还服务费用</p>
								</div>
							</div>
						</li>
				        <li class="row policybox">
				        	<!-- <div class="title clearfix"></div> -->
							<div class="main">
								<div class="col-md-2">
									<input type="radio" class="col-md-2" id="option5" name="optionsRadios" value="5">
								</div>
								<div id="policycontent4" class="col-md-10">
									<h3>自定义的退订政策</h3>
									<p>1、服务开始前<input type="text" value="${$data.DetailMain.policy[0].day1}" data-value="/DetailMain/policy/${0}/day1">天(含)以上退订，退还服务费用的99%；</p>
									<p>2、服务开始前<input type="text" value="${$data.DetailMain.policy[0].day2}" data-value="/DetailMain/policy/${0}/day2">天(含)以上退订，退还服务费用的50%；</p>
									<p>3、服务开始前<input type="text" value="${$data.DetailMain.policy[0].day3}" data-value="/DetailMain/policy/${0}/day3">天(含)以上退订，退还服务费用的20%；</p>
									<p>4、服务开始前<input type="text" value="${$data.DetailMain.policy[0].day4}" data-value="/DetailMain/policy/${0}/day4">天以内退订，不退还服务费用；</p>
									<p>5、导游未及时接单或拒绝订单，全额退还服务费用</p>
								</div>
							</div>
				        </li>
					</ul>
		        </div> <!-- end modal-body -->
		        <div class="modal-footer">
		          <button type="button" id="policyconfirm" class="btn btn-primary" data-dismiss="modal">确定</button>
		        </div>
		      </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- 退订政策弹出框 -->
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">费用包含：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/DetailMain/policy/1/customRatio" class="form-control">${$data.DetailMain.policy[1].customRatio}</textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">费用不包含：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/DetailMain/policy/2/customRatio" class="form-control">${$data.DetailMain.policy[2].customRatio}</textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">预订须知：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/DetailMain/policy/3/caution" class="form-control">${$data.DetailMain.policy[3].caution}</textarea>
		    </div>
		  </div>
		</form>
		<div class="optionBtn">
			<button id="save" class="btn btn-warning">保存</button>
			<!--<button id="publish" class="btn btn-warning">发布 </button>-->
		</div>
	</div>
	<input type="hidden" id="type" data-value="/DetailMain/Policy/0/type"/>

	<!-- 须知信息结束 -->

	<!-- 关联车辆弹出框 -->
	<div id="carList" class="modal fade">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">
		      	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		      </button>
		      <h4 class="modal-title clearfix">选择关联的车辆</h4>
		    </div>
		    <div class="modal-body">
		    	<ul>
		    		{{each DetailMain.userFacilities}}
		        	<li class="row">
						<div class="col-md-1">
							<input type="radio" name="carRadios" value="${facilityID}">
						</div>
						<div class="col-md-11">
							<h4>${facilityName}</h4>
							<div class="col-md-5">
								<img src="${$data.IMGHOST}${coverURL}" alt="车辆封面">
							</div>
							<div class="col-md-6">
								<ul>
									<li>车辆品牌：<span>${brand}</span></li>
									<li>车辆型号：<span>${model}</span></li>
									<li>舒适乘坐：<span>${person}</span></li>
									<li>行李空间：<span>${luggage}</span></li>
									<li>车辆级别：<span>{{if clazz == 1}}经济{{else clazz == 2}}舒适{{else clazz == 3}}豪华{{/if}}</span></li>
									<li>成员保险：<span>{{if insurance == 1}}有{{else}}无{{/if}}</span></li>
								</ul>
							</div>
						</div>
			        </li>
			        {{/each}}				        
				</ul>
		    </div> <!-- end modal-body -->
		    <div class="modal-footer">
		      <button type="button" id="facilityconfirm" class="btn btn-primary" data-dismiss="modal">确定</button>
		    </div>
		  </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- 关联车辆弹出框 -->
</div>

