
<link rel="stylesheet" href="../css/editPage.css">

<div class="container editPage">
	<!-- 方案基本信息 -->
	<div class="baseInfo">
		<ul class="breadcrumb">
		  <li><a href="#">产品管理</a> <span class="divider"></span></li>
		  <li class="active">租车编辑</li>
		</ul>

		<h4>基本信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">服务名称</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.DetailMain.serviceName}" data-value="/DetailMain/serviceName" placeholder="不能超过24个字符">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">编辑价格</label>
		    <div class="col-sm-10 col-md-11">
		    	<input type="text" class="form-control" value="${$data.DetailMain.primaryPrice}" data-value="/DetailMain/primaryPrice"> 元/天	    	
		    </div>
		  </div>
		  <!-- <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">包含里程</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="number" class="form-control"> 公里
		    </div>
		  </div> -->
		  <!-- <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">包含时间</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="number" class="form-control">小时
		    </div>
		  </div> -->
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">服务描述</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" class="form-control" rows="5" data-value="/DetailMain/description" placeholder="请输入不少于300字描述">${$data.DetailMain.description}</textarea>
		    </div>
		  </div>
		</form>
	</div>
	<!-- 方案基本信息结束 -->

	<!-- 车辆信息 -->
	<div class="carInfo">
		<h4>车辆信息</h4>
		<div class="row">
			<div class="col-md-4">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">车辆品牌</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.VehicleInfo[0].brand}" data-value="/DetailMain/VehicleInfo/${0}/brand" placeholder="请输入">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">舒适乘坐</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.VehicleInfo[0].seats}" data-value="/DetailMain/VehicleInfo/${0}/seats" placeholder="请输入"> 人
				    </div> 
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">车辆级别</label>
				    <div class="col-sm-8 col-md-9" id="serviceType">
				        <label class="radio-inline">
						  <input type="radio" name="serviceType" id="Radio1" value="经济" checked> 经济
						</label>
						<label class="radio-inline">
						  <input type="radio" name="serviceType" id="Radio2" value="舒适"> 舒适
						</label>
						<label class="radio-inline">
						  <input type="radio" name="serviceType" id="Radio3" value="商务"> 商务
						</label>
						<label class="radio-inline">
						  <input type="radio" name="serviceType" id="Radio4" value="豪华"> 豪华
						</label>
				    </div>
				    <input type="text" class="form-control" id="ServiceMethodName"  value="${$data.DetailMain.VehicleInfo[0].clazz}"  data-value="/DetailMain/VehicleInfo/${0}/clazz">
				  </div>
				</form>
			</div>
			<div class="col-md-4">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">车辆型号</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.VehicleInfo[0].model}" data-value="/DetailMain/VehicleInfo/${0}/model" placeholder="请输入">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">行李空间</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.VehicleInfo[0].luggage}" data-value="/DetailMain/VehicleInfo/${0}/luggage" placeholder="请输入">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">成员保险</label>
				    <div class="col-sm-8 col-md-9" id="serviceType">
				        <label class="radio-inline">
						  <input type="radio" name="serviceType" id="Radio1" value="有" checked> 有
						</label>
						<label class="radio-inline">
						  <input type="radio" name="serviceType" id="Radio2" value="无"> 无
						</label>
				    </div>
				    <input type="text" class="form-control" id="ServiceMethodName" value="${$data.DetailMain.VehicleInfo[0].insurance}"  data-value="/DetailMain/VehicleInfo/${0}/insurance">
				  </div>
				</form>
			</div>
			<div class="col-md-4">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">GPS导航</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.VehicleCharges[0].chargePrice}" data-value="/DetailMain/VehicleCharges/${0}/chargePrice" placeholder="请输入"> 元/天 
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">撞车险</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.VehicleCharges[1].chargePrice}" data-value="/DetailMain/VehicleCharges/${1}/chargePrice" placeholder="请输入"> 元/天
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-3 control-label">免赔险</label>
				    <div class="col-sm-8 col-md-9">
				      <input type="text" class="form-control" value="${$data.DetailMain.VehicleCharges[2].chargePrice}" data-value="/DetailMain/VehicleCharges/${2}/chargePrice" placeholder="请输入"> 元/天
				    </div>
				  </div>
				</form>
			</div>
		</div>
		<!-- <div class="row textRight">
			<button class="btn btn-warning">关联车辆</button>
		</div> -->
	</div>
	<!-- 车辆信息结束 -->

	<!-- 相册上传 -->
	<div class="photoInfo">
		<h4>相册信息</h4>
		<div class="row">
			<div class="col-md-1 ">相册上传:</div>
			<div class="col-md-11 row" >
				{{each $data.DetailMain.Picture}}
				{{if $data.DetailMain.Picture[$index].picURL}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.DetailMain.Picture[$index].picURL}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/Picture/${$index}/picURL"></a>
					</div>
				</div>
				{{/if}}
				{{/each}}
				<div class="col-md-3" data-op="toggle" data-pointer="/DetailMain/Picture/${0}/picURL" data-limit="8">
					<div class="imgBox addImg" data-op="change" data-pointer="/DetailMain/Picture/-/picURL" data-action="image">+</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 ">封面照片:</div>
			<div class="col-md-11 row" >
				{{if $data.DetailMain.Picture}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.DetailMain.Picture}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/Picture/${$index}/cover" ></a>
					</div>
				</div>
				{{else}}
				<div class="col-md-3">
					<div class="imgBox addImg"  data-op="change" data-pointer="/DetailMain/Picture/${$index}/cover" data-action="image" >+</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
	<!-- 相册上传结束 -->

	<!-- 须知信息 -->
	<div class="notice">
		<h4>须知信息</h4>
		<form class="form-horizontal">
		  {{each(i,p) DetailMain.Policy}}
			{{if p.PolicyType==1}}
				<div class="form-group">
				    <label for="name" class="col-sm-2 col-md-1 control-label">退订政策：</label>
				    <div class="col-sm-10 col-md-11">
				      <textarea name="" id="Policy" data-value="/DetailMain/Policy/${i}/Description" class="form-control">${p.Description}</textarea>
				    </div>
				</div>
	        {{/if}}
	        {{if p.PolicyType==2}}
				<div class="form-group">
				    <label for="name" class="col-sm-2 col-md-1 control-label">费用包含：</label>
				    <div class="col-sm-10 col-md-11">
				      <textarea name="" id="Policy" data-value="/DetailMain/Policy/${i}/CustomRatio" class="form-control">${p.CustomRatio}</textarea>
				    </div>
				</div>
	        {{/if}}
	        {{if p.PolicyType==3}}
				<div class="form-group">
				    <label for="name" class="col-sm-2 col-md-1 control-label">费用不包含：</label>
				    <div class="col-sm-10 col-md-11">
				      <textarea name="" id="Policy" data-value="/DetailMain/Policy/${i}/CustomRatio" class="form-control">${p.CustomRatio}</textarea>
				    </div>
				</div>
	        {{/if}}
	        {{if p.PolicyType==4}}
				<div class="form-group">
				    <label for="name" class="col-sm-2 col-md-1 control-label">注意事项：</label>
				    <div class="col-sm-10 col-md-11">
				      <textarea name="" id="Policy" data-value="/DetailMain/Policy/${i}/Caution" class="form-control">${p.Caution}</textarea>
				    </div>
				</div>
	        {{/if}}
		{{/each}}
		</form>
		<div class="optionBtn">
			<button id="save" class="btn btn-warning">保存</button>
			<button id="publish" class="btn btn-warning">发布 </button>
		</div>
	</div>
	<!-- 须知信息结束 -->
</div>

<script>
	$(function(){
		$('#serviceType').on('click','input',function(){
			var ServiceMethodName = $(this).val();
			$('#ServiceMethodName').val(ServiceMethodName).trigger('keyup');
		});
	});
</script>

