
<link rel="stylesheet" href="../css/editPage.css">

<div class="container editPage">
	<!-- 方案基本信息 -->
	<div class="baseInfo">
		<ul class="breadcrumb">
		  <li><a href="#">产品管理</a> <span class="divider"></span></li>
		  <li><a href="#">服务</a> <span class="divider"></span></li>
		  <li class="active">包车编辑</li>
		</ul>

		<h4>基本信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">服务名称</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.DetailMain[0].serviceName}" data-value="/DetailMain/serviceName" placeholder="不能超过24个字符">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">编辑价格</label>
		    <div class="col-sm-10 col-md-11">
		    	<ul class="carPrice ">
		    		{{each $data.DetailMain}}
		    		<li><a class="glyphicon glyphicon-remove-circle"></a>
		    			<input type="text" class="form-control" value="${$data.DetailMain[0].serviceName}" data-value="/DetailMain/${0}/serviceName" placeholder="输入商品名称" > <br/>
		    			<input type="text" class="form-control" value="${$data.DetailMain[0].primaryPrice}" data-value="/DetailMain/${0}/primaryPrice}"> 元/天
		    		</li>
		    		{{/each}}
		    		<li><div class="addItemBtn" data-op="change" data-pointer="/DetailMain/Labels-" data-action="createLabel"> + </div></li>
		    	</ul>
		    </div>
		  </div>
		  <!-- <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">包含里程</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="number" class="form-control" > 公里
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">额外里程</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="number" class="form-control" > 元/公里
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">包含时间</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="number" class="form-control" > 小时
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">额外时间</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" > 元/小时
		    </div>
		  </div> -->
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">商品标签</label>
		    <div class="col-sm-10 col-md-11">
		      <ul class="label-base">
		      	{{each $data.Labels}}
				<li><input type="text" value="${$data.Labels[$index]}" data-value="/Labels/${$index}" placeholder="点击输入"><a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/Labels/${$index}"></a></li>
				{{/each}}
				<li><div class="addItemBtn" data-op="change" data-pointer="/Labels-" data-action="createLabel"> + </div></li>
			  </ul>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">服务描述</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" id="" class="form-control" rows="5" data-value="/DetailMain/${0}/description" placeholder="请输入不少于300字描述">${$data.DetailMain[0].description}</textarea>
		    </div>
		  </div>
		</form>
	</div>
	<!-- 方案基本信息结束 -->

	<!-- 车辆信息 -->
	<div class="carInfo">
		<h4>车辆信息</h4>
		<div class="row">
			<div class="col-md-6">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-2 control-label">车辆品牌</label>
				    <div class="col-sm-8 col-md-8">
				      <input type="text" class="form-control" value="${$data.Facility[0].brand}" data-value="/Facility/${0}/brand" placeholder="请输入">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-2 control-label">舒适乘坐</label>
				    <div class="col-sm-8 col-md-8">
				      <input type="text" class="form-control" value="${$data.Facility[0].seats}" data-value="/Facility/${0}/seats" placeholder="请输入">
				    </div> 人
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-2 control-label">车辆级别</label>
				    <div class="col-sm-8 col-md-8">
				        <label class="radio-inline">
						  <input type="radio" name="carLevel" id="Radio1" value="option1" checked> 经济
						</label>
						<label class="radio-inline">
						  <input type="radio" name="carLevel" id="Radio2" value="option2"> 舒适
						</label>
						<label class="radio-inline">
						  <input type="radio" name="carLevel" id="Radio3" value="option3"> 商务
						</label>
						<label class="radio-inline">
						  <input type="radio" name="carLevel" id="Radio4" value="option4"> 豪华
						</label>
				    </div>
				  </div>
				</form>
			</div>
			<div class="col-md-6">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-2 control-label">车辆型号</label>
				    <div class="col-sm-8 col-md-8">
				      <input type="text" class="form-control" value="${$data.Facility[0].model}" data-value="/Facility/${0}/model" placeholder="请输入">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-2 control-label">行李空间</label>
				    <div class="col-sm-8 col-md-8">
				      <input type="text" class="form-control" value="${$data.Facility[0].luggage}" data-value="/Facility/${0}/luggage" placeholder="请输入">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="" class="col-sm-4 col-md-2 control-label">成员保险</label>
				    <div class="col-sm-8 col-md-8">
				        <label class="radio-inline">
						  <input type="radio" name="carLevel" id="Radio1" value="option1" checked> 有
						</label>
						<label class="radio-inline">
						  <input type="radio" name="carLevel" id="Radio2" value="option2"> 无
						</label>
				    </div>
				  </div>
				</form>
			</div>
		</div>
		<!-- <div class="row">
			<button class="btn btn-warning">关联车辆</button>
		</div> -->
	</div>
	<!-- 车辆信息结束 -->

	<!-- 相册上传 -->
	<div>
		<h4>相册信息</h4>
		<div class="row">
			<div class="col-md-1 ">相册上传:</div>
			<div class="col-md-11 row" >
				{{each $data.DetailMain[0].picURLs}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.DetailMain[0].picURLs[$index]}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/${0}/picURLs/${$index}"></a>
					</div>
				</div>
				{{/each}}
				<div class="col-md-3" data-op="toggle" data-pointer="/DetailMain/${0}/picURLs" data-limit="8">
					<div class="imgBox addImg" data-op="change" data-pointer="/DetailMain/${0}/picURLs/-" data-action="image">+</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 ">封面照片:</div>
			<div class="col-md-11 row" >
				{{if $data.DetailMain[0].covers}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.DetailMain[0].covers}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/${0}/covers" ></a>
					</div>
				</div>
				{{else}}
				<div class="col-md-3">
					<div class="imgBox addImg"  data-op="change" data-pointer="/DetailMain/${0}/covers" data-action="image" >+</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
	<!-- 相册上传结束 -->

	<!-- 须知信息 -->
	<div class="notice">
		<h4>须知信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">退订政策：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/Policy/${0}/Description" class="form-control">${$data.Policy[0].Description}</textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">费用包含：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/Policy/${1}/CustomRatio" class="form-control">${$data.Policy[1].CustomRatio}</textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">费用不包含：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/Policy/${2}/CustomRatio" class="form-control">${$data.Policy[2].CustomRatio}</textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">预订须知：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/Policy/${3}/Caution" class="form-control">${$data.Policy[3].Caution}</textarea>
		    </div>
		  </div>
		</form>
		<div class="optionBtn">
			<button id="save" class="btn btn-warning">保存</button>
			<button id="publish" class="btn btn-warning">发布 </button>
		</div>
	</div>
	<!-- 须知信息结束 -->
</div>

