
<div class="container editPage">
	<!-- 方案基本信息 -->
	<div class="baseInfo">
		<ul class="breadcrumb">
		  <li><a href="#">产品管理</a> <span class="divider"></span></li>
		  <li class="active">活动编辑</li>
		</ul>

		<h4>基本信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">活动名称</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.BaseInfo.ServiceName}"  data-value="/BaseInfo/ServiceName" placeholder="不能超过24个字符">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">成人价格</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.BaseInfo.AdultPrice}"  data-value="/BaseInfo/AdultPrice" placeholder="请输入数字"> 元/人
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">儿童价格</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.BaseInfo.KidPrice}" data-value="/BaseInfo/KidPrice" placeholder="请输入数字"> 元/人
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 col-md-1 control-label">活动时长</label>
		    <div class="col-sm-10 col-md-11">
		      <input type="text" class="form-control" value="${$data.BaseInfo.ServiceTime}" data-value="/BaseInfo/ServiceTime" placeholder="请输入数字"> 小时
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">活动行程描述</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" data-value="/BaseInfo/Description"  class="form-control" rows="5" placeholder="请输入不少于300字描述">${$data.BaseInfo.Description}</textarea>
		    </div>
		  </div>
		</form>
		<div class="row">
			<div class="col-sm-offset-2 col-md-offset-1 col-sm-10 col-md-11"><button class="btn btn-warning">关联车辆</button></div>
		</div>
	</div>
	<!-- 方案基本信息结束 -->
    <!-- 相册上传 -->
	<div >
		<h4>相册信息</h4>
		<div class="row">
			<div class="col-md-1 ">相册上传:</div>
			<div class="col-md-11 row" >
				{{each $data.BaseInfo.PicURL}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.BaseInfo.PicURL[$index]}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/BaseInfo/PicURL/${$index}"></a>
					</div>
				</div>
				{{/each}}
				<div class="col-md-3" data-op="toggle" data-pointer="/BaseInfo/PicURL" data-limit="8">
					<div class="imgBox addImg" data-op="change" data-pointer="/BaseInfo/PicURL/-" data-action="image">+</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 ">封面照片:</div>
			<div class="col-md-11 row" >
				{{if $data.BaseInfo.CoverPicURL}}
				<div class="col-md-3">
					<div class="imgBox">
						<img src="${$data.BaseInfo.CoverPicURL}">
						<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/BaseInfo/CoverPicURL" ></a>
					</div>
				</div>
				{{else}}
				<div class="col-md-3">
					<div class="imgBox addImg"  data-op="change" data-pointer="/BaseInfo/CoverPicURL" data-action="image" >+</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
	<!-- 相册上传结束 -->

	<!-- 须知信息 -->
	<div class="notice">
		<h4>须知信息</h4>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">退订政策：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" id="Policy" value="${ $data.BaseInfo.Policy}" data-value="/BaseInfo/Policy" class="form-control"></textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">费用包含：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" id="CostInclude" value="${ $data.BaseInfo.CostInclude}" data-value="/BaseInfo/CostInclude" class="form-control"></textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">费用不包含：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" id="CostExclude" value="${ $data.BaseInfo.CostExclude}" data-value="/BaseInfo/CostExclude" class="form-control"></textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-sm-2 col-md-1 control-label">注意事项：</label>
		    <div class="col-sm-10 col-md-11">
		      <textarea name="" id="Notice" value="${ $data.BaseInfo.Notice}" data-value="/BaseInfo/Notice" class="form-control"></textarea>
		    </div>
		  </div>
		</form>
		<div class="optionBtn">
			<button id="save" class="btn btn-warning">保存</button>
			<button id="publish" class="btn btn-warning">发布 </button>
		</div>
	</div>
	<!-- 须知信息结束 -->
</div>

