
<div class="container editPage">
	<div class="">
		<!-- 基本信息 -->
		<div class="baseInfo">
			<ul class="breadcrumb">
			  <li><a href="#">产品管理</a> <span class="divider"></span></li>
			  <li class="active">攻略编辑</li>
			</ul>

			<h4>基本信息</h4>
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="name" class="col-sm-2 col-md-1 control-label">攻略名称</label>
			    <div class="col-sm-10 col-md-11">
			      <input type="text" class="form-control" id="name" placeholder="不能超过24个字符">
			    </div>
			  </div>
			</form>
		</div>
		<!-- 基本信息结束 -->

		<!-- 攻略信息 -->
		<div class="scheduleShort">
			<h4>段落信息</h4>
			<form class="form-horizontal">
			  <div class="form-group">
			  	<a class="glyphicon glyphicon-remove-circle"></a>
			    <label for="name" class="col-sm-2 col-md-1 control-label">段落标题</label>
			    <div class="col-sm-10 col-md-6">
			      <input type="text" class="form-control" id="name" placeholder="不能超过24个字符">
			    </div>
			  </div>
			</form>
			<div class="row">
				<a class="glyphicon glyphicon-remove-circle"></a>
				<div class="col-sm-2 col-md-1">图片信息</div>
				<div class="col-md-6 col-sm-10">
					<img src="" alt="我是图片">
				</div>
			</div>
			<div class="row">
				<a class="glyphicon glyphicon-remove-circle"></a>
				<div class="col-sm-2 col-md-1">段落描述</div>
				<div class="col-md-6 col-sm-10">
					<textarea name="" id="" placeholder="请输入文本信息"></textarea>
				</div>
			</div>
			<div class="row textRight">
				<div class="col-md-7 ">
					<button class="btn btn-warning">添加标题</button>
					<button class="btn btn-warning">添加图片</button>
					<button class="btn btn-warning">添加描述</button>
				</div>
			</div>

			<div class="optionBtn">
				<button id="save" class="btn btn-warning">保存</button>
				<button id="publish" class="btn btn-warning">发布 </button>
			</div>
		</div>
		<!-- 攻略信息结束 -->

	</div>
	
</div>

