<!-- 内容部分 -->
<div class="contentBox clearfix">

  <!-- 左侧固定菜单 -->
  <div class="menuLeft fl">
    <div class="avatar">
      {{if $data.User[0] }}
      {{if $data.User[0].AvatarPicURL}}
      <img src="${$data.IMGHOST}${$data.User[0].AvatarPicURL}" alt="个人头像">
      {{/if}}
      {{/if}}
    </div>
    <h3>账号管理</h3>
    <ul class="menu" id="menuLeftList">
      <li><a href="#/userinfo?UserID=${$data.User[0].UserID}" ><span></span>个人信息</a></li>
      <li><a href="#/orderlist?userID=${$data.User[0].UserID}&usertype=1&status=0&page=1" ><span></span>我的订单</a></li>
      <!-- <li><a href="#" ><span></span>购物车</a></li>
      <li><a href="#" ><span></span>我的收藏</a></li>
      <li><a href="#" ><span></span>我的好友</a></li>
      <li><a href="#" ><span></span>安全中心</a></li>
      <li><a href="#" ><span></span>常用地址</a></li>
      <li><a href="#" ><span></span>导游中心</a></li>
      <li><a href="#" ><span></span>我的攻略</a></li> -->
    </ul>
  </div>
  <!-- 左侧固定菜单结束 -->
  
  <!-- 右侧详细内容 -->
  <div class="contentRight fr">
    <div ui-view>
      <div class="personInfo">
        <p>亲爱的 <strong>${$data.User[0].UserName}</strong>，请填写真实的资料，有助于好友找到你哦！</p>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">当前头像：</label>
            <div class="col-sm-10" >
              {{if $data.User[0] }}
              {{if $data.User[0].AvatarPicURL}}
              <div class="col-md-5">
                <div class="imgBox">
                  <img name="autoPrefix" src="${$data.User[0].AvatarPicURL}">
                  <a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/User/0/AvatarPicURL" ></a>
                </div>
              </div>
              {{else}}
              <div class="col-md-5">
                <div class="imgBox addImg"  data-op="change" data-pointer="/User/0/AvatarPicURL" data-action="image" >+</div>
              </div>
              {{/if}}
              {{/if}}
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">昵称：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" value="${$data.User[0].UserName}"  data-value="/User/0/UserName" placeholder="请输入昵称">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">真实姓名：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" value="${$data.User[0].TrueName}"  data-value="/User/0/TrueName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">性别：</label>
            <div class="col-sm-10">
              <div class="row" >
                <div class="col-md-3">
                {{if User[0].Sex == 1}}
                <input type="radio" name="sex"  value="1"   checked>
                {{else}}
                <input type="radio" name="sex"  value="1"  >男
                {{/if}}
                </div>
                <div class="col-md-3">
                {{if User[0].Sex == 0}}<input type="radio" name="sex"  value="0" checked>
                {{else}}<input type="radio" name="sex"  value="0" >女
                {{/if}}</div>
              </div>
            </div>
          </div>
          {{if 1}}
          <div class="form-group">
            <label  class="col-sm-2 control-label">居住地：</label>
            <div class="col-sm-10">
              <ul class="label-base">
                {{if $data.User[0].CityID }}
                <li><input type="text" value="${$data.User[0].CountryName} ${$data.User[0].CityName}" disabled><a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/User/0/CityID" ></a></li>
                {{/if}}
                {{if !$data.User[0].CityID }}
                <li><div class="addItemBtn" data-op="change" data-pointer="/User/0/CityID" data-action="createCity"> + </div></li>
                {{/if}}
              </ul>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">公司Logo：</label>
            <div class="col-sm-10" >
              {{if $data.User[0].ComLogo}}
              <div class="col-md-5">
                <div class="imgBox">
                  <img name="needPrefix" src="${$data.User[0].ComLogo}">
                  <!--<a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/User/0/ComLogo" ></a>-->
                </div>
              </div>
              {{else}}
              <div class="col-md-5" data-op="toggle" data-pointer="/User/0/ComLogo" data-limit="1">
                <div class="imgBox addImg"  data-op="change" data-pointer="/User/0/ComLogo" data-action="image" >+</div>
              </div>
              {{/if}}
            </div>
          </div>

          <div class="form-group">
            <label  class="col-sm-2 control-label">广告语：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  value="${$data.User[0].ComAdv}"  data-value="/User/0/ComAdv" placeholder="请输入广告语">
            </div>
          </div>  
          <div class="form-group">
            <label  class="col-sm-2 control-label">增加标签：</label>
            <div class="col-sm-10">
              <ul class="label-base">
                {{each $data.User[0].Labels}}
                  <li><input type="text" value="${$data.User[0].Labels[$index]}" data-value="/User/0/Labels/${$index}" ><a class="glyphicon glyphicon-remove-circle" data-op="remove"  data-pointer="/User/0/Labels/${$index}"></a></li>
                {{/each}}
                <li><div class="addItemBtn" data-op="change" data-pointer="/User/0/Labels/-" data-action="createLabel"> + </div></li>
              </ul>
            </div>
          </div>    
          <!-- {{if $data.User[0].ComAdv}} -->
          <!-- {{/if}} -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="userUpdate" type="submit" class="btn btn-warning">保存</button>
            </div>
          </div>
          {{/if}}
        </form>
      </div>
    </div>
  </div>    
  <!-- 右侧详细内容结束 -->
</div>
<!-- 内容部分结束-->
