<!-- 内容部分 -->
<div class="contentBox clearfix">

  <!-- 左侧固定菜单 -->
  <div class="menuLeft fl">
    <div class="avatar">
      <img src="" alt="个人头像">
    </div>
    <h3>账号管理</h3>
    <ul class="menu" id="menuLeftList">
      <li><a href="#" ><span></span>个人信息</a></li>
      <li><a href="#" ><span></span>我的订单</a></li>
      <!-- <li><a href="#" ><span></span>购物车</a></li>
      <li><a href="#" ><span></span>我的收藏</a></li>
      <li><a href="#" ><span></span>我的好友</a></li>
      <li><a href="#" ><span></span>安全中心</a></li>
      <li><a href="#" ><span></span>常用地址</a></li>
      <li><a href="#" ><span></span>导游中心</a></li>
      <li><a href="#" ><span></span>我的攻略</a></li> -->
    </ul>
  </div>
  <!-- 左侧固定菜单结束 -->
  
  <!-- 右侧详细内容 -->
  <div class="contentRight fr">
    <div ui-view>
      <div class="personInfo">
        <p>亲爱的 <strong></strong>，请填写真实的资料，有助于好友找到你哦！</p>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">当前头像：</label>
            <div class="col-sm-10 avatar" >
              <img src="../img/userAvatar.jpg" alt="">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">昵称：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="UserName" placeholder="请输入昵称">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">真实姓名：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="TrueName" placeholder="请输入真实姓名">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">性别：</label>
            <div class="col-sm-10">
              <div class="radio">
                <label>
                  <input type="radio" name="sex" id="optionsRadios1" value="male" checked>男
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="sex" id="optionsRadios1" value="male" checked>女
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">居住地：</label>
            <div class="col-sm-10">
              <select class="form-control col-sm-3" id="" >
                <option value="">请选择省</option>
              </select>
              <select class="form-control col-sm-3" id="" >
                <option value="">请选择市</option>
              </select>
              <select class="form-control col-sm-3" id="" >
                <option value="">请选择区</option>
              </select>
            </div>
          </div> 
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">公司图片：</label>
            <div class="col-sm-10" >
              <img src="../img/userAvatar.jpg" alt="">
            </div>
          </div> 
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">广告语：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="UserName" placeholder="请输入广告语">
            </div>
          </div>  
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">增加标签：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="UserName" placeholder="请输入标签">
            </div>
          </div>    
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-warning">保存</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>    
  <!-- 右侧详细内容结束 -->
</div>
<!-- 内容部分结束 -->