<div class="container editPage">

  <div class="baseInfo">
    <ul class="breadcrumb">
      <li><a href="#">资料管理</a> <span class="divider"></span></li>
      <li class="active">资料编辑</li>
    </ul>

    <h4>基本信息</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">用户昵称</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control"  value="${DetailMain.userName}"  data-value="/DetailMain/userName" placeholder="请输入昵称">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">真实姓名</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control" value="${DetailMain.trueName}"  data-value="/DetailMain/trueName" placeholder="请输入">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">等你游账号</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control" value="${DetailMain.userAccount}"  data-value="/DetailMain/userAccount" placeholder="等你游账号，只能设置一次">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-md-1 control-label">性别：</label>
        <div class="col-sm-10 col-md-11">
          <div class="row" >
            <div class="col-md-1 col-sm-3">
              {{if DetailMain.sex == 1}}
              <input type="radio" name="sex"  value="1"   checked>
              {{else}}
              <input type="radio" name="sex"  value="1"  >
              {{/if}}男
            </div>
            <div class="col-md-1  col-sm-3">
              {{if DetailMain.sex == 0}}
              <input type="radio" name="sex"  value="0" checked>
              {{else}}
              <input type="radio" name="sex"  value="0" >
              {{/if}}女
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">出生日期</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control flatpickr" value="${DetailMain.birthDay}"  data-value="/DetailMain/birthDay" placeholder="选择日期"  style="background-color: #fff;">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">常驻地</label>
        <div class="col-sm-10 col-md-11">
          <div class="col-sm-4" style="padding-left: 0"><input type="text" class="form-control" value="${DetailMain.countryName}" data-value="/DetailMain/countryName" style="width: 100%;"></div>
          <div class="col-sm-4" style="padding-left: 0"><input type="text" class="form-control" value="${DetailMain.cityCnName}" data-value="/DetailMain/cityCnName" style="width: 100%;"></div>
          <div class="col-sm-2"><button type="button" class="btn btn-default btn-sm" data-op="change"  data-pointer="/DetailMain" data-action="createCity">选择地区</button></div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">故乡</label>
        <div class="col-sm-10 col-md-11">
            <div class="col-sm-4" style="padding-left: 0"><input type="text" class="form-control" value="${DetailMain.homeCountryName}" data-value="/DetailMain/homeCountryName" style="width: 100%;"></div>
            <div class="col-sm-4" style="padding-left: 0"><input type="text" class="form-control" value="${DetailMain.homeCityName}" data-value="/DetailMain/homeCityName" style="width: 100%;"></div>
            <div class="col-sm-2"><button type="button" class="btn btn-default btn-sm" data-op="change"  data-pointer="/DetailMain" data-action="createCity2">选择地区</button></div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">国籍</label>
        <div class="col-sm-10 col-md-11">
          <div class="col-sm-4" style="padding-left: 0"><input type="text" class="form-control" value="${DetailMain.nationalityName}" data-value="/DetailMain/nationalityName" style="width: 100%;"></div>
          <div class="col-sm-2"><button type="button" class="btn btn-default btn-sm" data-op="change"  data-pointer="/DetailMain" data-action="createCountry">选择国籍</button></div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">公司</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control" value="${DetailMain.company}"  data-value="/DetailMain/company" placeholder="请输入">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">职业</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control" value="${DetailMain.occupation}"  data-value="/DetailMain/occupation" placeholder="请输入">
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 col-md-1 control-label">个人标签</label>
        <div class="col-sm-10 col-md-11">
          <ul class="label-base">
            {{each DetailMain.labels}}
            <li><input type="text" value="${DetailMain.labels[$index]}" data-value="/DetailMain/labels/${$index}" ><a class="glyphicon glyphicon-remove-circle" data-op="remove"  data-pointer="/DetailMain/labels/${$index}"></a></li>
            {{/each}}
            <li><div class="addItemBtn" data-op="change" data-pointer="/DetailMain/labels/-" data-action="createLabel"> + </div></li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">自我介绍</label>
        <div class="col-sm-10 col-md-11">
          <textarea name="" id="" data-value="/DetailMain/personIntroduct" placeholder="可输入1200字" style="border:  1px solid #CCC; height: 100px;">${DetailMain.personIntroduct}</textarea>
        </div>
      </div>
    </form>
  </div>
  <!-- 方案基本信息结束 -->

  <!-- 相册上传 -->
  <div class="photoInfo">
    <h4>相册信息</h4>
    <div class="row">
      <div class="col-md-1 ">主页LOGO：</div>
      <div class="col-md-11 row" >
        {{if DetailMain.mainPageLogoURL}}
        <div class="col-md-3">
          <div class="imgBox">
            <img name="autoPrefix" src="${DetailMain.mainPageLogoURL}" />
            <a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/mainPageLogoURL" ></a>
          </div>
        </div>
        {{else}}
        <div class="col-md-3">
          <div class="imgBox addImg"  data-op="change" data-pointer="/DetailMain/mainPageLogoURL" data-action="image" >+</div>
        </div>
        {{/if}}
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-1 ">个人头像：</div>
      <div class="col-md-11 row" >
        {{if DetailMain.avatarPicURL}}
        <div class="col-md-3">
          <div class="imgBox">
            <img name="autoPrefix" src="${DetailMain.avatarPicURL}" />
            <a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/avatarPicURL" ></a>
          </div>
        </div>
        {{else}}
        <div class="col-md-3">
          <div class="imgBox addImg"  data-op="change" data-pointer="/DetailMain/avatarPicURL" data-action="image" >+</div>
        </div>
        {{/if}}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1 ">相册上传:</div>
      <div class="col-md-11 row" >
        {{each(i,itemtem) DetailMain.picurls}}
        <div class="col-md-3">
          <div class="imgBox">
            <img src="${itemtem}" name="autoPrefix">
            <a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/picurls/${i}"></a>
          </div>
        </div>
        {{/each}}
        <div class="col-md-3" data-op="toggle" data-pointer="/DetailMain/picurls" data-limit="8">
          <div class="imgBox addImg" data-op="change" data-pointer="/DetailMain/picurls/-" data-action="image">+</div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1 ">封面图片：</div>
      <div class="col-md-11 row" >
        {{if DetailMain.coverPicURL}}
        <div class="col-md-3">
          <div class="imgBox">
            <img name="autoPrefix" src="${DetailMain.coverPicURL}" />
            <a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/DetailMain/coverPicURL" ></a>
          </div>
        </div>
        {{else}}
        <div class="col-md-3">
          <div class="imgBox addImg"  data-op="change" data-pointer="/DetailMain/coverPicURL" data-action="image" >+</div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <!-- 相册上传结束 -->

  <div class="baseInfo">
    <h4>通讯信息</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">手机号</label>
        <div class="col-sm-10 col-md-11">
          <ul class="moreTels">
            {{each $data.DetailMain.telsForshow}}
            <li class="row" style="margin:0;">
              <div class="form-group col-md-3" >
                <div class="">
                  <input type="text" class="form-control"   value="${$data.DetailMain.telsForshow[$index].item1}"  data-value="/DetailMain/telsForshow/${$index}/item1" placeholder="号码名称">
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="">
                  <select class="form-control" id="AreaCodeChoice">
                    {{if !DetailMain.telsForshow[$index].item2}}<option value="">请选择</option>{{/if}}
                    {{each(i,p) AreaCode}}
                    {{if DetailMain.telsForshow[$index].item2 == p.areaCode}}<option selected>${ p.areaCode }</option>{{else}}<option>${ p.areaCode }</option>{{/if}}
                    {{/each}}
                  </select>
                  <input type="hidden" class="form-control" id="AreaCode" value="${$data.DetailMain.telsForshow[$index].item2}"  data-value="/DetailMain/telsForshow/${$index}/item2" placeholder="国家区号">
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="">
                  <input type="text" class="form-control"   value="${$data.DetailMain.telsForshow[$index].item3}"  data-value="/DetailMain/telsForshow/${$index}/item3" placeholder="电话号码">
                </div>
              </div>
              <a class="glyphicon glyphicon-remove-circle" data-op="remove"  data-pointer="/DetailMain/telsForshow/${$index}"></a>
            </li>
            {{/each}}
            <li class="col-md-9"><div class="addItemBtn" data-op="change" data-pointer="/DetailMain/telsForshow/-" data-action="createTels"> + </div></li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">个人微信</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control" value="${DetailMain.weChat}"  data-value="/DetailMain/weChat" placeholder="请输入">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">电子邮箱</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control" value="${DetailMain.email}"  data-value="/DetailMain/email" placeholder="请输入">
        </div>
      </div>
    </form>
  </div>

  <div class="baseInfo">
    <h4>擅长目的地</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">精通</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control"  value="${DetailMain.masterPlace}"  data-value="/DetailMain/masterPlace" placeholder="请填写您精通的目的地">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">熟悉</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control" value="${DetailMain.fomiliarPlace}"  data-value="/DetailMain/fomiliarPlace" placeholder="请填写您熟悉的目的地">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 col-md-1 control-label">了解</label>
        <div class="col-sm-10 col-md-11">
          <input type="text" class="form-control" value="${DetailMain.knowPlace}"  data-value="/DetailMain/knowPlace" placeholder="请填写您了解的目的地">
        </div>
      </div>
    </form>
  </div>

  <div class="baseInfo">
    <h4>语言</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-10 col-md-11 col-md-offset-1 col-sm-offset-2">
          <ul class="moreTels">
            {{each $data.DetailMain.hasLanguageForshow}}
            <li class="row" style="margin:0;">
              <div class="form-group col-md-3" >
                <select class="form-control" id="LanguageKindChoice">
                  {{if !DetailMain.hasLanguageForshow[$index].item1}}<option value="">请选择</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '中文普通话'}}<option selected>中文普通话</option>{{else}}<option>中文普通话</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '中文粤语'}}<option selected>中文粤语</option>{{else}}<option>中文粤语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '英语'}}<option selected>英语</option>{{else}}<option>英语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '法语'}}<option selected>法语</option>{{else}}<option>法语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '德语'}}<option selected>德语</option>{{else}}<option>德语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '西班牙语'}}<option selected>西班牙语</option>{{else}}<option>西班牙语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '葡萄牙语'}}<option selected>葡萄牙语</option>{{else}}<option>葡萄牙语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '意大利语'}}<option selected>意大利语</option>{{else}}<option>意大利语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '俄语'}}<option selected>俄语</option>{{else}}<option>俄语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '日语'}}<option selected>日语</option>{{else}}<option>日语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '韩语'}}<option selected>韩语</option>{{else}}<option>韩语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '泰语'}}<option selected>泰语</option>{{else}}<option>泰语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '阿拉伯语'}}<option selected>阿拉伯语</option>{{else}}<option>阿拉伯语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '波斯语'}}<option selected>波斯语</option>{{else}}<option>波斯语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item1 == '其他'}}<option selected>其他</option>{{else}}<option>其他</option>{{/if}}
                </select>
                <input type="hidden" class="form-control" id="LanguageKind" value="${$data.DetailMain.hasLanguageForshow[$index].item1}"  data-value="/DetailMain/hasLanguageForshow/${$index}/item1" placeholder="语言">
              </div>
              <div class="form-group col-md-3">
                <select class="form-control" id="LanguageLevelChoice">
                  {{if !DetailMain.hasLanguageForshow[$index].item2}}<option value="">请选择</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item2 == '母语'}}<option selected>母语</option>{{else}}<option>母语</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item2 == '精通'}}<option selected>精通</option>{{else}}<option>精通</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item2 == '熟练'}}<option selected>熟练</option>{{else}}<option>熟练</option>{{/if}}
                  {{if DetailMain.hasLanguageForshow[$index].item2 == '了解'}}<option selected>了解</option>{{else}}<option>了解</option>{{/if}}
                </select>
                <input type="hidden" class="form-control" id="LanguageLevel" value="${$data.DetailMain.hasLanguageForshow[$index].item2}"  data-value="/DetailMain/hasLanguageForshow/${$index}/item2" placeholder="水平">
              </div>
              <div class="form-group col-md-3">
                <input type="text" class="form-control"   value="${$data.DetailMain.hasLanguageForshow[$index].item3}"  data-value="/DetailMain/hasLanguageForshow/${$index}/item3" placeholder="简单描述">
              </div>
              <a class="glyphicon glyphicon-remove-circle" data-op="remove"  data-pointer="/DetailMain/hasLanguageForshow/${$index}"></a>
            </li>
            {{/each}}
            <li class="col-md-9"><div class="addItemBtn" data-op="change" data-pointer="/DetailMain/drivingLicensesForshow/-" data-action="createLanguages"> + </div></li>
          </ul>
        </div>
      </div>
    </form>
  </div>

  <div class="baseInfo">
    <h4>驾驶执照</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-10 col-md-11 col-md-offset-1 col-sm-offset-2">
          <ul class="moreTels">
            {{each $data.DetailMain.drivingLicensesForshow}}
            <li class="row" style="margin:0;">
              <div class="form-group col-md-3" >
                <input type="text" class="form-control"   value="${$data.DetailMain.drivingLicensesForshow[$index].item1}"  data-value="/DetailMain/drivingLicensesForshow/${$index}/item1" placeholder="获得年份">
              </div>
              <div class="form-group col-md-3">
                <select class="form-control" id="drivingCountryChoice">
                  {{if !DetailMain.drivingLicensesForshow[$index].item2}}<option value="">请选择</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '中国'}}<option selected>中国</option>{{else}}<option>中国</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '中国香港'}}<option selected>中国香港</option>{{else}}<option>中国香港</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '中国台湾'}}<option selected>中国台湾</option>{{else}}<option>中国台湾</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '中国澳门'}}<option selected>中国澳门</option>{{else}}<option>中国澳门</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '日本'}}<option selected>日本</option>{{else}}<option>日本</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '韩国'}}<option selected>韩国</option>{{else}}<option>韩国</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '英联邦'}}<option selected>英联邦</option>{{else}}<option>英联邦</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '欧盟'}}<option selected>欧盟</option>{{else}}<option>欧盟</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '英国'}}<option selected>英国</option>{{else}}<option>英国</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '瑞士'}}<option selected>瑞士</option>{{else}}<option>瑞士</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '美国'}}<option selected>美国</option>{{else}}<option>美国</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '俄罗斯'}}<option selected>俄罗斯</option>{{else}}<option>俄罗斯</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item2 == '其他'}}<option selected>其他</option>{{else}}<option>其他</option>{{/if}}
                </select>
                <input type="hidden" class="form-control" id="drivingCountry" value="${$data.DetailMain.drivingLicensesForshow[$index].item2}"  data-value="/DetailMain/drivingLicensesForshow/${$index}/item2" placeholder="颁发国家">
              </div>
              <div class="form-group col-md-3">
                <select class="form-control" id="drivingLevelChoice">
                  {{if !DetailMain.drivingLicensesForshow[$index].item3}}<option value="">请选择</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item3 == '小型客车'}}<option selected>小型客车</option>{{else}}<option>小型客车</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item3 == '大型客车'}}<option selected>大型客车</option>{{else}}<option>大型客车</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item3 == '大型货车'}}<option selected>大型货车</option>{{else}}<option>大型货车</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item3 == '摩托车'}}<option selected>摩托车</option>{{else}}<option>摩托车</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item3 == '赛车'}}<option selected>赛车</option>{{else}}<option>赛车</option>{{/if}}
                  {{if DetailMain.drivingLicensesForshow[$index].item3 == '其他'}}<option selected>其他</option>{{else}}<option>其他</option>{{/if}}
                </select>
                <input type="hidden" class="form-control" id="drivingLevel" value="${$data.DetailMain.drivingLicensesForshow[$index].item3}"  data-value="/DetailMain/drivingLicensesForshow/${$index}/item3" placeholder="驾照等级">
              </div>
              <div class="form-group col-md-3">
                <input type="text" class="form-control"   value="${$data.DetailMain.drivingLicensesForshow[$index].item4}"  data-value="/DetailMain/drivingLicensesForshow/${$index}/item4" placeholder="驾照号码">
              </div>
              <a class="glyphicon glyphicon-remove-circle" data-op="remove"  data-pointer="/DetailMain/drivingLicensesForshow/${$index}"></a>
            </li>
            {{/each}}
            <li class="col-md-9"><div class="addItemBtn" data-op="change" data-pointer="/DetailMain/drivingLicensesForshow/-" data-action="createdrivingLicenses"> + </div></li>
          </ul>
        </div>
      </div>
    </form>
  </div>

  <div class="baseInfo">
    <h4>技能证书</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-10 col-md-11 col-md-offset-1 col-sm-offset-2">
          <ul class="moreTels">
            {{each $data.DetailMain.skillsForshow}}
            <li class="row" style="margin:0;">
              <div class="form-group col-md-3" >
                <div class="">
                  <input type="text" class="form-control"   value="${$data.DetailMain.skillsForshow[$index].item1}"  data-value="/DetailMain/skillsForshow/${$index}/item1" placeholder="获得年份">
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="">
                  <input type="text" class="form-control"   value="${$data.DetailMain.skillsForshow[$index].item2}"  data-value="/DetailMain/skillsForshow/${$index}/item2" placeholder="机构名称">
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="">
                  <input type="text" class="form-control"   value="${$data.DetailMain.skillsForshow[$index].item3}"  data-value="/DetailMain/skillsForshow/${$index}/item3" placeholder="证书名称">
                </div>
              </div>
              <a class="glyphicon glyphicon-remove-circle" data-op="remove"  data-pointer="/DetailMain/skillsForshow/${$index}"></a>
            </li>
            {{/each}}
            <li class="col-md-9"><div class="addItemBtn" data-op="change" data-pointer="/DetailMain/skillsForshow/-" data-action="createskills"> + </div></li>
          </ul>
        </div>
      </div>
    </form>
  </div>

  <div class="baseInfo">
    <h4>兴趣爱好</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-10 col-md-11 col-md-offset-1 col-sm-offset-2">
          <ul class="moreTels">
            {{each $data.DetailMain.interestForshow}}
            <li class="row" style="margin:0;">
              <div class="form-group col-md-3" >
                <div class="">
                  <input type="text" class="form-control"   value="${$data.DetailMain.interestForshow[$index].item1}"  data-value="/DetailMain/interestForshow/${$index}/item1" placeholder="兴趣">
                </div>
              </div>
              <div class="form-group col-md-6">
                <div class="">
                  <input type="text" class="form-control"   value="${$data.DetailMain.interestForshow[$index].item2}"  data-value="/DetailMain/interestForshow/${$index}/item2" placeholder="简要描述16字以内">
                </div>
              </div>
              <a class="glyphicon glyphicon-remove-circle" data-op="remove"  data-pointer="/DetailMain/interestForshow/${$index}"></a>
            </li>
            {{/each}}
            <li class="col-md-9"><div class="addItemBtn" data-op="change" data-pointer="/DetailMain/interestForshow/-" data-action="createinterests"> + </div></li>
          </ul>
        </div>
      </div>
    </form>
  </div>

  <div class="optionBtn" style="border:0; box-shadow: 0 0;">
    <button id="userUpdate" type="submit" class="btn btn-warning">保存</button>
    <button id="userBack" type="button" class="btn btn-default">返回</button>
  </div>

</div>

<script>
  $(function(){
    selectChoice('AreaCodeChoice','AreaCode');
    selectChoice('LanguageKindChoice','LanguageKind');
    selectChoice('LanguageLevelChoice','LanguageLevel');
    selectChoice('drivingCountryChoice','drivingCountry');
    selectChoice('drivingLevelChoice','drivingLevel');
    selectChoice('LanguageLevelChoice','LanguageLevel');

    function selectChoice(selectID,inputID){
      $('#'+selectID).on('change',function(){
        var temp = $(this).find('option:selected').text();
        if(temp == "请选择"){temp ='';}
        $('#'+inputID).val(temp).trigger('keyup');     
      });
    }
    
    
  });
</script>

