<div class="container">
	<div class="row service-dropdown">
		<div class="col-md-10"></div>
		<div class="col-md-2 service-release">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					发布装备
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#/equipedit?facilityType=1">小型客车</a></li>
					<li><a href="#/equipedit?facilityType=2">WiFi设备</a></li>
					<li><a href="#/equipedit?facilityType=3">转换插座</a></li>
					<li><a href="#/equipedit?facilityType=4">摄影摄像</a></li>
					<li><a href="#/equipedit?facilityType=5">体育运动</a></li>
					<li><a href="#/equipedit?facilityType=6">船舶</a></li>
					<li><a href="#/equipedit?facilityType=7">其他</a></li>
				</ul>
			</div>
		</div><!-- end 下拉菜单部分 -->
	</div> <!-- end  装备列表页头部row -->
	<!-- 装备列表开始 -->
	<div class="list-group service-list">
	  	<div class="list-group-item clearfix disabled">
		  	<div class="col-md-1"></div>
		  	<div class="col-md-8 service-name">我的装备</div>
		  	<div class="col-md-2">装备类型</div>
		  	<div class="col-md-1 ">编辑</div>
	  	</div>
		{{each Facilities}}
	  	<div class="list-group-item clearfix btn-group">
		  	<div class="col-md-1"><input type="radio" name="optradio"></div>
		  	<div class="col-md-8 ">
		    	<div class="media">
				    <div class="media-left media-top">
					   <a href="#/equipdetail?facilityID=${facilityID}">
						  <img src="${ $data.IMGHOST + coverURL}" class="media-object" style="width:160px;height:160px">
					   </a>
				    </div>
			   		<div class="media-body">
						<div class="media-heading">${ facilityName}</div>
			   		</div>
				</div> <!-- end media -->
			</div>
			<div class="col-md-2 margin-top">
				{{if facilityType==1}}小型客车{{/if}}
				{{if facilityType==2}}WIFI设备{{/if}}
				{{if facilityType==3}}转换插座{{/if}}
				{{if facilityType==4}}摄影摄像{{/if}}
				{{if facilityType==5}}体育运动{{/if}}
				{{if facilityType==6}}船舶{{/if}}
				{{if facilityType==7}}其他{{/if}}
			</div>
			<div class="col-md-1 service-edit">
				<a href="#/equipedit?facilityID=${ facilityID}">
					<span class="btn  glyphicon glyphicon-edit"></span>
				</a>
			</div>
		</div>
		{{/each}}
	</div><!-- end list-group -->
</div><!-- end container -->

<!-- 页码 -->
<div class="container">
	<div class="pagination">
		<li>
			<a href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{{for $data.Counts[0].Count}}
		<li><a href="#">${i}</a></li>
		{{/for}}
		<li>
			<a href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</div>
</div><!-- end 页码 -->