<div class="fixedPos">
  <ul>
    <li id="backTop"></li>
    <li style="background-color: #667980"><a href="#EuropeImg">欧洲</a></li>
    <li style="background-color: #99b0b9"><a href="#AsiaImg">亚洲</a></li>
    <li ><a href="#NorthAmericaImg">北美</a></li>
    <li style="background-color: #667980"><a href="#SouthAmericaImg">南美</a></li>
    <li style="background-color: #99b0b9"><a href="#OceaniaImg">大洋洲</a></li>
    <li ><a href="#Africa">非洲</a></li>
    <li ><a href="#NSpoles">南北极</a></li>
    <li class="kefu"> </li>
  </ul>
</div> <!-- end fixedPos -->

<div class="index-searchbox">
  <div class="container">   
    <div class="form-group" style="display:inline;">
      <div class="input-group" style="width: 70%; margin: 0 auto;">
        <span class="input-group-btn btn-block" >
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-search"></span>
            <!-- <span class="nav-label">查找</span>
            <span class="text-warning">目的地</span>
            <span class="fa fa-caret-down"></span> -->
          </button>

          <!-- <ul id="search-option" class="dropdown-menu pull-left" role="menu">
            <li>
              <a href="#/" data-searchtype="search-user" data-placeholder="Enter First or Last Name">
                <span class="nav-label">国家:</span>
              </a>
            </li>
            <li>
              <a href="#/" data-searchtype="search-org" data-placeholder="Enter Organization Name">
              <span class="nav-label">行程天数:</span>
              </a>
            </li>
            <li>
              <a href="#/" data-searchtype="search-kb" data-placeholder="Enter Knowledgebase Search Terms">
              <span class="nav-label">出行人数:</span>
              </a>
            </li>
            <li>
              <a href="#/" data-searchtype="search-venue" data-placeholder="Enter Venue Search Terms">
              <span class="nav-label">主题:</span>
              </a>
            </li>
            <li>
              <a href="#/" data-searchtype="search-pl" data-placeholder="Enter Private Label">
              <span class="nav-label">住宿:</span>
              </a>
            </li>
          </ul> -->
        </span>       
        <div class="input-group col-lg-12 center-block">
          <input class="form-control" id="homeSearchKey" class="search-input" type="text" placeholder="酒店/景点/玩乐活动" style="height: 40px;">
        </div>
        <div class="input-group-btn navbar-btn">
          <button id="homeSearch" class="btn btn-default btn-nav">
          搜索
          </button>
        </div>
      </div><!-- end input-group -->
    </div><!-- end form-group -->  
  </div><!-- end container -->
</div> <!-- end 搜索框index-searchbox -->

<div class="homepage">  
  <div class="carousel-container">
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-generic" data-slide-to="1"></li>
            <li data-target="#carousel-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {{each Advs}} 
		      {{if $index == 0}}
			    <div class="item active">
          {{else}}
			    <div class="item">
          {{/if}}
            <img src="${ $data.IMGHOST }${PicUrl}" alt="Chania">
            <div class="carousel-caption">
              <h3>${Note}</h3>
              <!-- <p>${Note}</p> -->
            </div>
          </div>
          {{/each}}
        </div>
            <!-- Controls
            <a class="left carousel-control" href="#" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a-->
    </div><!-- end carousel -->
  </div> <!-- end carousel-container -->

<div class="solution" id="solution">
  <div class="box">
    <ul id="RunTopic">
    {{each(i,p) PlansByCountry['中国'].__values[0].Plans}}
      <li>
      <a href="#/plandetail?PlanID=${p.PlanID}">
        <div class="detail">
          <div class="img">
          <img data-src="${ $data.IMGHOST }${p.PicURL}" alt="">
        </div>
        <div class="text">
          <h4>${p.PlanName}</h4>
          <p class="textCon">${p.RegionCnName}</p>
          <p><span class="price">${p.PlanPriceBase}</span><span class="unit">元/人</span></p>
        </div>
        </div>
      </a>
      </li>
    {{/each}}
    </ul>
  </div>
</div>

    <div class="content">
      {{each(i,p) PlansByContinent}}
      <div class="container">
        <div class="continent-tit">
            {{if PlansByContinent[i].Continent=='1'}}
            <img src="../img/home-banner6.jpg"></img>
            {{/if}}
            {{if PlansByContinent[i].Continent=='2'}}
            <img src="../img/home-banner6.jpg"></img>
            {{/if}}
            {{if PlansByContinent[i].Continent=='3'}}
            <img src="../img/home-banner6.jpg" id="EuropeImg"></img>
            {{/if}}
            {{if PlansByContinent[i].Continent=='4'}}
            <img src="../img/home-banner1.jpg" id="OceaniaImg"></img>
            {{/if}}
            {{if PlansByContinent[i].Continent=='5'}}
            <img src="../img/home-banner6.jpg"></img>
            {{/if}}
            {{if PlansByContinent[i].Continent=='6'}}
            <img src="../img/home-banner5.jpg" id="AsiaImg"></img>
            {{/if}}
            {{if PlansByContinent[i].Continent=='7'}}
            <img src="../img/home-banner4.jpg"  id="NorthAmericaImg"></img>
            {{/if}}
        </div><!-- end 大洲continent-tit -->
        <br>
        <div class="nav-buttons">
          <div class="btn-group">
            <button type="button" class="btn btn-default active dropdown-toggle" data-toggle="dropdown">
              主题 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu theme" role="menu">
              <li>观光游览</li>
              <li>艺术</li>
              <li>轻探险</li>
              <li>亲子</li>
              <li>浪漫</li>
              <li>游学</li>
              <li>传统文化</li>
              <li>自然风光</li>
              <li>美食</li>
              <li>商务与投资</li>
            <!-- {{each(i,p) LabelByContinent[$data.PlansByContinent[i].Continent].__values[0].Label}}
            <li>${p}</li>
            {{/each}}  -->
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" >
              国家 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu country" role="menu" >
            {{each(i,p) CountryByContinent[$data.PlansByContinent[i].Continent].__values[0].Country}}
            <li>${p}</li>
            {{/each}}
            </ul>
          </div>
        </div>
        <div class="continent-tips">
            {{each(i,p) CountryByContinent[$data.PlansByContinent[i].Continent].__values[0].Country}}
            <li class="label label-warning media-left">${p}</li>
            {{/each}}
        </div>
        {{if PlansByContinent[i].Continent=='1'}}
        <div class="regular-grid" id="">
        {{else PlansByContinent[i].Continent=='2'}}
        <div class="regular-grid" id="">
        {{else PlansByContinent[i].Continent=='3'}}
        <div class="regular-grid" id="Europe">
        {{else PlansByContinent[i].Continent=='4'}}
        <div class="regular-grid" id="Oceania">
        {{else PlansByContinent[i].Continent=='5'}}
        <div class="regular-grid" id="">
        {{else PlansByContinent[i].Continent=='6'}}
        <div class="regular-grid" id="Asia">
        {{else PlansByContinent[i].Continent=='7'}}
        <div class="regular-grid" id="NorthAmerica">
        {{/if}}
          <div class="row continent-box">
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-12">
                  <div class="well mid">
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[0].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[0].PlanID}">
                      <div class="overlay">
                        <ul class="head">
      										<li>
                            ${ $data.PlansByContinent[i].Plans[0].PlanName}
                          </li>
      										<li>
                            <p><span>${ $data.PlansByContinent[i].Plans[0].AdultPrice}</span>元/人</p>
                          </li>
      									</ul>
                      </div>
                      </a>
                    </div><!-- end hovereffect -->
                  </div>
                </div>
              </div>
            </div><!-- end col-md-2 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="well">
                    {{if PlansByContinent[i].Plans[1]}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[1].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[1].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
      										<li>
                            ${ $data.PlansByContinent[i].Plans[1].PlanName}
                          </li>
      										<li>
                            <p><span>${ $data.PlansByContinent[i].Plans[1].AdultPrice}</span>元/人</p>
                          </li>
      									</ul>
                      </div>
                      </a>
                    </div><!-- end hovereffect -->
                    {{else}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[0].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[0].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
                          <li>
                            ${ $data.PlansByContinent[i].Plans[0].PlanName}
                          </li>
                          <li>
                            <p><span>${ $data.PlansByContinent[i].Plans[0].AdultPrice}</span>元/人</p>
                          </li>
                        </ul>
                      </div>
                    </div> <!-- end hovereffect -->
                    </a>
                    {{/if}}
                  </div><!-- end well -->
                </div>
                <div class="col-md-4">
                  <div class="well">
                    {{if PlansByContinent[i].Plans[2]}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[2].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[2].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
      										<li>
                            ${ $data.PlansByContinent[i].Plans[2].PlanName}
                          </li>
      										<li>
                            <p><span>${ $data.PlansByContinent[i].Plans[2].AdultPrice}</span>元/人</p>
                          </li>
      									</ul>
                      </div>
                    </div><!-- end hovereffect -->
                    </a>
                    {{else}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[0].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[0].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
                          <li>
                            ${ $data.PlansByContinent[i].Plans[0].PlanName}
                          </li>
                          <li>
                            <p><span>${ $data.PlansByContinent[i].Plans[0].AdultPrice}</span>元/人</p>
                          </li>
                        </ul>
                      </div>
                    </div> <!-- end hovereffect -->
                    </a>
                    {{/if}}
                  </div><!-- end well -->
                </div>
                <div class="col-md-4">
                  <div class="well">
                    {{if PlansByContinent[i].Plans[3]}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[3].PicURL}" alt="">
      								<a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[3].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
      										<li>
                            ${ $data.PlansByContinent[i].Plans[3].PlanName}
                          </li>
      										<li>
                            <p><span>${ $data.PlansByContinent[i].Plans[3].AdultPrice}</span>元/人</p>
                          </li>
      									</ul>
                      </div>
                    </div><!-- end hovereffect -->
                    </a>
                    {{else}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[0].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[0].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
                          <li>
                            ${ $data.PlansByContinent[i].Plans[0].PlanName}
                          </li>
                          <li>
                            <p><span>${ $data.PlansByContinent[i].Plans[0].AdultPrice}</span>元/人</p>
                          </li>
                        </ul>
                      </div>
                    </div> <!-- end hovereffect -->
                    </a>
                    {{/if}}
                  </div><!-- end well -->
                </div>
                <div class="col-md-4">
                  <div class="well">
                    {{if PlansByContinent[i].Plans[4]}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[4].PicURL}" alt="">
      								<a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[4].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
      										<li>
                            ${ $data.PlansByContinent[i].Plans[4].PlanName}
                          </li>
      										<li>
                            <p><span>${ $data.PlansByContinent[i].Plans[4].AdultPrice}</span>元/人</p>
                          </li>
      									</ul>
                      </div>
                    </div> <!-- end hovereffect -->
                    </a>
                    {{else}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[0].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[0].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
                          <li>
                            ${ $data.PlansByContinent[i].Plans[0].PlanName}
                          </li>
                          <li>
                            <p><span>${ $data.PlansByContinent[i].Plans[0].AdultPrice}</span>元/人</p>
                          </li>
                        </ul>
                      </div>
                    </div> <!-- end hovereffect -->
                    </a>
                    {{/if}}
                  </div> <!-- end well -->
                </div>
              </div> <!-- end row -->
            </div><!-- end col-md-6 -->
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-12">
                  <div class="well">
                    {{if PlansByContinent[i].Plans[5]}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[5].PicURL}" alt="">
      								<a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[5].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
      										<li>
                            ${ $data.PlansByContinent[i].Plans[5].PlanName}
                          </li>
      										<li>
                            <p><span>${ $data.PlansByContinent[i].Plans[5].AdultPrice}</span>元/人</p>
                          </li>
      									</ul>
                      </div>
                    </div> <!-- end hovereffect -->
                    </a>
                    {{else}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[0].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[0].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
                          <li>
                            ${ $data.PlansByContinent[i].Plans[0].PlanName}
                          </li>
                          <li>
                            <p><span>${ $data.PlansByContinent[i].Plans[0].AdultPrice}</span>元/人</p>
                          </li>
                        </ul>
                      </div>
                    </div> <!-- end hovereffect -->
                    </a>
                    {{/if}}
                  </div> <!-- end well -->
                  <div class="well">
                    {{if PlansByContinent[i].Plans[6]}}
                    <div class="hovereffect">
                        <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[6].PicURL}" alt="">
        								<a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[6].PlanID}">
                        <div class="overlay">
                          <ul class="head ">
        										<li>
                              ${ $data.PlansByContinent[i].Plans[6].PlanName}
                            </li>
        										<li>
                              <p><span>${ $data.PlansByContinent[i].Plans[6].AdultPrice}</span>元/人</p>
                            </li>
        									</ul>
                        </div>
                    </div> <!-- end hovereffect -->
                    </a>
                    {{else}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[0].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[0].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
                          <li>
                            ${ $data.PlansByContinent[i].Plans[0].PlanName}
                          </li>
                          <li>
                            <p><span>${ $data.PlansByContinent[i].Plans[0].AdultPrice}</span>元/人</p>
                          </li>
                        </ul>
                      </div>
                    </div> <!-- end hovereffect -->
                    </a>
                    {{/if}}
                  </div><!-- end well -->
                </div><!-- end col-md-12 -->
              </div> <!-- end row -->
            </div><!-- end col-md-2 -->
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-12">
                  <div class="well">
                    {{if PlansByContinent[i].Plans[7]}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[7].PicURL}" alt="">
      								<a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[7].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
      										<li>
                            ${ $data.PlansByContinent[i].Plans[7].PlanName}
                          </li>
      										<li>
                            <p><span>${ $data.PlansByContinent[i].Plans[7].AdultPrice}</span>元/人</p>
                          </li>
      									</ul>
                      </div>
                    </div>
                    </a>
                    {{else}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[0].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[0].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
                          <li>
                            ${ $data.PlansByContinent[i].Plans[0].PlanName}
                          </li>
                          <li>
                            <p><span>${ $data.PlansByContinent[i].Plans[0].AdultPrice}</span>元/人</p>
                          </li>
                        </ul>
                      </div>
                    </div> <!-- end hovereffect -->
                    </a>
                    {{/if}}
                  </div> <!-- end well -->
                  <div class="well">
                    {{if PlansByContinent[i].Plans[8]}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[8].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[8].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
      										<li>
                            ${ $data.PlansByContinent[i].Plans[8].PlanName}
                          </li>
      										<li>
                            <p><span>${ $data.PlansByContinent[i].Plans[8].AdultPrice}</span>元/人</p>
                          </li>
      									</ul>
                      </div>
                    </div>
                    </a>
                    {{else}}
                    <div class="hovereffect">
                      <img class="img-responsive" data-src="${ $data.IMGHOST }${ $data.PlansByContinent[i].Plans[0].PicURL}" alt="">
                      <a class="pull-left" href="#/plandetail?PlanID=${ $data.PlansByContinent[i].Plans[0].PlanID}">
                      <div class="overlay">
                        <ul class="head ">
                          <li>
                            ${ $data.PlansByContinent[i].Plans[0].PlanName}
                          </li>
                          <li>
                            <p><span>${ $data.PlansByContinent[i].Plans[0].AdultPrice}</span>元/人</p>
                          </li>
                        </ul>
                      </div>
                    </div> <!-- end hovereffect -->  
                    </a>
                    {{/if}}      
                  </div><!-- end well -->
                </div> <!-- end col-md-12 -->
              </div> <!-- end row -->
            </div><!-- end col-md-2 -->
          </div> <!-- end row -->
        </div> <!-- end regular-grid -->
      </div><!-- end container -->
      {{/each}}
    </div><!-- end content -->
</div><!-- end homepage -->

<div id="movieList"></div>

<script>
  $(function(){
    
      
  });
</script>

