<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单完成页</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/payment.css">
</head>
<!-- 公共header部分结束 -->
<!-- 进度条部分 -->
{{each OrderDetail }}
${Status}
  <div class="stepBarBox">
    {{if Status==4}}<li>已关闭</li>
    <p>${CloseReason}</p>{{else}}
    <div class="stepBarimg">
      <img src="img/payStepBar3.png" alt="">
    </div>
    <ul class="stepBarText">
      <li>提交订单</li>
      <li class="active">支付方式</li>
      <li class=" ">支付完成</li>
    </ul>
    {{/if}}
  </div>
<!-- 进度条部分结束 -->
<script type="text/javascript">

</script>
<div class="step" > 
  <!-- 支付完成界面 -->
  <div class="stepPart active" id="partThree">
      <h3 class="partTitle">订单信息 <small class="fr">导游将在24小时内接单</small></h3>
      <div class="content">
        <h4><span class="fa fa-weixin">${UserName}</span></h4>
        <div class="projectInfo clearfix">
          <div class="fl">
            <img src="${ $data.IMGHOST + picurl}" alt="">
          </div>
          <div class="textInfo fl">
            <h5>${ServiceTripName}</h5>
            <p>${countryName} ${cityName}</p>
          </div>
          <div class="scheduleOver fr">
            <h4>行程概览 <a href="#">查看></a></h4>
            <div class="row">
              <div class="col-sm-8">
                <p>出发 <span>${starttime}</span></p>
                <p>返程 <span>${endtime}</span></p>
              </div>
              <div class="col-sm-4">
                <div>共${traveldays}天</div>
              </div>
            </div>
          </div>
        </div>
        <div class="aboutPrice">
          <ul>
            <li>价格：<span>￥${costmoney}</span></li>
            <li>优惠券：<span>-￥0</span></li>
            <li>实付款：<span class="priceAct">￥${traveldays}</span></li>
          </ul>
        </div>
        <div class="detailInfo">
          <div class="row">
            <div class="col-md-2">
              <div class="textBox">退订政策</div>
            </div>
            <div class="col-md-10">
              <div class="unsubscribeText">
                ${Policy}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="textBox">身份信息</div>
            </div>
            <div class="col-md-10">
              <div class="idText">
                <div class="info">
                  <dl>
                    <dt>姓名：</dt>
                    <dd>${contactName}</dd>
                  </dl>
                  <dl>
                    <dt>手机：</dt>
                    <dd>${contactMobile}</dd>
                  </dl>
                  <dl>
                    <dt>Email：</dt>
                    <dd>${Email}</dd>
                  </dl>
                </div>                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="textBox">备注</div>
            </div>
            <div class="col-md-10">
              <div class="markText">
                ${Rremarks}
              </div>
            </div>
          </div>
        </div>
        <div class="aboutOrder">
          <div class="row">
            <div class="col-md-6">
              <dl>
                <dt>订单号：</dt> <dd>${OrderNo}</dd>
              </dl>
              <dl>
                <dt>创建时间：</dt> <dd>${ CreateTime}</dd>
              </dl>
              <dl>
                <dt>接单时间：</dt> <dd>${orderTakeTime}</dd>
              </dl>
              <dl>
                <dt>完成时间：</dt> <dd>${orderFinishTime}</dd>
              </dl>
              <dl>
                <dt>成交时间：</dt> <dd>${orderDealTime}</dd>
              </dl>
            </div>
            <div class="col-md-6">
              <dl>
                <dt>付款时间：</dt> <dd>${paidTime}</dd>
              </dl>
              <dl>
                <dt>付款渠道：</dt> <dd>${PayWay}</dd>
              </dl>
              <dl>
                <dt>流水号：</dt> <dd>${ paidSerialNumber}</dd>
              </dl>
              <dl>
                <dt>支付金额：</dt> <dd>￥${MoneyOfPaidNumber}</dd>
              </dl>
            </div>
          </div>
        </div>
        

        <div class="btnList">
          <button type="button" class="btn btn btn-warning" data-toggle="modal" data-target="#complainModal">投诉</button>
          {{if Status==1}}
          <button class="btn btn-warning">立即支付</button>
          {{/if}}
          {{if Status==1 || Status==2}}
          <button class="btn btn-warning">取消订单</button>
          {{/if}}
          {{if Status==4 }}
          {{if UserType==1}}
          <button class="btn btn-warning">确认完成</button>
          {{/if}}
          {{/if}}
          {{if Status==3}}
          {{if UserType==2}}
          <button class="btn btn-warning">完成</button>
          {{/if}}
          {{/if}}
          {{if Status==6}}
          <button class="btn btn-warning">评价</button>
          {{/if}}
          <button class="btn btn-warning">联系导游</button>
        </div>
      </div>   
  </div>
  <!-- 支付完成界面 -->

<!-- Modal -->
<div class="modal fade" id="complainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">请填写投诉信息</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-2">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" name="optionsRadios" value="option1" checked>
                投诉
              </label>
            </div>
          </div>
          <div class="col-sm-9">
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" name="optionsRadios" value="option1" checked>
                不需要退款
              </label>
            </div>
          </div>
        </div> 
        <div class="row"> 
          <div class="col-sm-2">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" name="optionsRadios" value="option1" checked>
                需要退款
              </label>
            </div>
          </div>
          <div class="col-sm-9" style="margin-top: 12px;">
            <div class="row">
              <div class="col-sm-3">退款金额</div>
              <div class="col-sm-9"><input type="text" class="form-control"></div>
            </div>
            <div class="row" style="margin-top: 14px;">
              <div class="col-sm-3">退款说明</div>
              <div class="col-sm-9"><textarea class="form-control" rows="5"></textarea></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>


</div>
{{/each}}

<script type="text/javascript">
	$(function(){
    
	});
</script>

</body>
</html>
