<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单完成页</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/payment.css">
</head>
<!-- 公共header部分结束 -->
<!-- 进度条部分 -->
{{each OrderDetail }}
  <div class="stepBarBox">
    {{if Status==5}}<h2>已关闭</h2>
    <p>关闭原因：${CloseReason}</p>
    {{else Status==1}}
    <div class="stepBarimg">
      <img src="img/payStepBar2.png" alt="">
    </div>
    <ul class="stepBarText">
      <li>提交订单</li>
      <li class="active">支付方式</li>
      <li class="">支付完成</li>
    </ul>
    {{else}}
    <div class="stepBarimg">
      <img src="img/payStepBar3.png" alt="">
    </div>
    <ul class="stepBarText">
      <li>提交订单</li>
      <li class="">支付方式</li>
      <li class="active">支付完成</li>
    </ul>
    {{/if}}
  </div>
<!-- 进度条部分结束 -->
<script type="text/javascript">

</script>
<div class="step" > 
  <!-- 支付完成界面 -->
  <div class="stepPart active" id="partThree">
      <h3 class="partTitle">订单信息 
      {{if Status==1}}<small class="fr">订单状态：未支付</small>
      {{else Status==2}}<small class="fr">订单状态：已支付，待接单</small>
      {{else Status==3}}<small class="fr">订单状态：已接单，待完成</small>
      {{else Status==4}}<small class="fr">订单状态：已完成，待评价</small>
      {{else Status==5}}<small class="fr">订单状态：已关闭</small>
      {{else Status==6}}<small class="fr">订单状态：已结算</small>
      {{/if}}
      </h3>
      <div class="content">
        <h4>${UserName}</h4>
        <div class="projectInfo clearfix">
          <div class="fl">
            <img src="${ $data.IMGHOST + picurl}" alt="">
          </div>
          <div class="textInfo fl">
            <h5>${ServiceTripName}</h5>
            <p>${countryName} ${cityName}</p>
          </div>
          <div class="scheduleOver fr">
            <h4>行程概览 
              <button type="button" class="btn btn btn-warning" data-toggle="modal" data-target="#previewdiv">查看</button>
            </h4>
            <!-- 行程预览弹出框 -->
            <div class="modal fade" id="previewdiv">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">行程概览</h4>
                  </div>
                  <div class="modal-body">
                    <ul>
                      <li class="row">
                        <div class="col-md-2 preview-left"></div>
                        <div class="col-md-10 preview-right">
                        <h3>第一天</h3>
                        <p>机场：</p>
                        <p>城市：${countryName} ${cityName}</p>
                        <p>景点：${NameCh}</p>
                        <p>美食：</p>
                        <p>其他：</p>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col-md-2 preview-left"></div>
                        <div class="col-md-10 preview-right">
                        <h3>第二天</h3>
                        <p>机场：</p>
                        <p>城市：</p>
                        <p>景点：</p>
                        <p>美食：</p>
                        <p>其他：</p>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col-md-2 preview-left"></div>
                        <div class="col-md-10 preview-right">
                        <h3>第三天</h3>
                        <p>机场：</p>
                        <p>城市：</p>
                        <p>景点：</p>
                        <p>美食：</p>
                        <p>其他：</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- .modal-dialog -->
            </div><!-- end 行程预览弹出框 -->

            <div class="row">
              <div class="col-sm-8">
                <p>出发 <span>${starttime}</span></p>
                <p>返程 <span>${endtime}</span></p>
              </div>
              <div class="col-sm-4">
                <div>共${traveldays}天</div>
              </div>
            </div>
          </div>
        </div><!-- end projectInfo -->
        <div class="aboutPrice">
          <ul>
            <li>价格：<span>￥${costmoney}</span></li>
            <li>优惠券：<span>-￥0</span></li>
            <li>实付款：<span class="priceAct">￥${costmoney}</span></li>
          </ul>
        </div> <!-- end aboutPrice -->
        <div class="detailInfo">
          <div class="row">
            <div class="col-md-2">
              <div class="textBox">退订政策</div>
            </div>
            <div class="col-md-10">
              <div class="unsubscribeText">
                ${Policy}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="textBox">身份信息</div>
            </div>
            <div class="col-md-10">
              <div class="idText">
                <div class="info">
                  <dl>
                    <dt>姓名：</dt>
                    <dd>${contactName}</dd>
                  </dl>
                  <dl>
                    <dt>手机：</dt>
                    <dd>${contactMobile}</dd>
                  </dl>
                  <dl>
                    <dt>Email：</dt>
                    <dd>${Email}</dd>
                  </dl>
                </div>                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="textBox">备注</div>
            </div>
            <div class="col-md-10">
              <div class="markText">
                ${Rremarks}
              </div>
            </div>
          </div>
        </div> <!-- end detailInfo -->
        <div class="aboutOrder">
          <div class="row">
            <div class="col-md-6">
              <dl>
                <dt>订单号：</dt> <dd>${OrderNo}</dd>
              </dl>
              <dl>
                <dt>创建时间：</dt> <dd>${ CreateTime}</dd>
              </dl>
              <dl>
                <dt>接单时间：</dt> <dd>${orderTakeTime}</dd>
              </dl>
              <dl>
                <dt>完成时间：</dt> <dd>${orderFinishTime}</dd>
              </dl>
              <dl>
                <dt>成交时间：</dt> <dd>${orderDealTime}</dd>
              </dl>
            </div>
            <div class="col-md-6">
              <dl>
                <dt>付款时间：</dt> <dd>${paidTime}</dd>
              </dl>
              <dl>
                <dt>付款渠道：</dt> <dd>${PayWay}</dd>
              </dl>
              <dl>
                <dt>流水号：</dt> <dd>${ paidSerialNumber}</dd>
              </dl>
              <dl>
                <dt>支付金额：</dt> <dd>￥${MoneyOfPaidNumber}</dd>
              </dl>
            </div>
          </div>
        </div><!-- end aboutOrder -->


            {{each OrderEvaluate}}
            <h4>评论 </h4>
              <div class="row">
                <div class="col-md-2">
                  <img src="${ $data.IMGHOST }${TouristAvatarPicURL}" style="width：100px;height: 100px;">
                </div>
                <div class="col-md-10">
                  <p class="userId">游客：${TouristName}</p>
                  <div class="commentText">${Remark}</div>
                  <ul class="comment-pic">
                    {{each(k,v) PicURLs}}
                    <li>
                      <img src="${ $data.IMGHOST }${v}" style="width：100px;height: 100px;">
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>

              {{if ReplyDetail != null }}
              <div class="reply col-md-offset-2">
              <div class="triangle"></div>
              导游回复：<span class="replyText">${ReplyDetail}</span>
            </div>
              {{/if}}
              {{if UserType==2}}
              {{if ReplyDetail == null }}
              <div class="row">
                <div class="col-md-12">
                  <h6>
                    <div class="commit">
                      <button id="commitR" class="btn btn-primary">回复</button>
                    </div>
                  </h6>
                  <textarea name=""  data-value="/OrderEvaluateI/0/ReplyDetail" class="form-control" rows="5"  ></textarea>
                  <span class="tip">还可以输入<strong>100</strong>个字符</span>
                </div>
              </div>
              {{/if}}
              {{/if}}
            {{/each}}

        {{if OrderEvaluate.length==0}}
        {{if UserType==1}}
        <div class="row">
          <div class="col-md-12">
            <h6>我要点评
              <div class="commit">
                <button id="commitE" class="btn btn-primary">提交评论</button>
              </div>
            </h6>
            <textarea name=""  data-value="/OrderEvaluateI/0/Remark" class="form-control" rows="5"  ></textarea>
            <span class="tip">还可以输入<strong>100</strong>个字符</span>
          </div>
          <div class="clearfix"/>
          <div class="col-md-12" >
            <h6>附图：</h6>
            <div id="photos">

              {{if typeof(OrderEvaluateI) !=='undefined' }}
              {{each $data.OrderEvaluateI[0].PicURLs}}
              <div class="col-md-2">
                <div class="imgBox" style="height: 120px;">
                  <img src="${$data.OrderEvaluateI[0].PicURLs[$index]}">
                  <a class="glyphicon glyphicon-remove-circle" data-op="remove" data-pointer="/OrderEvaluateI/0/PicURLs/${$index}"></a>
                </div>
              </div>
              {{/each}}
              {{/if}}
              <div class="col-md-2" data-op="toggle" data-pointer="/OrderEvaluateI/0/PicURLs" data-limit="3">
                <div class="imgBox addImg" data-op="change" data-pointer="/OrderEvaluateI/0/PicURLs/-" data-action="image" style="line-height: 120px; height: 120px;">+</div>
              </div>
            </div>
          </div>
          <div class="clearfix"/>
        </div>
        {{/if}}
        {{/if}}

        <div class="btnList">
          {{if Status==2 || Status==3 || Status==4}}
          {{if OrderComplaint=='' || OrderComplaint[0].ComplaintID==''}}
          {{if UserType==1}}
            <button type="button" class="btn btn btn-warning com" data-toggle="modal" data-target="#complainModal">投诉</button>
          {{/if}}
          {{else}}
            <button type="button" class="btn btn btn-warning" data-toggle="modal" data-target="#complainModal2">查看投诉</button>
          {{/if}}
          {{/if}}
          {{if Status==1}}
          <button class="btn btn-warning con" id="confirm">立即支付</button>
          {{/if}}
          {{if Status==1 || Status==2}}
          <button class="btn btn-warning com">取消订单</button>
          {{/if}}
          {{if Status==4 }}
          {{if UserType==1}}
          <button class="btn btn-warning con">确认完成</button>
          {{/if}}
          {{/if}}
          {{if Status==3}}
          {{if UserType==2}}
          <button class="btn btn-warning con">完成</button>
          {{/if}}
          {{/if}}
          <!--{{if Status==6}}-->
          <!--{{if OrderEvaluate.length==0}}-->
          <!--{{if UserType==1}}-->
          <!--<button class="btn btn-warning com">评价</button>-->
          <!--{{/if}}-->
          <!--{{/if}}-->
          <!--{{/if}}-->
          <button class="btn btn-warning">联系导游</button>
        </div>
      </div>   
  </div>
  <!-- 支付完成界面 -->

<!-- Modal -->
<div class="modal fade" id="complainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">请填写投诉信息</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-2">
            <div class="radio">
              <label>
                投诉
              </label>
            </div>
          </div>
          <div class="col-sm-9">
            <textarea id="Reason" class="form-control" rows="5"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="radio">
              <label>
                <input type="radio" id="returnOption1" name="optionsRadios" value="option1" checked>
                不需要退款
              </label>
            </div>
          </div>
        </div> 
        <div class="row"> 
          <div class="col-sm-2">
            <div class="radio">
              <label>
                <input type="radio" id="returnOption2" name="optionsRadios" value="option1" >
                需要退款
              </label>
            </div>
          </div>
          <div class="col-sm-9" style="margin-top: 12px;" id="returnOption2Con">
            <div class="row">
              <div class="col-sm-3">退款金额</div>
              <div class="col-sm-9"><input id="ApplyRefund" type="text" class="form-control"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="complain-commit" type="button" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal2 -->
  <div class="modal fade" id="complainModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" >您的投诉</h4>
        </div>
        <div class="modal-body" style="background-color: #F2F2F2; margin: 30px 70px; padding: 40px 40px; font-size: 14px;">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-3"><label>投诉信息</label></div>
            <div class="col-sm-9"><p>{{if OrderComplaint=='' || OrderComplaint[0].ComplaintID==''}}{{else}}${OrderComplaint[0].Reason}{{/if}}</p></div>
          </div>
          {{if OrderComplaint=='' || OrderComplaint[0].ApplyRefund=='' || OrderComplaint[0].ApplyRefund == null}}{{else}}
          <div class="row" style="margin-bottom: 10px;"> 
            <div class="col-sm-3"><label>退款金额</label></div>
            <div class="col-sm-9">
              <p>￥
                <span style="color: #FA703E; font-size: 16px; font-weight: bold; display: inline-block; padding: 0 5px;">{{if OrderComplaint=='' || OrderComplaint[0].ComplaintID==''}}{{else}}${OrderComplaint[0].ApplyRefund}{{/if}}</span>
                元
              </p>
            </div>
          </div>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{{/each}}

<script type="text/javascript">
	$(function(){
    $('#returnOption1').on('click',function(){
      $("#returnOption2Con").hide();
    });
    $('#returnOption2').on('click',function(){
      $("#returnOption2Con").show();
    });
	});
</script>

</body>
</html>
