<div class="container">
	<br>
	<div class="plandetail-page">
	<div >
		<div class="row">
			<div class="col-md-5 calender">
				<div id="calendar"></div>
			</div><!-- end calender -->
			<div class="col-md-7 carousel">
				<div class="carousel-container">
					<div id="carousel-generic" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							{{each $data.PlanInfo[0].PicURL}}
							{{if $index == 0}}
							<div class="item active">
							{{else}}
								<div class="item">
							{{/if}}
									<img src="${ $data.IMGHOST }${PicUrl}${ $data.PlanInfo[0].PicURL[$index]}" alt="Chania">
								</div>
							{{/each}}
							</div>
							<a class="left carousel-control" href="#" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="#" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
						</div><!-- end carousel -->
					</div> <!-- end carousel-container -->
				</div> <!-- end carousel-container -->
			</div><!-- end 日历和banner部分widget -->
		</div>

		<div class="row project">
			<h1>${ $data.PlanInfo[0].PlanName}</h1>
			<div class="project-main clearfix">
				<div class="col-md-5">
					<div class="imgBox">
						<img src="${ $data.IMGHOST }${$data.PlanInfo[0].AvatarPicURL}" alt="策划师头像" id="planerAvatar">
					</div>
					<div class="planner">
						<h3>策划师:${$data.PlanInfo[0].UserName}<span class="vipIcon"></span></h3>
						<span class="name" id="planerName">${$data.PlanInfo[0].UserMobile}</span> 
						<i class="fa fa-drupal"></i> 
						<button type="button" class="btn btn-default">咨询</button>
					</div>
				</div>
				<div class="col-md-5">
					<h4 class="price">￥<span id="salePrice">${ $data.PlanInfo[0].PlanPriceBase}</span>元</h4>
					<a href="orderSubmit.html" id="BUY"><button class="btn btn-primary">立即购买</button></a>
				</div>
				<div class="col-md-2">
					<p><i class="fa fa-heart-o"></i>添加收藏</p>
					<p><span id="playedNum">99</span>人玩过 | <span id="commetsNum">99</span>条评论</p>
				</div>		
			</div><!-- end main -->
		</div><!-- end 咨询师部分project -->

		<div class="row plandetail-main">
			<div class="col-md-3 main-left">
				<div class="recommendBox">
					<h2>更多推荐</h2>
					<ul id="recommendList">
						<li>
							<img src="img/upload/item01.png" alt="">
							<div class="text">
								<h6>巴黎组团5天4夜游 豪华游</h6>
								<button class="btn btn-default btn-self">方案</button>
								<p>￥<strong>3999</strong></p>
							</div>
						</li>
						<li>
							<img src="img/upload/item01.png" alt="">
							<div class="text">
								<h6>巴黎组团5天4夜游 豪华游</h6>
								<button class="btn btn-default btn-self">方案</button>
								<p>￥<strong>3999</strong></p>
							</div>
						</li>
					</ul>
					<p class="moreBtn"><a href="#">查看更多宝贝</a></p>
				</div>
			</div><!-- end 店铺内推荐列表 -->

			<div class="col-md-9 main-right">
				<div class="scheduleBox">
					<div class="scheduleNav clearfix" id="scheduleNav">
						<h2 class="pull-left">行程概览</h2>
						<div class="navList pull-right">
							<i class="glyphicon glyphicon-menu-left pull-left" id="preBtn"></i>
							<ul class="pull-left">
								{{for $data.PlanSchedule.__countPlanSchedule}}
								<li><a href="#day01"><button type="button" class="btn btn-default">第${i}天</button></a></li>
								{{/for}}
							</ul>
							<i class="glyphicon glyphicon-menu-right pull-left" id="nextBtn"></i>
						</div>
					</div>
					<div class="address">
						<div class="starter">
							<i class="glyphicon glyphicon-map-marker"></i>
							出发地：
							<span id="starter">${$data.PlanInfo[0].StartCity}</span>
						</div>
						<div class="pass">
							<i class="glyphicon glyphicon-map-marker"></i>
							经过：
							<span id="passing">{{each(k, v) PlanSchedule}}{{if  ("__countScheduleID" != k)  }} ${v.__values[0].CountryNameCn}${v.__values[0].CityNameCn}${v.__values[0].CountryNameCn}${v.__values[0].CityNameCn}{{/if}}{{/each}}
							</span>
						</div>
					</div>
					<div class="feature clearfix">
						<div class="col-md-2">
							<div class="tittle">方案特色</div>
						</div>
						<div class="col-md-10">
							<p class="text">
								${$data.PlanInfo[0].PlanFeature}
							</p>
						</div>
					</div>
					<div class="scheduleDetails">
						<ul>
							{{each(k,v) PlanSchedule}}
							{{if  ("__countScheduleID" != k)  }}
							<li id="day01">
								<h3 class="day">第${v.__index}天</h3>
								<div class="content">
									<ul class="clearfix">
										{{each  v.__values}}
										<li>
											<div class="picText">
												{{if ScheduleType == 0  }}
													{{if PicURL == null }}<img src="../img/CityIcon.png" alt="">{{/if}}
													{{if PicURL != null }}<img src="${ $data.IMGHOST }${PicURL}" alt="">{{/if}}
												{{/if}}
												{{if ScheduleType == 1 }}
												<img src="../img/airPlaneIcon.png" alt="">
												{{/if}}
												{{if (ScheduleType == 2 ||ScheduleType == 3 ||ScheduleType == 4 ||ScheduleType == 5) }}
												<img data-src="${ $data.IMGHOST }${PicURL}">
												{{/if}}
												<div class="text media-body">
													<div class="media-heading">${NameCh}</div>
													<div>${PlanNumber}</div>
													<div>${StartCity}</div>
													{{if  ScheduleType == 0  }}
													<span>${CountryNameCn}${CountryNameEn}&nbsp;&nbsp;</span>
													<span>${CityNameCn}${CityNameEn}</span>
													{{/if}}
													{{if  ScheduleType == 1  }}
													<div>${AirportNameCn}${AirportNameEn}${AirportCode}</div>
													{{/if}}
												</div>
											</div><!-- end picText -->
											<div class="nextBtn">
												<span class="glyphicon glyphicon-menu-right"></span>
											</div>
										</li>
										{{/each}}
									</ul>
								</div>
							</li>
							{{/if}}
							{{/each}}
						</ul>
					</div>
				</div><!-- end 预定须知 -->
				<div class="feature featureAlone clearfix" id="attention">
					<div class="col-md-2">
						<div class="tittle">预订须知</div>
					</div>
					<div class="col-md-10">
				    <ul class="text" id="orderNotice">
				    	<li id="policy"></li>
				    </ul>
					</div>
				</div><!-- end 预定须知结束 -->
				<!-- 评论列表 -->
				<div class="comments">
					<h4>游客评论 <a href="#commentOn" class="makeComments">我要点评 <i class="glyphicon glyphicon-edit"></i></a></h4>
					<ul class="commentList clearfix" id="commentList">
						{{each PlanComment}}
						<li>
							<div class="row">
								<div class="col-md-2">
									<img src="${ $data.IMGHOST }${AvatarPicURL}">
								</div>
								<div class="col-md-10">
									<p class="userId">${UserName}</p>
									<div class="commentText">${Remark}</div>
									<ul class="comment-pic">
									{{each(k,v) PicURLs}}
										<li>
											<img data-src="${ $data.IMGHOST }${v}">
										</li>
									{{/each}}
									</ul>
								</div>
							</div>
							<<div class="reply col-md-offset-2">
								<div class="triangle"></div>
								<!--导游回复：<span class="replyText">导游回复内容</span>-->
							</div>
						</li>
						{{/each}}
					</ul>
				</div><!-- end 评论列表 -->
				<!-- 评论区 -->
				<div class="commentOn" id="plan-comment">

				</div><!--end  评论区 -->
			</div>
		</div>
	</div>
</div><!-- end container -->