<div class="container">
    <div class="list-group">
	  {{each Service}}
	  <div class="list-group-item clearfix disabled">
		  <div class="col-md-1"><input type="radio" name="optradio"></div>
		  <div class="col-md-5">服务</div>
		  <div class="col-md-2">服务类型</div>
	    <div class="col-md-1 ">发布状态</div>
		  <div class="col-md-1 ">编辑</div>
	  </div>
	  <div class="list-group-item clearfix btn-group"><div class="col-md-1"><input type="radio" name="optradio"></div>
	  <div class="col-md-5 ">
	    <div class="media">
		  <div class="media-left media-top">
			<img src="${ $data.IMGHOST }${PicURL}" class="media-object" style="width:160px"></img>
		  </div>
		  <div class="media-body">
			<div class="media-heading">${ServiceName}</div>
		  </div>
		</div>
	  </div>
	  <div class="col-md-2 ">${TypeName}</div><div class="col-md-1 ">
	   {{if ServiceStatus ==1}}待审核 {{/if}}{{if ServiceStatus ==2}}审核通过 {{/if}}{{if ServiceStatus ==3}}导游隐藏 {{/if}}{{if ServiceStatus ==4}}导游发布 {{/if}}{{if ServiceStatus ==5}}导游定制 {{/if}}{{if ServiceStatus ==6}}未加入 {{/if}}{{if ServiceStatus ==7}}已加入 {{/if}}
	   </div><div class="col-md-1 "><div class="btn  glyphicon glyphicon-edit"></div></div></div>
	  {{/each}}
	</div>
</div>
<div class="container">
  <div class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	{{for $data.Counts[0].Count}}
    <li><a href="#">${i}</a></li>
    {{/for}}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </div>
</div>