
  <div class="container">
    <div class="detailpage">
      <ol class="col-md-4 pull-right breadcrumb">
        <li><a href="">产品管理</a></li>
        <li><a href="">服务</a></li>
        <li class="active"><a href="">租车预览</a></li>
        <li class="active"><a href="">返回</a></li>
      </ol> <!-- end 面包屑导航breadcrumb -->

      <!--   banner -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {{each(i,p) DetailMain[0].picURLs}}
          <li data-target="#carousel-example-generic" data-slide-to="${i}" class="{{if i==1}}active{{/if}}"></li>
          {{/each}}
        </ol>
        <div class="carousel-inner" role="listbox">
          {{each(i,p) DetailMain[0].picURLs}}
          <div class="item {{if i==1}}active{{/if}}">
            <img src="${$data.IMGHOST}${p}" alt="...">
          </div>
          {{/each}}
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" >
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!--  end  banner -->
      
      <div class="detailpage-mainbody">
        <div class="cardetail-title">
          <div class="row">
            <div class="col-md-2 guide-headimg">
              <img src="img/Guide/product-classicplan-detail1.png" alt="">
              <span>Denise<i class="glyphicon glyphicon-ok"></i></span>
            </div>
            <div class="col-md-10 guide-tit">
              <h1>${DetailMain[0].serviceName}</h1>
              {{each(i,p) Labels}}
              <span>${p}</span>
              {{/each}}
              <p class="price pull-right">价格：¥ <span>${DetailMain[0].primaryPrice}</span>元/人起</p>
            </div>
          </div> 
        </div> <!-- end 租车详情标题cardetail-title -->

        <div class="row product-detail price-detail">
          <h2>商品详情</h2>
          <div class="col-md-4">
            <p>包含里程：<span>${DetailMain[0].incMileage}</span>/公里</p>
          </div>
          <div class="col-md-4">
            <p>额外里程：<span>${DetailMain[0].exMileagePrice}</span>元/公里</p>
          </div>
          {{each(i,p) VehicleCharges}}
          {{if p.chargeType==1}}
          <div class="col-md-4">
            <!-- <p>包含里程：<span>1899km</span>/天</p> -->
            <p>GPS导航：<span>${VehicleCharges[0].chargePrice}元</span>/天</p>
          </div>
          {{/if}}
          <!-- <div class="col-md-3">
            <p>服务时长：<span>10h</span>/天</p>
          </div> -->
          {{if p.chargeType==2}}
          <div class="col-md-4">
            <p>撞车险：<span>${VehicleCharges[1].chargePrice}元</span>/天</p>
          </div>
          {{/if}}
          {{if p.chargeType==3}}
          <div class="col-md-4">
            <p>免赔险：<span>${VehicleCharges[2].chargePrice}元</span>/天</p>
          </div>
          {{/if}}
          {{/each}} 
        </div> <!-- end 商品详情product-detail -->
        <div class="row product-detail">
          <h2>服务屏蔽日期</h2>
          <div class="col-md-5 calender">
            <div id="calendarDetail"></div>
          </div>
        </div>

        <div class="row product-detail price-detail">
          <h2>车辆详情</h2>
          <div class="col-md-4">
            <!-- <p>车辆名称：<span>Panamera</span></p> -->
            <p>品牌：<span>${VehicleInfo[0].brand}</span></p>
            <p>舒适乘坐：<span>${VehicleInfo[0].person}位</span></p>
          </div>
          <div class="col-md-4">
            <p>车辆级别：<span>{{if VehicleInfo[0].clazz == '1'}}经济{{else VehicleInfo[0].clazz == '2'}}舒适{{else VehicleInfo[0].clazz == '3'}}豪华{{else VehicleInfo[0].clazz == '4'}}商务{{/if}}</span></p>
            <p>行李空间：<span>${VehicleInfo[0].luggage}升</span></p>
          </div>
          <div class="col-md-4">
            <p>型号：<span>${VehicleInfo[0].model}</span></p>
            <p>乘员险：<span>{{if VehicleInfo[0].insurance==1}}有{{else}}无{{/if}}</span></p>
          </div>
        </div> <!-- end 车辆详情product-detail -->

        <div class="product-detail price-detail pickup-detail">
          <h2>取货详情</h2>
          {{each(i,p) VehicleAddress}}
          {{if p.addressType==1}}
          <p>提车地址：<span>${p.address}</span></p>
          {{/if}}
          {{if p.addressType==2}}
          <p>取车地址：<span>${p.address}</span></p>
          {{/if}}
          {{/each}}
        </div> <!-- end 取货详情product-detail -->

        <div class="service-description">
          <h2>服务描述</h2>
          <div class="des">
            <p>
              ${DetailMain[0].description}
            </p>
          </div>
        </div><!-- end 服务描述service-description -->

        <div class="policy">
        {{each(i,p) Policy}}
          {{if p.policyType==1}}
          <h2>${p.policyName}</h2>
          <div class="des">
          <p>${p.description}</p>
          </div>
          {{/if}}
          {{if p.policyType==2}}
          <h2>${p.policyName}</h2>
          <div class="des">
            <p>${p.customRatio}</p>
          </div>
          {{/if}}
          {{if p.policyType==3}}
          <h2>${p.policyName}</h2>
          <div class="des">
            <p>${p.customRatio}</p>
          </div>
          {{/if}}
          {{if p.policyType==4}}
          <h2>预订须知</h2>
          <div class="des">
            <p>${p.caution}</p>
          </div>
          {{/if}}
        {{/each}}
        </div>
      </div> <!-- end 方案预览主题内容specialplan-mainbody -->

      <div class="buttons">
        <button id="delete" type="button" class="btn btn-default">删除</button>
        <!-- <button id="copy" type="button" class="btn">复制</button> -->
        <button id="edit" type="button" class="btn">编辑</button>
        {{if DetailMain[0].serviceStatus==3}}
        <button id="release" type="button" data-status="4" class="btn">发布</button>
        {{/if}}
        {{if DetailMain[0].serviceStatus==4}}
        <button id="release" type="button" data-status="3" class="btn">隐藏</button>
        {{/if}}
      </div>
    </div><!-- end container-box -->
  </div> <!-- end container -->
