<div class="container">
  <div class="detailpage">
    <ol class="col-md-4 pull-right breadcrumb">
      <li><a href="">产品管理</a></li>
      <li><a href="">服务</a></li>
      <li class="active"><a href="">景点预览</a></li>
      <li class="active"><a href="">返回</a></li>
    </ol> <!-- end 面包屑导航breadcrumb -->

    <!--   banner -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {{each(i,p) SpotPics}}
        <li data-target="#carousel-example-generic" data-slide-to="${i}" class="{{if i==0}}active{{/if}}"></li>
        {{/each}}
      </ol>
      <div class="carousel-inner" role="listbox">
        {{each(i,p) SpotPics}}
        <div class="item {{if i==0}}active{{/if}}">
          <img src="${$data.IMGHOST}${PicURL}" alt="...">
        </div>
        {{/each}}
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" >
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div><!--  end  banner -->
    
    <!--  end  banner -->
    <div class="detailpage-mainbody">
      <div class="attraction detailpage-title">
        <h1>${ SpotDetail[0].NameCh} ${ SpotDetail[0].NameEn} </h1>
        <p>{{each SpotLabels}}<span class="label label-warning">${ClassifyLabel}</span> {{/each}}</p>
      </div>
      <div class="row product-detail price-detail">
        <h2>景点详情</h2>
        <div class="col-md-3">
          <p class="">建议游玩：<span>${SpotDetail[0].TravelTime}小时</span></p>
          <p>联系电话：<span>${ SpotDetail[0].Tel}</span></p>
        </div>
        <div class="col-md-3">
          <p class="">国家城市：<span>${ SpotDetail[0].CountryName}</span><span>|</span><span>${ SpotDetail[0].CityName}</span></p>
          <p>地址：<span>${ SpotDetail[0].Address}</span></p>
        </div>
        <div class="col-md-3">
          <p class="">区号：<span>${ SpotDetail[0].ZoneCode}</span></p>
        </div>
        <div class="col-md-3">
          <p class="">邮编：<span>${ SpotDetail[0].ZipCode}</span></p>
        </div>
      </div> <!-- end 商品详情product-detail -->
      <div class="service-description">
        <h2>景点描述</h2>
        <div class="des">
          <p>
            ${ SpotDetail[0].Description}
          </p>
        </div>
      </div><!-- end 服务描述service-description -->
    </div> <!-- end 方案预览主题内容specialplan-mainbody -->

    <div class="buttons">
      <button id="delete" type="button" class="btn btn-default">删除</button>
      <button id="edit" type="button" class="btn">编辑</button>
      {{if SpotDetail[0].Status==1}}
      <button id="release" type="button" data-status="2" class="btn">发布</button>
      {{/if}}
      {{if SpotDetail[0].Status!=1}}
      <button id="release" type="button" data-status="1" class="btn">隐藏</button>
      {{/if}}
    </div>
  </div> <!-- end container-box -->
</div> <!-- end container -->
