<div class="container">
	<div class="row service-dropdown">
		<div class="col-md-10"></div>
		<div class="col-md-2 service-release">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<a href="#/accommodationedit?spotType=3">发布住宿</a>
				</button>
			</div>
		</div><!-- end 下拉菜单部分 -->
	</div> <!-- end  住宿列表页头部row -->
	<!-- 住宿列表开始 -->
	{{if Attraction != 0}}
	<div class="list-group service-list">
		<div class="list-group-item clearfix disabled">
			<div class="col-md-1">序号</div>
			<div class="col-md-5 service-name">我的住宿方案</div>
			<div class="col-md-1">价格</div>
			<div class="col-md-2">行程天数</div>
			<div class="col-md-2 ">发布状态</div>
			<div class="col-md-1 ">编辑</div>
		</div>
		{{each Attraction}}	
		<div class="list-group-item clearfix btn-group">
			<div class="col-md-1">${$index+1}</div>
			<div class="col-md-5 ">
				<div class="media">
					<div class="media-left media-top">
						<a href="#/accommodationdetail?spotsID=${id}">
						<img src="${ $data.IMGHOST }${PicURL}" class="media-object" style="width:160px;height:160px"></img>
						</a>
					</div>
					<div class="media-body">
						<div class="media-heading">${NameCh}</div>
						<div>${NameEn}</div>
						<div>${Country}|${City}</div>
					</div>
				</div>
			</div>
			<div class="col-md-1 margin-top">${PlanPriceBase}</div>
			<div class="col-md-2 margin-top">${PlanDays}</div>
			<div class="col-md-2 margin-top">
				{{if Status ==1}}<input class="switchCheckbox release" type="checkbox" data-on-text="已发布" data-off-text="隐藏" data-status='2' data-spotsid=${id}> {{/if}}{{if Status ==2}}<input class="switchCheckbox release" type="checkbox" data-on-text="已发布" data-off-text="隐藏" data-status='1'  data-spotsid=${id} checked > {{/if}}
			</div>
			<div class="col-md-1 service-edit">
				<a href="#/accommodationedit?SpotsID=${ SpotsID}&spotType=3">
				<span class="btn  glyphicon glyphicon-edit"></span>
				</a>
			</div>
		</div>
		{{/each}}
	</div>
	{{/if}}
</div> <!-- end container -->
<!-- 页码 -->
<div class="container">
	<div class="pagination">
		{{if $data.Counts[0].Count != 0}}
		<li>
			<a name="page" href="#" data-value="p" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{{for $data.Counts[0].Count}}
		<li><a name="page" data-value="${i}" href="#">${i}</a></li>
		{{/for}}
		<li>
			<a name="page" href="#" data-value="n" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{{/if}}
	</div>
</div>