  <div class="container">
    <div class="detailpage">
    <ul class="breadcrumb">
      <li><a href="">产品管理</a></li>
      <li><a href="">经典方案</a></li>
      <li class="active"><a href="">方案预览</a></li>
    </ul> <!-- end 面包屑导航breadcrumb -->

    <!--   banner -->
    <div  class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        {{each PlansByUser[0].PicURL}}
        {{if $index == 0}}
        <div class="item active">
          {{else}}
          <div class="item">
            {{/if}}
            <img src="${ $data.IMGHOST }${PlansByUser[0].PicURL[$index]}" alt="Chania">
          </div>
        {{/each}}
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div><!--  end  banner -->
    
    <div class="detailpage-mainbody">
      <div class="detailpage-title">
        <h1 >${PlansByUser[0].PlanName}</h1>
        <div id="planlabels"></div>
        <div class="row price-detail">
          <div class="col-md-6">
            <p class="price">价格：¥<span>${PlansByUser[0].PlanPriceBase}</span>元/人</p>
            <p>成人价：¥<span>${PlansByUser[0].AdultPrice}</span>元/人</p>
            <p>儿童价：¥<span>${PlansByUser[0].KidPrice}</span>元/人</p>
          </div>
          <div class="col-md-6 plan-description">
            <h3>方案描述</h3>
            <p>
              ${PlansByUser[0].PlanFeature}
            </p>
          </div>
        </div> <!-- end price-detail -->
        <div class="guidelist clearfix">
          <div class="guidehead">
            <img data-src="${ $data.IMGHOST }${PlanJoiner[0].AvatarPicURL}" alt="">
            {{if PlanJoiner[1]}}
            <img data-src="${ $data.IMGHOST }${PlanJoiner[1].AvatarPicURL}" alt="">
            {{/if}}
            {{if PlanJoiner[2]}}
            <img data-src="${ $data.IMGHOST }${PlanJoiner[2].AvatarPicURL}" alt="">
            {{/if}}
            <span>等${PlanJoiner.length}位导游提供服务<i class="glyphicon glyphicon-chevron-right"></i></span>
          </div>
        </div>
      </div> 
      <div class="trip">
        <h2>行程</h2>
        <div class="row">
          <div class="col-md-4">
            <p>天数：<span>${$data.PlanSchedule.__countPlanSchedule}天</span></p>
            <p>出发：</p>
          </div>
          <!--<div class="col-md-3">
            <p>公里数：<span>189990km</span></p>
            <p>结束：<span>法国</span><span>巴黎</span></p>
          </div>-->
          <div class="col-md-5">
            <p>经过：<span>{{each(k, v) PlanSchedule}} {{if  ("__countScheduleID" != k)  }} ${v.__values[0].CountryNameCn}${v.__values[0].CityNameCn}  {{/if}} {{/each}}</span></p>
          </div>
        </div>
      </div>
      <div class="policy">
        <h2>退订政策</h2>
        <div class="des">
          <h5 id="refundpolicy"></h5>>
        </div>
      </div>
      <div class="cost-include">
        <h2>费用包含</h2>
        <div class="des">
          <h5 id="costpolicy"></h5>>
        </div>
      </div>
      <div class="cost-oneself">
        <h2>费用自理</h2>
        <div class="des">
          <h5 id="excostpolicy"></h5>>
        </div>
      </div>
      <div class="sign-notes">
        <h2>签证须知</h2>
        <div class="des">
          <h5 id="visapolicy"></h5>>
        </div>
      </div>
      <div class="attention">
        <h2>注意事项</h2>
        <div class="des">
          <h5 id="noticepolicy"></h5>>
        </div>
      </div>
    </div> <!-- end 方案预览主题内容specialplan-mainbody -->

    <div class="buttons">
      <button id="delete" type="button" class="btn btn-default">删除</button>
      <button id="edit" type="button" class="btn btn-warning">编辑</button>
      <button id="release" type="button" class="btn btn-warning">发布</button>
    </div>
    </div>
  </div> <!-- end container -->
