<div class="container">
	<div class="row service-dropdown">
		<div class="col-md-10"></div>
		<div class="col-md-2 service-release">
			<div class="btn-group">
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					发布租车
					<!-- <span class="caret"></span> -->
				</button>
				<!-- <ul class="dropdown-menu" role="menu">
					<li><a href="">发布包车服务</a></li>
					<li><a href="">发布接机服务</a></li>
					<li><a href="">发布送机服务</a></li>
					<li><a href="">发布其他服务</a></li>
				</ul> -->
			</div>
		</div><!-- end 下拉菜单部分 -->
	</div> <!-- end  服务列表页头部row -->
	<!-- 服务列表开始 -->
	<div class="list-group service-list">
		{{each Service}}
		<div class="list-group-item clearfix disabled">
			<div class="col-md-1"><input type="radio" name="optradio"></div>
			<div class="col-md-8 service-name">我的租车服务</div>
			<div class="col-md-2 ">发布状态</div>
			<div class="col-md-1 ">编辑</div>
		</div>
		<div class="list-group-item clearfix btn-group">
			<div class="col-md-1"><input type="radio" name="optradio"></div>
			<div class="col-md-8 ">
				<div class="media">
					<div class="media-left media-top">
						<a href="#/cardetail?ServiceID=${ServiceID}">
							<img src="${ $data.IMGHOST }${PicURL}" class="media-object" style="width:160px;height:160px"></img>
						</a>
					</div>
					<div class="media-body">
						<div class="media-heading">${ServiceName}</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 margin-top">
				{{if ServiceStatus ==1}}待审核 {{/if}}{{if ServiceStatus ==2}}审核通过 {{/if}}{{if ServiceStatus ==3}}导游隐藏 {{/if}}{{if ServiceStatus ==4}}导游发布 {{/if}}{{if ServiceStatus ==5}}导游定制 {{/if}}{{if ServiceStatus ==6}}未加入 {{/if}}{{if ServiceStatus ==7}}已加入 {{/if}}
			</div>
			<div class="col-md-1 service-edit">
				<a href="#/caredit?ServiceID=${ServiceID}">
				<span class="btn  glyphicon glyphicon-edit"></span>
				</a>
			</div>
		</div>
		{{/each}}
	</div><!-- end list-group -->
</div><!-- end container -->
<!-- 页码 -->
<div class="container">
	<div class="pagination">
		<li>
			<a href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{{for $data.Counts[0].Count}}
		<li><a href="#">${i}</a></li>
		{{/for}}
		<li>
			<a href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</div>
</div>