<div class="container">
  <br>
  <div class="plandetail-page">
    <ul class="pull-right breadcrumb">
      <li><a href="javascript:void();">产品管理</a></li>
      <li><a href="javascript:void();">我的产品</a></li>
      <li class="active"><a href="javascript:void();">图文方案预览</a></li>
      <li class="underline"><a href="JavaScript:history.back();">返回</a></li>
    </ul> <!-- end 面包屑导航breadcrumb -->
    <div>
      <div class="row">
        <div class="col-md-12 carousel">
          <div class="carousel-container">
            <div id="carousel-generic" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                {{each $data.PlanInfo[0].PicURL}}
                {{if $index == 0}}
                <div class="item active">
                  {{else}}
                  <div class="item">
                    {{/if}}
                    <img src="${ $data.IMGHOST }${PicUrl}${ $data.PlanInfo[0].PicURL[$index]}" alt="Chania">
                  </div>
                  {{/each}}
                </div>
                <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div><!-- end carousel -->
            </div> <!-- end carousel-container -->
          </div> <!-- end carousel-container -->
        </div><!-- end banner部分carousel -->
      </div>

      <div class="row project">
        <h1>${$data.PlanInfo[0].PlanName}</h1>
        <div class="project-main clearfix">
          <div class="col-md-4">
            <div class="imgBox">
              <img src="${ $data.IMGHOST }${$data.PlanInfo[0].AvatarPicURL}" alt="策划师头像" id="planerAvatar">
            </div>
            <div class="planner">
              <h3>策划师:${$data.PlanInfo[0].UserName}<span class="vipIcon"></span></h3>
              <span class="name" id="planerName">${$data.PlanInfo[0].UserMobile}</span>
              <!--<a  class="btn btn-warning" id="TALK" target="_blank">咨询</a>-->
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="price">成人价：￥<span id="AdultPrice">${ $data.PlanInfo[0].AdultPrice}</span>元起&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;儿童价：￥<span id="KidPrice">${ $data.PlanInfo[0].KidPrice}</span>元起 </h4>
            <!--<a data-href="#/planpay1?PlanID=${$data.PlanInfo[0].PlanID}" id="buyNow"><button class="btn btn-primary">立即购买</button></a>-->
          </div>
          <div class="col-md-2">
            <p><i class="fa fa-heart-o"></i>添加收藏</p>
            <p><span id="playedNum">99</span>人玩过 | <span id="commetsNum">99</span>条评论</p>
          </div>
        </div><!-- end main -->
      </div><!-- end 咨询师部分project -->

      <div class="row plandetail-main">
        <div class="col-md-12  ">
          <div class="scheduleBox">
            <div class="scheduleNav clearfix" id="scheduleNav">
              <h2 class="pull-left">行程概览</h2>
              <div class="navList pull-right">
                <i class="glyphicon glyphicon-menu-left pull-left" id="preBtn"></i>
                <ul class="pull-left">
                    {{each(k,v) PlanSchedule}}
                    {{if  ("__countScheduleID" != k)  }}
                    <li>
                      <a href="#day01">
                        <button type="button" class="btn btn-default">第${v.__index}天</button>
                      </a>
                    </li>
                    {{/if}}
                    {{/each}}
                  </ul>
                <i class="glyphicon glyphicon-menu-right pull-left" id="nextBtn"></i>
              </div>
            </div>
            <div class="address">
              <div class="starter">
                <i class="glyphicon glyphicon-map-marker"></i>
                出发地：
                <span id="starter">${$data.PlanInfo[0].StartCity}</span>
              </div>
            </div>
            <div class="feature clearfix">
              <div class="row">
                <div class="col-md-2">
                  <div class="tittle">方案特色</div>
                </div>
                <div class="col-md-10" style="width:60%;">
                  <div class="scheduleDetails">
                    <p class="text">
                      ${$data.PlanInfo[0].PlanFeature}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="tittle">行程安排</div>
                </div>
                <div class="col-md-10" style="width:60%;">
                  <div class="scheduleDetails" style="padding-left: 15px; font-size: 14px; margin-top: 35px;">
                    {{each $data.PlanShort}}
                    {{if Label}}
                    <div class="row day-edit">
                      <p><span>${Label}</span></p>
                    </div>
                    {{/if}}

                    {{if PicURL}}
                    <div class="row picture-edit" style="margin-bottom: 15px;">
                      <div class="imgBox">
                        <img name="needPrefix" src="${ $data.IMGHOST }${PicURL}">
                      </div>
                    </div>
                    {{/if}}

                    {{if Content}}
                    <div class="row introduction" style="margin-bottom: 15px;">
                      ${ Content}
                    </div>
                    {{/if}}
                    {{/each}}
                  </div><!-- end scheduleDetails -->
                </div><!-- col-md-10 -->
              </div>

            </div> <!-- end feature -->
          </div><!-- end 预定须知 -->
          <div class="feature featureAlone clearfix" id="attention">
            <div class="col-md-2">
              <div class="tittle">预订须知</div>
            </div>
            <div class="col-md-10">
              <ul class="text" id="orderNotice">
                <li id="policy"></li>
              </ul>
            </div>
          </div><!-- end 预定须知结束 -->
          <div class="feature featureAlone clearfix" id="attention">
            <div class="col-md-2">
              <div class="tittle">费用包含</div>
            </div>
            <div class="col-md-10">
              <ul class="text" id="orderNotice">
                <li id="costinc"></li>
              </ul>
            </div>
          </div><!-- end 预定须知结束 -->
          <div class="feature featureAlone clearfix" id="attention">
            <div class="col-md-2">
              <div class="tittle">费用自理</div>
            </div>
            <div class="col-md-10">
              <ul class="text" id="orderNotice">
                <li id="costexc" class="clearfix"></li>
              </ul>
            </div>
          </div><!-- end 预定须知结束 -->
          <div class="feature featureAlone clearfix" id="attention">
            <div class="col-md-2">
              <div class="tittle">签证须知</div>
            </div>
            <div class="col-md-10">
              <ul class="text" id="orderNotice">
                <li id="visa"></li>
              </ul>
            </div>
          </div><!-- end 预定须知结束 -->
          <div class="feature featureAlone clearfix" id="attention">
            <div class="col-md-2">
              <div class="tittle">注意事项</div>
            </div>
            <div class="col-md-10">
              <ul class="text" id="orderNotice">
                <li id="warning"></li>
              </ul>
            </div>
          </div><!-- end 预定须知结束 -->

        </div>
      </div> <!-- end plandetail-main -->

      <!--编辑报价-->
      <div class="featureAlone row">
        <h4>查看报价</h4>
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-8">
          <div class="col-sm-10 col-md-8" id="calendar"></div>
        </div>
      </div>

      <!-- 单日价格设置弹出框 -->
      <div id="dayPriceSet" class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title clearfix text-center">查看价格详情</h4>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <td>报价名称</td>
                    <td>成人价</td>
                    <td>儿童价</td>
                    <td>库存</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="text" placeholder="请输入"/></td>
                    <td><input type="text" placeholder="请输入"/></td>
                    <td><input type="text" placeholder="请输入"/></td>
                    <td><input type="text" placeholder="请输入"/></td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- end modal-body -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- 单日价格设置弹出框结束 -->

      <a href="#/shortplanedit?version=2&PlanID=${$data.PlanInfo[0].PlanID}"  class="btn  btn-warning">编辑</a>
    </div>
  </div> <!-- end plandetail-page -->
</div> <!-- end container