<div class="container">
	<div class="row service-dropdown">
		<div class="col-md-10"></div>
		<div class="col-md-2 service-release">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<a href="#/attractionedit?spotType=1">发布景点</a>
				</button>
			</div>
		</div><!-- end 下拉菜单部分 -->
	</div> <!-- end  景点列表页头部row -->
	<!-- 景点列表开始 -->
    <div class="list-group service-list">
	    {{each Attraction}}
	    <div class="list-group-item clearfix disabled">
	    	<div class="col-md-1"></div>
	    	<div class="col-md-5 service-name">我的景点方案</div>
	    	<div class="col-md-1">价格</div>
	    	<div class="col-md-2">行程天数</div>
	    	<div class="col-md-2 ">发布状态(发布/草稿)</div>
	    	<div class="col-md-1 ">编辑</div>
	    </div>
	    <div class="list-group-item clearfix btn-group">
	    	<div class="col-md-1"><input type="radio" name="optradio"></div>
	    	<div class="col-md-5 ">
	    		<div class="media">
		  			<div class="media-left media-top">
						<a href="#/attractiondetail?spotsID=${id}">
							<img src="${ $data.IMGHOST+PicURL }" class="media-object" style="width:160px;height:160px"></img>
						</a>
					</div>
					<div class="media-body">
						<div class="media-heading">${NameCh}</div>
						<div>${NameEn}</div>
						<div>${Country}|${City}</div>
			  		</div>
				</div> <!-- end media -->
	  		</div>
	  		<div class="col-md-1 margin-top">${PlanPriceBase}</div>
	  		<div class="col-md-2 margin-top">${PlanDays}</div>
	  		<div class="col-md-2 margin-top">
	   			{{if Status ==1}}<input class="switchCheckbox release" type="checkbox" data-on-text="已发布" data-off-text="隐藏" data-status='2' data-spotsid=${id}> {{/if}}{{if Status ==2}}<input class="switchCheckbox release" type="checkbox" data-on-text="已发布" data-off-text="隐藏" data-status='1'  data-spotsid=${id} checked > {{/if}}
	   		</div>
	   		<div class="col-md-1 service-edit">
				<a href="#/attractionedit?SpotsID=${ SpotsID}&spotType=1">
				<span class="btn  glyphicon glyphicon-edit"></span>
				</a>
	   		</div>
	   	</div>
	  {{/each}}
	</div>
</div> <!-- end container -->
<!-- 页码 -->
<div class="container">
	<div class="pagination">
	{{if $data.Counts[0].Count == 1}}
		<li>
			<a name ="page" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{{for $data.Counts[0].Count}}
		<li><a name ="page" href="#">${i}</a></li>
		{{/for}}
		<li>
			<a name ="page" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	{{/if}}
	</div>
</div>