<div class="container">
  <div class="detailpage">
    <ol class="col-md-4 pull-right breadcrumb">
      <li><a href="">产品管理</a></li>
      <li><a href="">服务</a></li>
      <li class="active"><a href="">包车预览</a></li>
      <li class="active"><a href="">返回</a></li>
    </ol> <!-- end 面包屑导航breadcrumb -->
    <!--   banner -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {{each(i,p) DetailMain[0].picURLs}}
        <li data-target="#carousel-example-generic" data-slide-to="${i}" class="{{if i==1}}active{{/if}}"></li>
        {{/each}}
      </ol>
      <div class="carousel-inner" role="listbox">
        {{each(i,p) DetailMain[0].picURLs}}
        <div class="item {{if i==1}}active{{/if}}">
          <img src="${$data.IMGHOST}${p}" alt="...">
        </div>
        {{/each}}
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" >
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div><!--  end  banner -->
    <div class="detailpage-mainbody">
      <div class="cardetail-title">
        <div class="row">
          <!--<div class="col-md-2 guide-headimg">-->
            <!--<img src="img/Guide/product-classicplan-detail1.png" alt="">-->
            <!--<span>Denise<i class="glyphicon glyphicon-ok"></i></span>-->
          <!--</div>-->
          <div class="col-md-10 guide-tit">
            <h1>${DetailMain[0].serviceName}</h1>
            {{each(i,p) Labels}}
            <span>${p}</span>
            {{/each}}
            <p class="price pull-right">价格：¥ <span>${DetailMain[0].primaryPrice}</span>元/人起</p>
          </div>
        </div>
      </div> <!-- end 租车详情标题cardetail-title -->

      <div class="row product-detail price-detail">
        <h2>商品详情</h2>
        <div class="col-md-3">
          <p>包含里程：<span>${DetailMain[0].incMileage}</span>公里</p>
          <p>额外里程：<span>${DetailMain[0].exMileagePrice}</span>元/公里</p>
          <p>包含时间：<span>${DetailMain[0].freeForDelay}</span>小时</p>
          <p>额外时间：<span>${DetailMain[0].waitOutTimePrice}</span>元/小时</p>            
        </div>

        {{if Facility.length!=0}}

        <div class="col-md-3">
          <!-- <p>服务时长：<span>10h</span>/天</p> -->
          <p>品 牌：<span>${Facility[0].brand}</span></p>
          <p>车辆名称：<span>${Facility[0].facilityName}</span></p>
          <p>型号：<span>${Facility[0].model}</span></p>
        </div>
        <div class="col-md-3">
          <p>舒适乘坐：<span>${Facility[0].seats}位</span></p>
          <p>车辆级别：<span>${Facility[0].clazz}</span></p>
        </div>
        <div class="col-md-3">
          <p>乘员险：<span>{{if Facility[0].insurance==1}}有{{else}}无{{/if}}</span></p>
          <p>行李空间：<span>${Facility[0].luggage}升</span></p>
        </div>
        {{/if}}
      </div>

      <!-- end 商品详情product-detail -->

      <div class="vihicle-list">
        <div class="vihicle-listbody">
          <ul class="vmcarousel-centered-infitine vmc-centered">
            {{if Facility.length!=0}}
            {{each(i,p) Facility[0].facilityPics}}
            <li style="width:250px"><img src="${$data.IMGHOST}${p}" alt=""></li>
            {{/each}}
            {{/if}}
          </ul>
        </div>
      </div><!-- end 车辆轮播图vihicle-list -->

      <div class="service-description">
        <h2>服务说明</h2>
        <div class="des">
          <ul class="tips-description">
            {{each(i,p) TravelogueDetail}}
            <li>
              {{if label}}<h4>${label}<br><span></span></h4>{{/if}}
              {{if picURL}}<img src="${ $data.IMGHOST }${picURL}" >{{/if}}
              {{if content}}
              <div class="tipsdes">
                <p>
                  ${content}
                </p>
              </div>
              {{/if}}
            </li>
            {{/each}}
          </ul><!--  end tips-description -->
        </div>
      </div><!-- end 服务描述service-description -->

      <div class="policy">
      {{each(i,p) Policy}}
        {{if p.policyType==1}}
        {{if p.type==4}}
        <h2>${p.policyName}</h2>
        <div class="des">
        <p>${p.description}</p>
        </div>
        {{else}}
        <h2>${p.policyName}</h2>
        <div class="des">
          <p>1、服务开始前${p.day1}天(含)以上退订，退还服务费用的${p.ratio1*100}%；</p>
          <p>2、服务开始前${p.day2}天(含)至${p.day1}天退订，退还服务费用的${p.ratio2*100}%；</p>
          <p>3、服务开始前${p.day3}天(含)至${p.day2}天退订，退还服务费用的${p.ratio3*100}%；</p>
          <p>4、服务开始前${p.day3}天以内退订，不退还服务费用；</p>
          <p>5、${p.description}</p>
        </div>
        {{/if}}
        {{/if}}
        {{if p.policyType==2}}
        <h2>${p.policyName}</h2>
        <div class="des">
          <p>${p.customRatio}</p>
        </div>
        {{/if}}
        {{if p.policyType==3}}
        <h2>${p.policyName}</h2>
        <div class="des">
          <p>${p.customRatio}</p>
        </div>
        {{/if}}
        {{if p.policyType==4}}
        <h2>预订须知</h2>
        <div class="des">
          <p>${p.caution}</p>
        </div>
        {{/if}}
      {{/each}}
      </div>
    </div> <!-- end 方案预览主题内容specialplan-mainbody -->

    <div class="buttons">
      <button id="delete" type="button" class="btn btn-default">删除</button>
      <!-- <button id="copy" type="button" class="btn btn-lg">复制</button> -->
      <button id="edit" type="button" class="btn">编辑</button>
      {{if DetailMain[0].serviceStatus==3}}
      <button id="release" type="button" data-status="4" class="btn">发布</button>
      {{/if}}
      {{if DetailMain[0].serviceStatus==4}}
      <button id="release" type="button" data-status="3" class="btn">隐藏</button>
      {{/if}}
    </div>

  </div><!-- end container-box -->
</div> <!-- end container -->
