

  <div class="container">
    <br>
    <div class="plandetail-page detailpage">
      <ul class="pull-right breadcrumb">
        <li><a href="javascript:void();">产品管理</a></li>
        <li><a href="javascript:void();">我的方案</a></li>
        <li class="active"><a href="javascript:void()">详情预览</a></li>
        <li class="underline"><a href="JavaScript:history.back();">返回</a></li>
      </ul> <!-- end 面包屑导航breadcrumb -->
      <div>
        <div class="row">
          <div class="col-md-12 carousel">
            <div class="carousel-container">
              <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  {{each $data.PlanInfo[0].PicURL}}
                  {{if $index == 0}}
                  <div class="item active">
                    {{else}}
                    <div class="item">
                      {{/if}}
                      <img src="${ $data.IMGHOST }${ $data.PlanInfo[0].PicURL[$index]}" alt="Chania">
                    </div>
                    {{/each}}
                  </div>
                  <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div><!-- end carousel -->
              </div> <!-- end carousel-container -->
            </div> <!-- end carousel-container -->
          </div><!-- end 日历和banner部分widget -->
        </div>

        <div class="row project">
          <h1>${$data.PlanInfo[0].PlanName}</h1>
          <div class="project-main clearfix">
            <div class="col-md-4">
              <div class="imgBox">
                <img src="${ $data.IMGHOST }${$data.PlanInfo[0].AvatarPicURL}" alt="策划师头像" id="planerAvatar">
              </div>
              <div class="planner">
                <h3>策划师:${$data.PlanInfo[0].UserName}<span class="vipIcon"></span></h3>
                <span class="name" id="planerName">${$data.PlanInfo[0].UserMobile}</span>
                <!--<a  class="btn btn-warning" id="TALK" target="_blank">咨询</a>-->
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="price">成人价：￥<span id="AdultPrice">${ $data.PlanInfo[0].AdultPrice}</span>元起&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;儿童价：￥<span id="KidPrice">${ $data.PlanInfo[0].KidPrice}</span>元起</h4>

              <!--<a data-href="#/planpay1?PlanID=${$data.PlanInfo[0].PlanID}" id="buyNow"><button class="btn btn-primary">立即购买</button></a>-->
            </div>
          </div><!-- end main -->
        </div><!-- end 咨询师部分project -->

        <div class="row plandetail-main">
          <div class="col-md-12 ">
            <div class="scheduleBox">
              <div class="scheduleNav clearfix" id="scheduleNav">
                <h2 class="pull-left">行程概览</h2>
                <div class="navList pull-right">
                  <i class="glyphicon glyphicon-menu-left pull-left" id="preBtn"></i>
                  <ul class="pull-left">
                    {{each(k,v) PlanSchedule}}
                    {{if  ("__countScheduleID" != k)  }}
                    <li>
                      <a href="#day01">
                        <button type="button" class="btn btn-default">第${v.__index}天</button>
                      </a>
                    </li>
                    {{/if}}
                    {{/each}}
                  </ul>
                  <i class="glyphicon glyphicon-menu-right pull-left" id="nextBtn"></i>
                </div>
              </div>
              <div class="address">
                <div class="starter">
                  <i class="glyphicon glyphicon-map-marker"></i>
                  出发地：
                  <span id="starter">${$data.PlanInfo[0].StartCity}</span>
                </div>
                <div class="pass">
                  <i class="glyphicon glyphicon-map-marker"></i>
                  经过：
                  <span id="passing">{{each(k, v) PlanSchedule}}{{if  ("__countScheduleID" != k)  }} ${v.__values[0].CountryNameCn}${v.__values[0].CityNameCn}${v.__values[0].CountryNameCn}${v.__values[0].CityNameCn}{{/if}}{{/each}}
							</span>
                </div>
              </div>
              <div class="feature clearfix">
                <div class="col-md-2">
                  <div class="tittle">方案特色</div>
                </div>
                <div class="col-md-10" style="width: 60%;">
                  <p class="text">
                    ${$data.PlanInfo[0].PlanFeature}
                  </p>
                </div>
              </div>
              <div class="scheduleDetails">
                <ul>
                  {{each(k,v) PlanSchedule}}
                  {{if  ("__countScheduleID" != k)  }}
                  <li id="day01">
                    <h3 class="day">第${v.__index}天</h3>
                    <div class="content">
                      <ul class="clearfix">
                        {{each  v.__values}}
                        {{if ScheduleType != 0  }}
                        <li>
                          <div class="picText">
                            <!-- {{if ScheduleType == 0  }}
                              {{if PicURL == null }}<img src="../img/CityIcon.png" alt="">{{/if}}
                              {{if PicURL != null }}<img src="${ $data.IMGHOST }${PicURL}" alt="">{{/if}}
                            {{/if}} -->
                            <div class="text">                                                    
                              {{if  ScheduleType == 1  }}
                              <strong>${AirportNameCn}${AirportNameEn}${AirportCode}</strong>
                              <p>机场</p>
                              {{else}}
                              <strong>${NameCh}</strong>
                              <p>建议游玩时间：${SpotTravelTime} 小时</p>
                              {{/if}}
                            </div>
                            {{if ScheduleType == 1 }}
                            <img src="../img/airPlaneIcon.png" alt="">
                            {{/if}}
                            {{if (ScheduleType == 2 ||ScheduleType == 3 ||ScheduleType == 4 ||ScheduleType == 5) }}
                            <img data-src="${ $data.IMGHOST }${PicURL}">
                            <div class="des">${Description}</div>
                            <span class="fa fa-chevron-right fr moreDetail" data-spotsid="${SpotsID}" data-scheduletype="${ScheduleType}"></span>
                            {{/if}}

                          </div><!-- end picText -->
                          <div class="nextBtn">
                            <span class="glyphicon glyphicon-menu-right"></span>
                          </div>
                        </li>
                        {{/if}}
                        {{/each}}
                      </ul>
                      <!-- <ul class="clearfix">
                        {{each  v.__values}}
                        <li style="width:350px">
                          <div class="picText">
                            {{if ScheduleType == 0  }}
                            {{if PicURL == null }}<img src="../img/CityIcon.png" alt="">{{/if}}
                            {{if PicURL != null }}<img src="${ $data.IMGHOST }${PicURL}" alt="">{{/if}}
                            {{/if}}
                            {{if ScheduleType == 1 }}
                            <img src="../img/airPlaneIcon.png" alt="">
                            {{/if}}
                            {{if (ScheduleType == 2 ||ScheduleType == 3 ||ScheduleType == 4 ||ScheduleType == 5) }}
                            <img data-src="${ $data.IMGHOST }${PicURL}">
                            {{/if}}
                            <div class="text media-body">
                              <div class="media-heading">${NameCh}</div>
                              <div>${PlanNumber}</div>
                              <div>${StartCity}</div>
                              {{if  ScheduleType == 0  }}
                              <span>${CountryNameCn}${CountryNameEn}&nbsp;&nbsp;</span>
                              <span>${CityNameCn}${CityNameEn}</span>
                              {{/if}}
                              {{if  ScheduleType == 1  }}
                              <div>${AirportNameCn}${AirportNameEn}${AirportCode}</div>
                              {{/if}}
                            </div>
                          </div>
                          <div class="nextBtn">
                            <span class="glyphicon glyphicon-menu-right"></span>
                          </div>
                        </li>
                        {{/each}}
                      </ul> -->
                    </div>
                  </li>
                  {{/if}}
                  {{/each}}
                </ul>
              </div>
            </div><!-- end 预定须知 -->
            <div class="feature featureAlone clearfix" id="attention">
              <div class="col-md-2">
                <div class="tittle">预订须知</div>
              </div>
              <div class="col-md-10">
                <ul class="text" id="orderNotice">
                  <li id="policy"></li>
                </ul>
              </div>
            </div><!-- end 预定须知结束 -->
            <div class="feature featureAlone clearfix" id="">
              <div class="col-md-2">
                <div class="tittle">费用包含</div>
              </div>
              <div class="col-md-10">
                <ul class="text" id="orderNotice">
                  <li id="costinc"></li>
                </ul>
              </div>
            </div><!-- end 预定须知结束 -->
            <div class="feature featureAlone clearfix" id="">
              <div class="col-md-2">
                <div class="tittle">费用自理</div>
              </div>
              <div class="col-md-10">
                <ul class="text" id="orderNotice">
                  <li id="costexc" class="clearfix"></li>
                </ul>
              </div>
            </div><!-- end 预定须知结束 -->
            <div class="feature featureAlone clearfix" id="">
              <div class="col-md-2">
                <div class="tittle">签证须知</div>
              </div>
              <div class="col-md-10">
                <ul class="text" id="orderNotice">
                  <li id="visa"></li>
                </ul>
              </div>
            </div><!-- end 预定须知结束 -->
            <div class="feature featureAlone clearfix" id="">
              <div class="col-md-2">
                <div class="tittle">注意事项</div>
              </div>
              <div class="col-md-10">
                <ul class="text" id="orderNotice">
                  <li id="warning"></li>
                </ul>
              </div>
            </div><!-- end 预定须知结束 -->

          </div>
        </div> <!-- end plandetail-main -->

        <!--编辑报价-->
        <div class="featureAlone row">
          <h4>查看报价</h4>
          <div class="col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-8">
            <div class="col-sm-10 col-md-8" id="calendar"></div>
          </div>
        </div>

        <!-- 单日价格设置弹出框 -->
        <div id="dayPriceSet" class="modal fade">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title clearfix text-center">查看价格详情</h4>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td>报价名称</td>
                      <td>成人价</td>
                      <td>儿童价</td>
                      <td>库存</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="text" placeholder="请输入"/></td>
                      <td><input type="text" placeholder="请输入"/></td>
                      <td><input type="text" placeholder="请输入"/></td>
                      <td><input type="text" placeholder="请输入"/></td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- end modal-body -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- 单日价格设置弹出框结束 -->

        <a href="#/templateplanedit?version=2&PlanID=${$data.PlanInfo[0].PlanID}"  class="btn  btn-warning">编辑</a>
      </div>
    </div> <!-- end plandetail-page -->
  </div> <!-- end container-->


  <style>
  .layui-layer-tips .layui-layer-content{background-color: #FFF; color:#333; }
  .layui-layer-tips i.layui-layer-TipsL, .layui-layer-tips i.layui-layer-TipsR{border-bottom-color: #FFF;}
  .layui-layer-tips .layui-layer-content h3{margin: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
  .layui-layer-tips .layui-layer-content p{color: #666; margin-bottom: 0; font-size: 14px;}
  .layui-layer-tips .layui-layer-content .fa{color:#00b8ee; margin-right: 6px;}
  .layui-layer-tips .layui-layer-content .lineBox{padding:5px 20px; margin:5px 0; border-top: 1px solid #f1f1f1;}
  .layui-layer-tips .layui-layer-content .carousel-inner > .item > img{height: 100%;}
</style>
<script>
  $(function(){
    
        $('.moreDetail').on('click',function(){
          var self = $(this).parent().find('img');
          var scheduletype = $(this).data("scheduletype");
          var spotsid = $(this).data("spotsid");
          
          $.ajax({
            url:'/dashboard/product/attraction/detail',
            type: 'post',
            data: {spotsID:spotsid},
            success:function(data){
              var data = JSON.parse(data);
              var html ='';
          html += '<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"><ol class="carousel-indicators">';
          for(var i=0; i<data.SpotPics.length; i++){
            if(i==0){html += '<li data-target="#carousel-example-generic" data-slide-to="'+(i+1)+'" class="active"></li>';}
            else{html += '<li data-target="#carousel-example-generic" data-slide-to="'+(i+1)+'" ></li>';}
          }
            html += '</ol><div class="carousel-inner" role="listbox">';
            for(var i=0; i<data.SpotPics.length; i++){
            if(i==0){html += '<div class="item active"><img src="'+data.IMGHOST+data.SpotPics[i].PicURL+'" alt="..."></div>';}
            else{html += '<div class="item"><img src="'+data.IMGHOST+data.SpotPics[i].PicURL+'" alt="..."></div>';}
          } 
            html += '</div><a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" ><span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a></div>';

              html += '<div class="lineBox" style="border-top:none;"><h3> <span class="fa fa-university"></span>'+data.SpotDetail[0].NameCh+'</h3><p style=" padding-left: 34px;">'+data.SpotDetail[0].NameEn+'</p>';
              for(var i = 0; i<data.SpotLabels.length; i++){
                html += '<span class="label label-primary">'+data.SpotLabels[i].ClassifyLabel+'</span> ';
              }
              html += '</div><div class="lineBox">建议游玩时间：<span class="pull-right">'+data.SpotDetail[0].TravelTime+'小时</span></div>';
              html += '<div class="lineBox"><p><span class="fa fa-map-marker"> </span>'+data.SpotDetail[0].CountryName+':'+data.SpotDetail[0].CityName+'</p></div>';
              html += '<div class="lineBox"><p><span class="fa fa-phone"> </span>'+data.SpotDetail[0].Address+'</p></div>';
              html += '<h4 style="padding-left:20px;">详情信息</h4><div class="lineBox">'+data.SpotDetail[0].Description+'</div>';
              layer.open({
                  type: 4,
                  closeBtn: 0,
                  area: '500px',
                  fixed: false,
                  shadeClose:true,
                  anim:0,
                  content: [html, self] 
                });
            }
          })          
            
        });

        $('#disMore').on('click',function(){
          $('#otherBox').hide();
          $('#recommendBox').hide();
          $('#recommendBox2').show();
          
        });
        $('#disMore2').on('click',function(){
          $('#otherBox').show();
          $('#recommendBox').show();
          $('#recommendBox2').hide();
          
        });
  });
</script>