

  <div class="container">
    <br>
    <div class="plandetail-page">
      <div>
        <div class="row">
          <div class="col-md-12 carousel">
            <div class="carousel-container">
              <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  {{each $data.PlanInfo[0].PicURL}}
                  {{if $index == 0}}
                  <div class="item active">
                    {{else}}
                    <div class="item">
                      {{/if}}
                      <img src="${ $data.IMGHOST }${PicUrl}${ $data.PlanInfo[0].PicURL[$index]}" alt="Chania">
                    </div>
                    {{/each}}
                  </div>
                  <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div><!-- end carousel -->
              </div> <!-- end carousel-container -->
            </div> <!-- end carousel-container -->
          </div><!-- end 日历和banner部分widget -->
        </div>

        <div class="row project">

          <div class="project-main clearfix">
            <div class="col-md-5">
              <div class="imgBox">
                <img src="${ $data.IMGHOST }${$data.PlanInfo[0].AvatarPicURL}" alt="策划师头像" id="planerAvatar">
              </div>
              <div class="planner">
                <h3>策划师:${$data.PlanInfo[0].UserName}<span class="vipIcon"></span></h3>
                <span class="name" id="planerName">${$data.PlanInfo[0].UserMobile}</span>
                <!--<a  class="btn btn-warning" id="TALK" target="_blank">咨询</a>-->
              </div>
            </div>
            <div class="col-md-5">
              <h4 class="price">￥<span id="salePrice">${ $data.PlanInfo[0].AdultPrice}</span>元</h4>
              <!--<a data-href="#/planpay1?PlanID=${$data.PlanInfo[0].PlanID}" id="buyNow"><button class="btn btn-primary">立即购买</button></a>-->
            </div>
            <div class="col-md-2">
              <p><i class="fa fa-heart-o"></i>添加收藏</p>
              <p><span id="playedNum">99</span>人玩过 | <span id="commetsNum">99</span>条评论</p>
            </div>
          </div><!-- end main -->
        </div><!-- end 咨询师部分project -->

        <div class="row plandetail-main">
          <div class="col-md-12  ">
            <div class="scheduleBox">
              <div class="scheduleNav clearfix" id="scheduleNav">
                <h2 class="pull-left">行程概览</h2>
                <div class="navList pull-right">
                  <i class="glyphicon glyphicon-menu-left pull-left" id="preBtn"></i>
                  <ul class="pull-left">
                    {{each(k,v) PlanSchedule}}
                    {{if  ("__countScheduleID" != k)  }}
                    <li>
                      <a href="#day01">
                        <button type="button" class="btn btn-default">第${v.__index}天</button>
                      </a>
                    </li>
                    {{/if}}
                    {{/each}}
                  </ul>
                  <i class="glyphicon glyphicon-menu-right pull-left" id="nextBtn"></i>
                </div>
              </div>
              <div class="address">
                <div class="starter">
                  <i class="glyphicon glyphicon-map-marker"></i>
                  出发地：
                  <span id="starter">${$data.PlanInfo[0].StartCity}</span>
                </div>
                <div class="pass">
                  <i class="glyphicon glyphicon-map-marker"></i>
                  经过：
                  <span id="passing">{{each(k, v) PlanSchedule}}{{if  ("__countScheduleID" != k)  }} ${v.__values[0].CountryNameCn}${v.__values[0].CityNameCn}${v.__values[0].CountryNameCn}${v.__values[0].CityNameCn}{{/if}}{{/each}}
							</span>
                </div>
              </div>
              <div class="feature clearfix">
                <div class="col-md-2">
                  <div class="tittle">方案特色</div>
                </div>
                <div class="col-md-10">
                  <p class="text">
                    ${$data.PlanInfo[0].PlanFeature}
                  </p>
                </div>
              </div>
              <div class="scheduleDetails">
                <ul>
                  {{each(k,v) PlanSchedule}}
                  {{if  ("__countScheduleID" != k)  }}
                  <li id="day01">
                    <h3 class="day">第${v.__index}天</h3>
                    <div class="content">
                      <ul class="clearfix">
                        {{each  v.__values}}
                        <li style="width:350px">
                          <div class="picText">
                            {{if ScheduleType == 0  }}
                            {{if PicURL == null }}<img src="../img/CityIcon.png" alt="">{{/if}}
                            {{if PicURL != null }}<img src="${ $data.IMGHOST }${PicURL}" alt="">{{/if}}
                            {{/if}}
                            {{if ScheduleType == 1 }}
                            <img src="../img/airPlaneIcon.png" alt="">
                            {{/if}}
                            {{if (ScheduleType == 2 ||ScheduleType == 3 ||ScheduleType == 4 ||ScheduleType == 5) }}
                            <img data-src="${ $data.IMGHOST }${PicURL}">
                            {{/if}}
                            <div class="text media-body">
                              <div class="media-heading">${NameCh}</div>
                              <div>${PlanNumber}</div>
                              <div>${StartCity}</div>
                              {{if  ScheduleType == 0  }}
                              <span>${CountryNameCn}${CountryNameEn}&nbsp;&nbsp;</span>
                              <span>${CityNameCn}${CityNameEn}</span>
                              {{/if}}
                              {{if  ScheduleType == 1  }}
                              <div>${AirportNameCn}${AirportNameEn}${AirportCode}</div>
                              {{/if}}
                            </div>
                          </div><!-- end picText -->
                          <div class="nextBtn">
                            <span class="glyphicon glyphicon-menu-right"></span>
                          </div>
                        </li>
                        {{/each}}
                      </ul>
                    </div>
                  </li>
                  {{/if}}
                  {{/each}}
                </ul>
              </div>
            </div><!-- end 预定须知 -->
            <div class="feature featureAlone clearfix" id="attention">
              <div class="col-md-2">
                <div class="tittle">预订须知</div>
              </div>
              <div class="col-md-10">
                <ul class="text" id="orderNotice">
                  <li id="policy"></li>
                </ul>
              </div>
            </div><!-- end 预定须知结束 -->
          </div>
        </div> <!-- end plandetail-main -->
        <a href="#/templateplanedit?version=2&PlanID=${$data.PlanInfo[0].PlanID}"  class="btn  btn-warning">编辑</a>
      </div>
    </div> <!-- end plandetail-page -->
  </div> <!-- end container