<div class="container">
	<div class="row service-dropdown">
		<div class="col-md-10"></div>
		<div class="col-md-2 service-release">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<a href="#/activityedit">发布活动</a>
				</button>
			</div>
		</div><!-- end 下拉菜单部分 -->
	</div> <!-- end  服务列表页头部row -->
	<!-- 服务列表开始 -->
	{{if Service != 0}}
	<div class="list-group service-list">
	  	<div class="list-group-item clearfix disabled">
		  	<div class="col-md-1"></div>
		  	<div class="col-md-6 service-name">我的活动</div>
		  	<div class="col-md-2"></div>
	      	<div class="col-md-2 ">发布状态(隐藏/发布)</div>
		  	<div class="col-md-1 ">编辑</div>
	  	</div>
		{{each Service}}		
		<div class="list-group-item clearfix btn-group">
			<div class="col-md-1">
				<input type="radio" name="optradio">
			</div>
			<div class="col-md-8 ">
				<div class="media">
					<div class="media-left media-top">
						<a href="#/serviceactivitydetail?ServiceID=${ServiceID}">
							<img src="${ $data.IMGHOST }${PicURL}" class="media-object" style="width:160px;height:160px"></img>
						</a>
					</div>
					<div class="media-body">
						<div class="media-heading">${ServiceName}</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 margin-top">
				{{if ServiceStatus ==3}}<input class="switchCheckbox release" type="checkbox" data-on-text="已发布" data-off-text="隐藏" data-status='4' data-serviceid=${ServiceID}> {{/if}}{{if ServiceStatus ==4}}<input class="switchCheckbox release" type="checkbox" data-on-text="已发布" data-off-text="隐藏" data-status='3'  data-serviceid=${ServiceID} checked > {{/if}}
			</div>
			<div class="col-md-1 service-edit">
				<a href="#/activityedit?ServiceID=${ServiceID}">
				<span class="btn  glyphicon glyphicon-edit"></span>
				</a>
			</div>
		</div>
		{{/each}}
	</div> <!-- end list-group -->
	{{/if}}
</div> <!-- end container -->
<!-- 页码 -->
<div class="container">
	<div class="pagination">
	{{if $data.Counts[0].Count != 0}}
		<li>
			<a href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{{for $data.Counts[0].Count}}
		<li><a href="#">${i}</a></li>
		{{/for}}
		<li>
			<a href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	{{/if}}
	</div>
</div>