<div class="scrollable">
  <h1 class="scrollable-header app-name">内容管理 <small>1.2</small></h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'><h6>
      <a class="list-group-item" href="#/">登录<i class="fa fa-chevron-right pull-right"></i></a>
	  {{JSON.stringify(AUTH)}}
	  <a class="list-group-item" ng-repeat="key in keys" ng-if="AUTH[key].auth"	href="{{AUTH[key].lnk}}" ng-click="reload()">	{{AUTH[key].cn}}<i class="fa fa-chevron-right pull-right"></i></a>
	  <!--a class="list-group-item" ng-repeat="" ng-if="AUTH.verify"							href="#/verify">										AUTH.verify"		<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ng-repeat="" ng-if="AUTH.attractions"						href="#/attractions">									AUTH.attractions"		<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ng-repeat="" ng-if="AUTH.lodge"								href="#/lodge">													<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ng-repeat="" ng-if="AUTH.food"								href="#/food">													<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.other"								href="#/other">													<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.orders"		ng-click="reload()" href="#/orders?type=classic">				<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.orders"		ng-click="reload()" href="#/orders?type=special">				<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.orders"		ng-click="reload()" href="#/orders?type=withcar">				<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.orders"		ng-click="reload()" href="#/orders?type=withoutcar">			<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.orders"		ng-click="reload()" href="#/orders?type=pickwithcar">			<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.orders"		ng-click="reload()" href="#/orders?type=dropwithcar">			<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.orders"		ng-click="reload()" href="#/orders?type=other">					<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.refund" 							href="#/refund">												<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.cashout" 							href="#/cashout">												<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.plans" 		ng-click="reload()" href="#/plans?type=classic">				<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.plans" 		ng-click="reload()" href="#/plans?type=special">				<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.services" 		ng-click="reload()" href="#/services?type=withcar">				<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.services" 		ng-click="reload()" href="#/services?type=withoutcar">			<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.services" 		ng-click="reload()" href="#/services?type=pickwithcar">			<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.services" 		ng-click="reload()" href="#/services?type=dropwithcar">			<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.services" 		ng-click="reload()" href="#/services?type=other">				<i class="fa fa-chevron-right pull-right"></i></a> 
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.geograph" 		ng-click="reload()" href="#/geograph">							<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" ng-repeat="" ng-if="AUTH.citymgr"		ng-click="reload()" href="#/citymgr">							<i class="fa fa-chevron-right pull-right"></i></a-->

	  </h6>
    </div>
  </div>
</div>
