<div class="container">
    <div class="list-group">
	  {{each PlansByUser}} 
	  <div class="list-group-item clearfix disabled"><div class="col-md-1"><input type="radio" name="optradio"></div><div class="col-md-5">方案</div><div class="col-md-2">价格</div><div class="col-md-2">行程天数</div>
	    <div class="col-md-1 ">发布状态</div><div class="col-md-1 ">编辑</div>
	  </div>
	  <div class="list-group-item clearfix btn-group"><div class="col-md-1"><input type="radio" name="optradio"></div>
	  <div class="col-md-5 ">
	    <div class="media">
		  <div class="media-left media-top">
			<img src="${ $data.IMGHOST }${PicURL}" class="media-object" style="width:160px"></img>
		  </div>
		  <div class="media-body">
			<div class="media-heading">${PlanName}</div>
			<div>${PlanNumber}</div>
			<div>${StartCity}</div>
		  </div>
		</div>
	  </div>
	  <div class="col-md-2 ">${PlanPriceBase}</div><div class="col-md-2 ">${PlanDays}</div><div class="col-md-1 ">
	   {{if PlanStatus ==1}}待审核 {{/if}}{{if PlanStatus ==2}}审核通过 {{/if}}{{if PlanStatus ==3}}导游隐藏 {{/if}}{{if PlanStatus ==4}}导游发布 {{/if}}{{if PlanStatus ==5}}导游定制 {{/if}}{{if PlanStatus ==6}}未加入 {{/if}}{{if PlanStatus ==7}}已加入 {{/if}}
	   </div><div class="col-md-1 "><div class="btn  glyphicon glyphicon-edit"></div></div></div>
	  {{/each}}
	</div>
</div>
<div class="container">
  <div class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	{{for $data.CountOFPlans[0].Count}}
    <li><a href="#">${i}</a></li>
    {{/for}}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </div>
</div>