<div class="container">
	
    <div class="list-group service-list">
	{{if TravelogueList.length != 0}}
	<div class="list-group-item clearfix disabled">
	  	<div class="col-md-1">序号</div>
	  	<div class="col-md-8 service-name">我的攻略</div>
	  	<div class="col-md-2 ">发布状态（草稿/发布）</div>
	  	<div class="col-md-1 ">编辑</div>
	</div>
	{{each TravelogueList}}
		<div class="list-group-item clearfix btn-group">
		  	<div class="col-md-1">${$index+1}</div>
		  	<div class="col-md-8 ">
			    <div class="media">
				  	<div class="media-left media-top">
					  	<a href="#/traveloguedetail?articleID=${articleID}">
					  	{{if articlePicURL}}
							<img src="${ $data.IMGHOST }${articlePicURL}" class="media-object" style="width:160px;height:160px"></img>
					  	{{else}}
					  		<img src="../img/default.jpg" class="media-object" style="width:160px;height:160px"></img>
					  	{{/if}}
					  	</a>
					</div>
					<div class="media-body">
						<div class="media-heading">${title}</div>
						<div>${description}</div>
					</div>
				</div> <!-- end media -->
		  	</div>
		    <div class="col-md-2 margin-top">
		    {{if STATUS==0}}<input class="switchCheckbox release" type="checkbox" data-on-text="已发布" data-off-text="草稿中" data-status='1' data-articleid=${articleID}> {{/if}}{{if STATUS==1}}<input class="switchCheckbox release" type="checkbox" data-on-text="已发布" data-off-text="草稿中" data-status='0'  data-articleid=${articleID} checked > {{/if}}
		    </div>
		    <div class="col-md-1 service-edit">
		   		<a href="#/travelogueedit?articleID=${articleID}">
		   			<span class="btn  glyphicon glyphicon-edit"></span>
		   		</a>
		   	</div>
		</div>
	{{/each}}
	{{else}}
	暂时还没有攻略数据，请点击右上角按钮开始发布攻略
	{{/if}}
	</div> <!-- end list-group -->
</div> <!-- end container -->
<!-- 页码 -->
<div class="container">
	<div class="pagination">
		{{if $data.Counts[0].Count != 0}}
		<li>
			<a name="page" href="#" data-value="p" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{{for $data.Counts[0].Count}}
		<li><a name="page" data-value="${i}" href="#">${i}</a></li>
		{{/for}}
		<li>
			<a name="page" href="#" data-value="n" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{{/if}}
	</div>
</div>