
<div class="container" style="width:1200px;">
  <div class="detailpage">
    <ol class="col-md-4 pull-right breadcrumb">
      <li><a href="">产品管理</a></li>
      <li><a href="">攻略</a></li>
      <li class="active"><a href="">攻略预览</a></li>
      <li class="active"><a href="">返回</a></li>
    </ol> <!-- end 面包屑导航breadcrumb -->

    <div class="tips-mainbody">
      <div class="tips-title">
        <h1>${Travelogue[0].title}</h1>
      </div> 
      
      <ul class="tips-description">
        {{each(i,p) TravelogueDetail}}
        <li>
          {{if label!=null}}<h2>${label}<br><span></span></h2>{{/if}}
          {{if picURL!=null}}<img src="${ $data.IMGHOST }${picURL}" >{{/if}}
          {{if content!=null}}
          <div class="tipsdes">
            <p>
              ${content}
            </p>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ul><!--  end tips-description -->
      
      <h3>关联方案</h3>
      <div class="col-md-12">
        <ul id="planListDetail2"> 
        {{each $data.TravelogueToPlan}}          
          <li class="row" style="">
            <h4>${planName}</h4>
            <div class="col-md-5">
                <img src="${$data.IMGHOST}${picURL}" alt="方案封面" style="width:60px; height:60px;">
            </div>
            <div class="col-md-6">
                <p>开始城市：${startCity} </p>
                <p>方案ID：${planNumber} </p>
            </div>
          </li>
        {{/each}}               
        </ul>
      </div>

    </div> <!-- end 方案预览主题内容specialplan-mainbody -->

    <div class="buttons">
      <button id="delete" type="button" class="btn btn-default">删除</button>
      <!--内容状态（0草稿1发布）-->
      {{if Travelogue[0].STATUS == 0}}
      <button id="publish" type="button" data-status="1" class="btn btn-default">发布</button>
      {{/if}}
      {{if Travelogue[0].STATUS == 1}}
      <button id="publish" type="button" data-status="0" class="btn btn-default">隐藏</button>
      {{/if}}
      <a id="edit" type="button" class="btn btn-warning" href="#/travelogueedit?articleID=${Travelogue[0].articleID}">编辑</a>
    </div>
  </div> <!-- end container-box -->
</div> <!-- end container -->