

  <div class="container">
    <br>
    <div class="plandetail-page">
      <div>

        <div class="row plandetail-main">
          <div class="col-md-12  ">
            <div class="scheduleBox">
              <div class="scheduleNav clearfix" id="scheduleNav">
                <h2 class="pull-left">行程概览</h2>
                <div class="navList pull-right">
                  <i class="glyphicon glyphicon-menu-left pull-left" id="preBtn"></i>
                  <ul class="pull-left">
                    {{each  $data.PlanInfo.PlanSchedule}}
                    <li>
                      <a href="#day${$index+1}">
                        <button type="button" class="btn btn-default">第${$index+1}天</button>
                      </a>
                    </li>
                    {{/each}}
                  </ul>
                  <i class="glyphicon glyphicon-menu-right pull-left" id="nextBtn"></i>
                </div>
              </div>
              <div class="address">
                <div class="starter">
                  <i class="glyphicon glyphicon-map-marker"></i>
                  出发地：
                  <span id="starter">${$data.PlanInfo.StartCity}</span>
                </div>
                <div class="pass">
                  <i class="glyphicon glyphicon-map-marker"></i>
                  经过：
                  <span id="passing">{{each(k, v) $data.PlanInfo.PlanSchedule}}
                    ${v.CountryNameCn}${v.CityNameCn}${v.CountryNameCn}${v.CityNameCn}
                    {{/each}}
							</span>
                </div>
              </div>
              <div class="feature clearfix">
                <div class="col-md-2">
                  <div class="tittle">方案特色</div>
                </div>
                <div class="col-md-10">
                  <p class="text">
                    ${$data.PlanInfo.PlanFeature}
                  </p>
                </div>
              </div>
              <div class="scheduleDetails">
                <ul>
                  {{each(k,day) $data.PlanInfo.PlanSchedule}}
                  <li id="day01">
                    <h3 class="day">第${k}天</h3>
                    <div class="content">
                      <ul class="clearfix">
                        {{each  day.Spot}}
                        <li style="width:350px">
                          <div class="picText">
                            {{if ScheduleType == 0  }}
                            {{if SpotPicUrl == null }}<img src="../img/CityIcon.png" alt="">{{/if}}
                            {{if SpotPicUrl != null }}<img src="${ $data.IMGHOST }${SpotPicUrl}" alt="">{{/if}}
                            {{/if}}
                            {{if ScheduleType == 1 }}
                            <img src="../img/airPlaneIcon.png" alt="">
                            {{/if}}
                            {{if (ScheduleType == 2 ||ScheduleType == 3 ||ScheduleType == 4 ||ScheduleType == 5) }}
                            <img data-src="${ $data.IMGHOST }${SpotPicUrl}">
                            {{/if}}
                            <div class="text media-body">
                              <div class="media-heading">${NameCh}</div>
                              <div>${PlanNumber}</div>
                              <div>${StartCity}</div>
                              {{if  ScheduleType == 0  }}
                              <span>${CountryNameCn}${CountryNameEn}&nbsp;&nbsp;</span>
                              <span>${CityNameCn}${CityNameEn}</span>
                              {{/if}}
                              {{if  ScheduleType == 1  }}
                              <div>${AirportNameCn}${AirportNameEn}${AirportCode}</div>
                              {{/if}}
                            </div>
                          </div><!-- end picText -->
                          <div class="nextBtn">
                            <span class="glyphicon glyphicon-menu-right"></span>
                          </div>
                        </li>
                        {{/each}}
                      </ul>
                    </div>
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div><!-- end 预定须知 -->


          </div>
        </div> <!-- end plandetail-main -->
        <div class="notice">
          <div class="optionBtn">
            <a href="#/templateplanedit?version=2&PlanID=${$data.PlanInfo.PlanID}"  class="btn btn-warning">编辑</a>
            <button id="send" class="btn btn-warning">发送</button>
          </div>
        </div>

      </div>
    </div> <!-- end plandetail-page -->
  </div> <!-- end container